<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>am</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ጥዋት</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ከሰዓት</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>እሑድ</string>
			<string>ሰኞ</string>
			<string>ማክሰ</string>
			<string>ረቡዕ</string>
			<string>ሐሙስ</string>
			<string>ዓርብ</string>
			<string>ቅዳሜ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>እ</string>
			<string>ሰ</string>
			<string>ማ</string>
			<string>ረ</string>
			<string>ሐ</string>
			<string>ዓ</string>
			<string>ቅ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>እሑድ</string>
			<string>ሰኞ</string>
			<string>ማክሰኞ</string>
			<string>ረቡዕ</string>
			<string>ሐሙስ</string>
			<string>ዓርብ</string>
			<string>ቅዳሜ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>እሑድ</string>
			<string>ሰኞ</string>
			<string>ማክሰ</string>
			<string>ረቡዕ</string>
			<string>ሐሙስ</string>
			<string>ዓርብ</string>
			<string>ቅዳሜ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>እ</string>
			<string>ሰ</string>
			<string>ማ</string>
			<string>ረ</string>
			<string>ሐ</string>
			<string>ዓ</string>
			<string>ቅ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>እሑድ</string>
			<string>ሰኞ</string>
			<string>ማክሰኞ</string>
			<string>ረቡዕ</string>
			<string>ሐሙስ</string>
			<string>ዓርብ</string>
			<string>ቅዳሜ</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ጃንዩ</string>
			<string>ፌብሩ</string>
			<string>ማርች</string>
			<string>ኤፕሪ</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስ</string>
			<string>ሴፕቴ</string>
			<string>ኦክተ</string>
			<string>ኖቬም</string>
			<string>ዲሴም</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ጃ</string>
			<string>ፌ</string>
			<string>ማ</string>
			<string>ኤ</string>
			<string>ሜ</string>
			<string>ጁ</string>
			<string>ጁ</string>
			<string>ኦ</string>
			<string>ሴ</string>
			<string>ኦ</string>
			<string>ኖ</string>
			<string>ዲ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ጃንዩወሪ</string>
			<string>ፌብሩወሪ</string>
			<string>ማርች</string>
			<string>ኤፕሪል</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስት</string>
			<string>ሴፕቴምበር</string>
			<string>ኦክተውበር</string>
			<string>ኖቬምበር</string>
			<string>ዲሴምበር</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ጃንዩ</string>
			<string>ፌብሩ</string>
			<string>ማርች</string>
			<string>ኤፕሪ</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስ</string>
			<string>ሴፕቴ</string>
			<string>ኦክቶ</string>
			<string>ኖቬም</string>
			<string>ዲሴም</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ጃ</string>
			<string>ፌ</string>
			<string>ማ</string>
			<string>ኤ</string>
			<string>ሜ</string>
			<string>ጁ</string>
			<string>ጁ</string>
			<string>ኦ</string>
			<string>ሴ</string>
			<string>ኦ</string>
			<string>ኖ</string>
			<string>ዲ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ጃንዩወሪ</string>
			<string>ፌብሩወሪ</string>
			<string>ማርች</string>
			<string>ኤፕሪል</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስት</string>
			<string>ሴፕቴምበር</string>
			<string>ኦክቶበር</string>
			<string>ኖቬምበር</string>
			<string>ዲሴምበር</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
