<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE، d MMMM، y</string>
		<key>dateFormats.long</key>
		<string>d MMMM، y</string>
		<key>dateFormats.medium</key>
		<string>dd‏/MM‏/y</string>
		<key>dateFormats.short</key>
		<string>d‏/M‏/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ص</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>م</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>الأحد</string>
			<string>الاثنين</string>
			<string>الثلاثاء</string>
			<string>الأربعاء</string>
			<string>الخميس</string>
			<string>الجمعة</string>
			<string>السبت</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ح</string>
			<string>ن</string>
			<string>ث</string>
			<string>ر</string>
			<string>خ</string>
			<string>ج</string>
			<string>س</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>الأحد</string>
			<string>الاثنين</string>
			<string>الثلاثاء</string>
			<string>الأربعاء</string>
			<string>الخميس</string>
			<string>الجمعة</string>
			<string>السبت</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>الأحد</string>
			<string>الاثنين</string>
			<string>الثلاثاء</string>
			<string>الأربعاء</string>
			<string>الخميس</string>
			<string>الجمعة</string>
			<string>السبت</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ح</string>
			<string>ن</string>
			<string>ث</string>
			<string>ر</string>
			<string>خ</string>
			<string>ج</string>
			<string>س</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>الأحد</string>
			<string>الاثنين</string>
			<string>الثلاثاء</string>
			<string>الأربعاء</string>
			<string>الخميس</string>
			<string>الجمعة</string>
			<string>السبت</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغسطس</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>و</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>س</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغسطس</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغسطس</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>و</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>س</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغسطس</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>ar-DZ</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>y/MM/dd</string>
		<key>dateFormats.short</key>
		<string>y/M/d</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>أ</string>
			<string>س</string>
			<string>أ</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>أ</string>
			<string>س</string>
			<string>أ</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
	</dict>
	<key>ar-IQ</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرین الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
	</dict>
	<key>ar-JO</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
	</dict>
	<key>ar-LB</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>MMM d, y</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
	</dict>
	<key>ar-MA</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>y/MM/dd</string>
		<key>dateFormats.short</key>
		<string>y/M/d</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>ماي</string>
			<string>يونيو</string>
			<string>يوليوز</string>
			<string>غشت</string>
			<string>شتنبر</string>
			<string>أكتوبر</string>
			<string>نونبر</string>
			<string>دجنبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>ش</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>ماي</string>
			<string>يونيو</string>
			<string>يوليوز</string>
			<string>غشت</string>
			<string>شتنبر</string>
			<string>أكتوبر</string>
			<string>نونبر</string>
			<string>دجنبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>ماي</string>
			<string>يونيو</string>
			<string>يوليوز</string>
			<string>غشت</string>
			<string>شتنبر</string>
			<string>أكتوبر</string>
			<string>نونبر</string>
			<string>دجنبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>ش</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>أبريل</string>
			<string>ماي</string>
			<string>يونيو</string>
			<string>يوليوز</string>
			<string>غشت</string>
			<string>شتنبر</string>
			<string>أكتوبر</string>
			<string>نونبر</string>
			<string>دجنبر</string>
		</array>
	</dict>
	<key>ar-MR</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>إبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغشت</string>
			<string>شتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>دجمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>إ</string>
			<string>و</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>ش</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>إبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغشت</string>
			<string>شتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>دجمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>إبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغشت</string>
			<string>شتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>دجمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ي</string>
			<string>ف</string>
			<string>م</string>
			<string>إ</string>
			<string>و</string>
			<string>ن</string>
			<string>ل</string>
			<string>غ</string>
			<string>ش</string>
			<string>ك</string>
			<string>ب</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>يناير</string>
			<string>فبراير</string>
			<string>مارس</string>
			<string>إبريل</string>
			<string>مايو</string>
			<string>يونيو</string>
			<string>يوليو</string>
			<string>أغشت</string>
			<string>شتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>دجمبر</string>
		</array>
	</dict>
	<key>ar-PS</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
	</dict>
	<key>ar-SY</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ك</string>
			<string>ش</string>
			<string>آ</string>
			<string>ن</string>
			<string>أ</string>
			<string>ح</string>
			<string>ت</string>
			<string>آ</string>
			<string>أ</string>
			<string>ت</string>
			<string>ت</string>
			<string>ك</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>كانون الثاني</string>
			<string>شباط</string>
			<string>آذار</string>
			<string>نيسان</string>
			<string>أيار</string>
			<string>حزيران</string>
			<string>تموز</string>
			<string>آب</string>
			<string>أيلول</string>
			<string>تشرين الأول</string>
			<string>تشرين الثاني</string>
			<string>كانون الأول</string>
		</array>
	</dict>
	<key>ar-TN</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>y/MM/dd</string>
		<key>dateFormats.short</key>
		<string>y/M/d</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>أ</string>
			<string>س</string>
			<string>أ</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>أ</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>أ</string>
			<string>س</string>
			<string>أ</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>جانفي</string>
			<string>فيفري</string>
			<string>مارس</string>
			<string>أفريل</string>
			<string>ماي</string>
			<string>جوان</string>
			<string>جويلية</string>
			<string>أوت</string>
			<string>سبتمبر</string>
			<string>أكتوبر</string>
			<string>نوفمبر</string>
			<string>ديسمبر</string>
		</array>
	</dict>
</dict>
</plist>
