<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>be</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d.M.y</string>
		<key>dateFormats.short</key>
		<string>d.M.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>да палудня</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>пасля палудня</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>нд</string>
			<string>пн</string>
			<string>аў</string>
			<string>ср</string>
			<string>чц</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>а</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>нядзеля</string>
			<string>панядзелак</string>
			<string>аўторак</string>
			<string>серада</string>
			<string>чацвер</string>
			<string>пятніца</string>
			<string>субота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>нд</string>
			<string>пн</string>
			<string>аў</string>
			<string>ср</string>
			<string>чц</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>а</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>нядзеля</string>
			<string>панядзелак</string>
			<string>аўторак</string>
			<string>серада</string>
			<string>чацвер</string>
			<string>пятніца</string>
			<string>субота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>сту</string>
			<string>лют</string>
			<string>сак</string>
			<string>кра</string>
			<string>мая</string>
			<string>чэр</string>
			<string>ліп</string>
			<string>жні</string>
			<string>вер</string>
			<string>кас</string>
			<string>ліс</string>
			<string>сне</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>с</string>
			<string>л</string>
			<string>с</string>
			<string>к</string>
			<string>м</string>
			<string>ч</string>
			<string>л</string>
			<string>ж</string>
			<string>в</string>
			<string>к</string>
			<string>л</string>
			<string>с</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>студзеня</string>
			<string>лютага</string>
			<string>сакавіка</string>
			<string>красавіка</string>
			<string>мая</string>
			<string>чэрвеня</string>
			<string>ліпеня</string>
			<string>жніўня</string>
			<string>верасня</string>
			<string>кастрычніка</string>
			<string>лістапада</string>
			<string>снежня</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>сту</string>
			<string>лют</string>
			<string>сак</string>
			<string>кра</string>
			<string>май</string>
			<string>чэр</string>
			<string>ліп</string>
			<string>жні</string>
			<string>вер</string>
			<string>кас</string>
			<string>ліс</string>
			<string>сне</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>с</string>
			<string>л</string>
			<string>с</string>
			<string>к</string>
			<string>м</string>
			<string>ч</string>
			<string>л</string>
			<string>ж</string>
			<string>в</string>
			<string>к</string>
			<string>л</string>
			<string>с</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>студзень</string>
			<string>люты</string>
			<string>сакавік</string>
			<string>красавік</string>
			<string>май</string>
			<string>чэрвень</string>
			<string>ліпень</string>
			<string>жнівень</string>
			<string>верасень</string>
			<string>кастрычнік</string>
			<string>лістапад</string>
			<string>снежань</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH.mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH.mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>HH.mm.ss</string>
		<key>timeFormats.short</key>
		<string>HH.mm</string>
	</dict>
</dict>
</plist>
