<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y 'г'.</string>
		<key>dateFormats.long</key>
		<string>d MMMM y 'г'.</string>
		<key>dateFormats.medium</key>
		<string>d.MM.y 'г'.</string>
		<key>dateFormats.short</key>
		<string>d.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>пр.об.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>сл.об.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>нд</string>
			<string>пн</string>
			<string>вт</string>
			<string>ср</string>
			<string>чт</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>в</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>неделя</string>
			<string>понеделник</string>
			<string>вторник</string>
			<string>сряда</string>
			<string>четвъртък</string>
			<string>петък</string>
			<string>събота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>нд</string>
			<string>пн</string>
			<string>вт</string>
			<string>ср</string>
			<string>чт</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>в</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>неделя</string>
			<string>понеделник</string>
			<string>вторник</string>
			<string>сряда</string>
			<string>четвъртък</string>
			<string>петък</string>
			<string>събота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ян.</string>
			<string>февр.</string>
			<string>март</string>
			<string>апр.</string>
			<string>май</string>
			<string>юни</string>
			<string>юли</string>
			<string>авг.</string>
			<string>септ.</string>
			<string>окт.</string>
			<string>ноем.</string>
			<string>дек.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>я</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ю</string>
			<string>ю</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>януари</string>
			<string>февруари</string>
			<string>март</string>
			<string>април</string>
			<string>май</string>
			<string>юни</string>
			<string>юли</string>
			<string>август</string>
			<string>септември</string>
			<string>октомври</string>
			<string>ноември</string>
			<string>декември</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ян.</string>
			<string>февр.</string>
			<string>март</string>
			<string>апр.</string>
			<string>май</string>
			<string>юни</string>
			<string>юли</string>
			<string>авг.</string>
			<string>септ.</string>
			<string>окт.</string>
			<string>ноем.</string>
			<string>дек.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>я</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ю</string>
			<string>ю</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>януари</string>
			<string>февруари</string>
			<string>март</string>
			<string>април</string>
			<string>май</string>
			<string>юни</string>
			<string>юли</string>
			<string>август</string>
			<string>септември</string>
			<string>октомври</string>
			<string>ноември</string>
			<string>декември</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
