<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bm</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>kar</string>
			<string>ntɛ</string>
			<string>tar</string>
			<string>ara</string>
			<string>ala</string>
			<string>jum</string>
			<string>sib</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>K</string>
			<string>N</string>
			<string>T</string>
			<string>A</string>
			<string>A</string>
			<string>J</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>kari</string>
			<string>ntɛnɛ</string>
			<string>tarata</string>
			<string>araba</string>
			<string>alamisa</string>
			<string>juma</string>
			<string>sibiri</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>kar</string>
			<string>ntɛ</string>
			<string>tar</string>
			<string>ara</string>
			<string>ala</string>
			<string>jum</string>
			<string>sib</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>K</string>
			<string>N</string>
			<string>T</string>
			<string>A</string>
			<string>A</string>
			<string>J</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>kari</string>
			<string>ntɛnɛ</string>
			<string>tarata</string>
			<string>araba</string>
			<string>alamisa</string>
			<string>juma</string>
			<string>sibiri</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>zan</string>
			<string>feb</string>
			<string>mar</string>
			<string>awi</string>
			<string>mɛ</string>
			<string>zuw</string>
			<string>zul</string>
			<string>uti</string>
			<string>sɛt</string>
			<string>ɔku</string>
			<string>now</string>
			<string>des</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Z</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Z</string>
			<string>Z</string>
			<string>U</string>
			<string>S</string>
			<string>Ɔ</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>zanwuye</string>
			<string>feburuye</string>
			<string>marisi</string>
			<string>awirili</string>
			<string>mɛ</string>
			<string>zuwɛn</string>
			<string>zuluye</string>
			<string>uti</string>
			<string>sɛtanburu</string>
			<string>ɔkutɔburu</string>
			<string>nowanburu</string>
			<string>desanburu</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>zan</string>
			<string>feb</string>
			<string>mar</string>
			<string>awi</string>
			<string>mɛ</string>
			<string>zuw</string>
			<string>zul</string>
			<string>uti</string>
			<string>sɛt</string>
			<string>ɔku</string>
			<string>now</string>
			<string>des</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Z</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Z</string>
			<string>Z</string>
			<string>U</string>
			<string>S</string>
			<string>Ɔ</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>zanwuye</string>
			<string>feburuye</string>
			<string>marisi</string>
			<string>awirili</string>
			<string>mɛ</string>
			<string>zuwɛn</string>
			<string>zuluye</string>
			<string>uti</string>
			<string>sɛtanburu</string>
			<string>ɔkutɔburu</string>
			<string>nowanburu</string>
			<string>desanburu</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
