<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bn</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM, y</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>পূর্বাহ্ণ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>অপরাহ্ণ</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>রবি</string>
			<string>সোম</string>
			<string>মঙ্গল</string>
			<string>বুধ</string>
			<string>বৃহস্পতি</string>
			<string>শুক্র</string>
			<string>শনি</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>র</string>
			<string>সো</string>
			<string>ম</string>
			<string>বু</string>
			<string>বৃ</string>
			<string>শু</string>
			<string>শ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>রবিবার</string>
			<string>সোমবার</string>
			<string>মঙ্গলবার</string>
			<string>বুধবার</string>
			<string>বৃহষ্পতিবার</string>
			<string>শুক্রবার</string>
			<string>শনিবার</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>রবি</string>
			<string>সোম</string>
			<string>মঙ্গল</string>
			<string>বুধ</string>
			<string>বৃহস্পতি</string>
			<string>শুক্র</string>
			<string>শনি</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>র</string>
			<string>সো</string>
			<string>ম</string>
			<string>বু</string>
			<string>বৃ</string>
			<string>শু</string>
			<string>শ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>রবিবার</string>
			<string>সোমবার</string>
			<string>মঙ্গলবার</string>
			<string>বুধবার</string>
			<string>বৃহষ্পতিবার</string>
			<string>শুক্রবার</string>
			<string>শনিবার</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>জানুয়ারী</string>
			<string>ফেব্রুয়ারী</string>
			<string>মার্চ</string>
			<string>এপ্রিল</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জুলাই</string>
			<string>আগস্ট</string>
			<string>সেপ্টেম্বর</string>
			<string>অক্টোবর</string>
			<string>নভেম্বর</string>
			<string>ডিসেম্বর</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>জা</string>
			<string>ফে</string>
			<string>মা</string>
			<string>এ</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জু</string>
			<string>আ</string>
			<string>সে</string>
			<string>অ</string>
			<string>ন</string>
			<string>ডি</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>জানুয়ারী</string>
			<string>ফেব্রুয়ারী</string>
			<string>মার্চ</string>
			<string>এপ্রিল</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জুলাই</string>
			<string>আগস্ট</string>
			<string>সেপ্টেম্বর</string>
			<string>অক্টোবর</string>
			<string>নভেম্বর</string>
			<string>ডিসেম্বর</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>জানুয়ারী</string>
			<string>ফেব্রুয়ারী</string>
			<string>মার্চ</string>
			<string>এপ্রিল</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জুলাই</string>
			<string>আগস্ট</string>
			<string>সেপ্টেম্বর</string>
			<string>অক্টোবর</string>
			<string>নভেম্বর</string>
			<string>ডিসেম্বর</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>জা</string>
			<string>ফে</string>
			<string>মা</string>
			<string>এ</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জু</string>
			<string>আ</string>
			<string>সে</string>
			<string>অ</string>
			<string>ন</string>
			<string>ডি</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>জানুয়ারী</string>
			<string>ফেব্রুয়ারী</string>
			<string>মার্চ</string>
			<string>এপ্রিল</string>
			<string>মে</string>
			<string>জুন</string>
			<string>জুলাই</string>
			<string>আগস্ট</string>
			<string>সেপ্টেম্বর</string>
			<string>অক্টোবর</string>
			<string>নভেম্বর</string>
			<string>ডিসেম্বর</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
