<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>br</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sul</string>
			<string>lun</string>
			<string>meu.</string>
			<string>mer.</string>
			<string>yaou</string>
			<string>gwe.</string>
			<string>sad.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>su</string>
			<string>lu</string>
			<string>mz</string>
			<string>mc</string>
			<string>ya</string>
			<string>gw</string>
			<string>sa</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sul</string>
			<string>Lun</string>
			<string>Meurzh</string>
			<string>Mercʼher</string>
			<string>Yaou</string>
			<string>Gwener</string>
			<string>Sadorn</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>sul</string>
			<string>lun</string>
			<string>meu.</string>
			<string>mer.</string>
			<string>yaou</string>
			<string>gwe.</string>
			<string>sad.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>su</string>
			<string>lu</string>
			<string>mz</string>
			<string>mc</string>
			<string>ya</string>
			<string>gw</string>
			<string>sa</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sul</string>
			<string>Lun</string>
			<string>Meurzh</string>
			<string>Mercʼher</string>
			<string>Yaou</string>
			<string>Gwener</string>
			<string>Sadorn</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Gen</string>
			<string>Cʼhwe</string>
			<string>Meur</string>
			<string>Ebr</string>
			<string>Mae</string>
			<string>Mezh</string>
			<string>Goue</string>
			<string>Eost</string>
			<string>Gwen</string>
			<string>Here</string>
			<string>Du</string>
			<string>Ker</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Genver</string>
			<string>Cʼhwevrer</string>
			<string>Meurzh</string>
			<string>Ebrel</string>
			<string>Mae</string>
			<string>Mezheven</string>
			<string>Gouere</string>
			<string>Eost</string>
			<string>Gwengolo</string>
			<string>Here</string>
			<string>Du</string>
			<string>Kerzu</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Gen</string>
			<string>Cʼhwe</string>
			<string>Meur</string>
			<string>Ebr</string>
			<string>Mae</string>
			<string>Mezh</string>
			<string>Goue</string>
			<string>Eost</string>
			<string>Gwen</string>
			<string>Here</string>
			<string>Du</string>
			<string>Ker</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Genver</string>
			<string>Cʼhwevrer</string>
			<string>Meurzh</string>
			<string>Ebrel</string>
			<string>Mae</string>
			<string>Mezheven</string>
			<string>Gouere</string>
			<string>Eost</string>
			<string>Gwengolo</string>
			<string>Here</string>
			<string>Du</string>
			<string>Kerzu</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
