<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ca</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM 'de' y</string>
		<key>dateFormats.long</key>
		<string>d MMMM 'de' y</string>
		<key>dateFormats.medium</key>
		<string>dd/MM/y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a. m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p. m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dg.</string>
			<string>dl.</string>
			<string>dt.</string>
			<string>dc.</string>
			<string>dj.</string>
			<string>dv.</string>
			<string>ds.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>dg</string>
			<string>dl</string>
			<string>dt</string>
			<string>dc</string>
			<string>dj</string>
			<string>dv</string>
			<string>ds</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>diumenge</string>
			<string>dilluns</string>
			<string>dimarts</string>
			<string>dimecres</string>
			<string>dijous</string>
			<string>divendres</string>
			<string>dissabte</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dg.</string>
			<string>dl.</string>
			<string>dt.</string>
			<string>dc.</string>
			<string>dj.</string>
			<string>dv.</string>
			<string>ds.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>dg</string>
			<string>dl</string>
			<string>dt</string>
			<string>dc</string>
			<string>dj</string>
			<string>dv</string>
			<string>ds</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>diumenge</string>
			<string>dilluns</string>
			<string>dimarts</string>
			<string>dimecres</string>
			<string>dijous</string>
			<string>divendres</string>
			<string>dissabte</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>gen.</string>
			<string>feb.</string>
			<string>març</string>
			<string>abr.</string>
			<string>maig</string>
			<string>juny</string>
			<string>jul.</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>des.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>GN</string>
			<string>FB</string>
			<string>MÇ</string>
			<string>AB</string>
			<string>MG</string>
			<string>JN</string>
			<string>JL</string>
			<string>AG</string>
			<string>ST</string>
			<string>OC</string>
			<string>NV</string>
			<string>DS</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>gener</string>
			<string>febrer</string>
			<string>març</string>
			<string>abril</string>
			<string>maig</string>
			<string>juny</string>
			<string>juliol</string>
			<string>agost</string>
			<string>setembre</string>
			<string>octubre</string>
			<string>novembre</string>
			<string>desembre</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>gen.</string>
			<string>feb.</string>
			<string>març</string>
			<string>abr.</string>
			<string>maig</string>
			<string>juny</string>
			<string>jul.</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>des.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>GN</string>
			<string>FB</string>
			<string>MÇ</string>
			<string>AB</string>
			<string>MG</string>
			<string>JN</string>
			<string>JL</string>
			<string>AG</string>
			<string>ST</string>
			<string>OC</string>
			<string>NV</string>
			<string>DS</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>gener</string>
			<string>febrer</string>
			<string>març</string>
			<string>abril</string>
			<string>maig</string>
			<string>juny</string>
			<string>juliol</string>
			<string>agost</string>
			<string>setembre</string>
			<string>octubre</string>
			<string>novembre</string>
			<string>desembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
	<key>ca-ES-VALENCIA</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM 'de' y</string>
		<key>dateFormats.long</key>
		<string>d MMMM 'de' y</string>
		<key>dateFormats.medium</key>
		<string>dd/MM/y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a. m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p. m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dg.</string>
			<string>dl.</string>
			<string>dt.</string>
			<string>dc.</string>
			<string>dj.</string>
			<string>dv.</string>
			<string>ds.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>dg</string>
			<string>dl</string>
			<string>dt</string>
			<string>dc</string>
			<string>dj</string>
			<string>dv</string>
			<string>ds</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>diumenge</string>
			<string>dilluns</string>
			<string>dimarts</string>
			<string>dimecres</string>
			<string>dijous</string>
			<string>divendres</string>
			<string>dissabte</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dg.</string>
			<string>dl.</string>
			<string>dt.</string>
			<string>dc.</string>
			<string>dj.</string>
			<string>dv.</string>
			<string>ds.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>dg</string>
			<string>dl</string>
			<string>dt</string>
			<string>dc</string>
			<string>dj</string>
			<string>dv</string>
			<string>ds</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>diumenge</string>
			<string>dilluns</string>
			<string>dimarts</string>
			<string>dimecres</string>
			<string>dijous</string>
			<string>divendres</string>
			<string>dissabte</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>gen.</string>
			<string>feb.</string>
			<string>març</string>
			<string>abr.</string>
			<string>maig</string>
			<string>juny</string>
			<string>jul.</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>des.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>GN</string>
			<string>FB</string>
			<string>MÇ</string>
			<string>AB</string>
			<string>MG</string>
			<string>JN</string>
			<string>JL</string>
			<string>AG</string>
			<string>ST</string>
			<string>OC</string>
			<string>NV</string>
			<string>DS</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>gener</string>
			<string>febrer</string>
			<string>març</string>
			<string>abril</string>
			<string>maig</string>
			<string>juny</string>
			<string>juliol</string>
			<string>agost</string>
			<string>setembre</string>
			<string>octubre</string>
			<string>novembre</string>
			<string>desembre</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>gen.</string>
			<string>feb.</string>
			<string>març</string>
			<string>abr.</string>
			<string>maig</string>
			<string>juny</string>
			<string>jul.</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>des.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>GN</string>
			<string>FB</string>
			<string>MÇ</string>
			<string>AB</string>
			<string>MG</string>
			<string>JN</string>
			<string>JL</string>
			<string>AG</string>
			<string>ST</string>
			<string>OC</string>
			<string>NV</string>
			<string>DS</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>gener</string>
			<string>febrer</string>
			<string>març</string>
			<string>abril</string>
			<string>maig</string>
			<string>juny</string>
			<string>juliol</string>
			<string>agost</string>
			<string>setembre</string>
			<string>octubre</string>
			<string>novembre</string>
			<string>desembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
