<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cs</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d. M. y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ne</string>
			<string>po</string>
			<string>út</string>
			<string>st</string>
			<string>čt</string>
			<string>pá</string>
			<string>so</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>Ú</string>
			<string>S</string>
			<string>Č</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>neděle</string>
			<string>pondělí</string>
			<string>úterý</string>
			<string>středa</string>
			<string>čtvrtek</string>
			<string>pátek</string>
			<string>sobota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ne</string>
			<string>po</string>
			<string>út</string>
			<string>st</string>
			<string>čt</string>
			<string>pá</string>
			<string>so</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>Ú</string>
			<string>S</string>
			<string>Č</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>neděle</string>
			<string>pondělí</string>
			<string>úterý</string>
			<string>středa</string>
			<string>čtvrtek</string>
			<string>pátek</string>
			<string>sobota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>led</string>
			<string>úno</string>
			<string>bře</string>
			<string>dub</string>
			<string>kvě</string>
			<string>čvn</string>
			<string>čvc</string>
			<string>srp</string>
			<string>zář</string>
			<string>říj</string>
			<string>lis</string>
			<string>pro</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ledna</string>
			<string>února</string>
			<string>března</string>
			<string>dubna</string>
			<string>května</string>
			<string>června</string>
			<string>července</string>
			<string>srpna</string>
			<string>září</string>
			<string>října</string>
			<string>listopadu</string>
			<string>prosince</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>led</string>
			<string>úno</string>
			<string>bře</string>
			<string>dub</string>
			<string>kvě</string>
			<string>čvn</string>
			<string>čvc</string>
			<string>srp</string>
			<string>zář</string>
			<string>říj</string>
			<string>lis</string>
			<string>pro</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>l</string>
			<string>ú</string>
			<string>b</string>
			<string>d</string>
			<string>k</string>
			<string>č</string>
			<string>č</string>
			<string>s</string>
			<string>z</string>
			<string>ř</string>
			<string>l</string>
			<string>p</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>leden</string>
			<string>únor</string>
			<string>březen</string>
			<string>duben</string>
			<string>květen</string>
			<string>červen</string>
			<string>červenec</string>
			<string>srpen</string>
			<string>září</string>
			<string>říjen</string>
			<string>listopad</string>
			<string>prosinec</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
