<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>de</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd.MM.y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>vorm.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>nachm.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>So.</string>
			<string>Mo.</string>
			<string>Di.</string>
			<string>Mi.</string>
			<string>Do.</string>
			<string>Fr.</string>
			<string>Sa.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>D</string>
			<string>M</string>
			<string>D</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sonntag</string>
			<string>Montag</string>
			<string>Dienstag</string>
			<string>Mittwoch</string>
			<string>Donnerstag</string>
			<string>Freitag</string>
			<string>Samstag</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>So</string>
			<string>Mo</string>
			<string>Di</string>
			<string>Mi</string>
			<string>Do</string>
			<string>Fr</string>
			<string>Sa</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>D</string>
			<string>M</string>
			<string>D</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sonntag</string>
			<string>Montag</string>
			<string>Dienstag</string>
			<string>Mittwoch</string>
			<string>Donnerstag</string>
			<string>Freitag</string>
			<string>Samstag</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan.</string>
			<string>Feb.</string>
			<string>März</string>
			<string>Apr.</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>Aug.</string>
			<string>Sep.</string>
			<string>Okt.</string>
			<string>Nov.</string>
			<string>Dez.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Januar</string>
			<string>Februar</string>
			<string>März</string>
			<string>April</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>August</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Dezember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mär</string>
			<string>Apr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Aug</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Januar</string>
			<string>Februar</string>
			<string>März</string>
			<string>April</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>August</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Dezember</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>de-AT</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, dd. MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd. MMMM y</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jän.</string>
			<string>Feb.</string>
			<string>März</string>
			<string>Apr.</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>Aug.</string>
			<string>Sep.</string>
			<string>Okt.</string>
			<string>Nov.</string>
			<string>Dez.</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Jänner</string>
			<string>Februar</string>
			<string>März</string>
			<string>April</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>August</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Dezember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jän</string>
			<string>Feb</string>
			<string>Mär</string>
			<string>Apr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Aug</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Jänner</string>
			<string>Februar</string>
			<string>März</string>
			<string>April</string>
			<string>Mai</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>August</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Dezember</string>
		</array>
	</dict>
</dict>
</plist>
