<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dz</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, སྤྱི་ལོ་y MMMM ཚེས་dd</string>
		<key>dateFormats.long</key>
		<string>སྤྱི་ལོ་y MMMM ཚེས་ dd</string>
		<key>dateFormats.medium</key>
		<string>སྤྱི་ལོ་y ཟླ་MMM ཚེས་dd</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>སྔ་ཆ་</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ཕྱི་ཆ་</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ཟླ་</string>
			<string>མིར་</string>
			<string>ལྷག་</string>
			<string>ཕུར་</string>
			<string>སངས་</string>
			<string>སྤེན་</string>
			<string>ཉི་</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ཟླ</string>
			<string>མིར</string>
			<string>ལྷག</string>
			<string>ཕུར</string>
			<string>སངྶ</string>
			<string>སྤེན</string>
			<string>ཉི</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>གཟའ་ཟླ་བ་</string>
			<string>གཟའ་མིག་དམར་</string>
			<string>གཟའ་ལྷག་པ་</string>
			<string>གཟའ་ཕུར་བུ་</string>
			<string>གཟའ་པ་སངས་</string>
			<string>གཟའ་སྤེན་པ་</string>
			<string>གཟའ་ཉི་མ་</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ཟླ་</string>
			<string>མིར་</string>
			<string>ལྷག་</string>
			<string>ཕུར་</string>
			<string>སངས་</string>
			<string>སྤེན་</string>
			<string>ཉི་</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ཟླ</string>
			<string>མིར</string>
			<string>ལྷག</string>
			<string>ཕུར</string>
			<string>སངྶ</string>
			<string>སྤེན</string>
			<string>ཉི</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>གཟའ་ཟླ་བ་</string>
			<string>གཟའ་མིག་དམར་</string>
			<string>གཟའ་ལྷག་པ་</string>
			<string>གཟའ་ཕུར་བུ་</string>
			<string>གཟའ་པ་སངས་</string>
			<string>གཟའ་སྤེན་པ་</string>
			<string>གཟའ་ཉི་མ་</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>༡</string>
			<string>༢</string>
			<string>༣</string>
			<string>༤</string>
			<string>༥</string>
			<string>༦</string>
			<string>༧</string>
			<string>༨</string>
			<string>༩</string>
			<string>༡༠</string>
			<string>༡༡</string>
			<string>12</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>༡</string>
			<string>༢</string>
			<string>༣</string>
			<string>4</string>
			<string>༥</string>
			<string>༦</string>
			<string>༧</string>
			<string>༨</string>
			<string>9</string>
			<string>༡༠</string>
			<string>༡༡</string>
			<string>༡༢</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ཟླ་དངཔ་</string>
			<string>ཟླ་གཉིས་པ་</string>
			<string>ཟླ་གསུམ་པ་</string>
			<string>ཟླ་བཞི་པ་</string>
			<string>ཟླ་ལྔ་པ་</string>
			<string>ཟླ་དྲུག་པ</string>
			<string>ཟླ་བདུན་པ་</string>
			<string>ཟླ་བརྒྱད་པ་</string>
			<string>ཟླ་དགུ་པ་</string>
			<string>ཟླ་བཅུ་པ་</string>
			<string>ཟླ་བཅུ་གཅིག་པ་</string>
			<string>ཟླ་བཅུ་གཉིས་པ་</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ཟླ་༡</string>
			<string>ཟླ་༢</string>
			<string>ཟླ་༣</string>
			<string>ཟླ་༤</string>
			<string>ཟླ་༥</string>
			<string>ཟླ་༦</string>
			<string>ཟླ་༧</string>
			<string>ཟླ་༨</string>
			<string>ཟླ་༩</string>
			<string>ཟླ་༡༠</string>
			<string>ཟླ་༡༡</string>
			<string>ཟླ་༡༢</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>༡</string>
			<string>༢</string>
			<string>༣</string>
			<string>༤</string>
			<string>༥</string>
			<string>༦</string>
			<string>༧</string>
			<string>༨</string>
			<string>༩</string>
			<string>༡༠</string>
			<string>༡༡</string>
			<string>༡༢</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>སྤྱི་ཟླ་དངཔ་</string>
			<string>སྤྱི་ཟླ་གཉིས་པ་</string>
			<string>སྤྱི་ཟླ་གསུམ་པ་</string>
			<string>སྤྱི་ཟླ་བཞི་པ</string>
			<string>སྤྱི་ཟླ་ལྔ་པ་</string>
			<string>སྤྱི་ཟླ་དྲུག་པ</string>
			<string>སྤྱི་ཟླ་བདུན་པ་</string>
			<string>སྤྱི་ཟླ་བརྒྱད་པ་</string>
			<string>སྤྱི་ཟླ་དགུ་པ་</string>
			<string>སྤྱི་ཟླ་བཅུ་པ་</string>
			<string>སྤྱི་ཟླ་བཅུ་གཅིག་པ་</string>
			<string>སྤྱི་ཟླ་བཅུ་གཉིས་པ་</string>
		</array>
		<key>timeFormats.full</key>
		<string>ཆུ་ཚོད་ h སྐར་མ་ mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>ཆུ་ཚོད་ h སྐར་མ་ mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>ཆུ་ཚོད་h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>ཆུ་ཚོད་ h སྐར་མ་ mm a</string>
	</dict>
</dict>
</plist>
