<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ee</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, MMMM d 'lia' y</string>
		<key>dateFormats.long</key>
		<string>MMMM d 'lia' y</string>
		<key>dateFormats.medium</key>
		<string>MMM d 'lia', y</string>
		<key>dateFormats.short</key>
		<string>M/d/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ŋdi</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ɣetrɔ</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>kɔs</string>
			<string>dzo</string>
			<string>bla</string>
			<string>kuɖ</string>
			<string>yaw</string>
			<string>fiɖ</string>
			<string>mem</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>k</string>
			<string>d</string>
			<string>b</string>
			<string>k</string>
			<string>y</string>
			<string>f</string>
			<string>m</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>kɔsiɖa</string>
			<string>dzoɖa</string>
			<string>blaɖa</string>
			<string>kuɖa</string>
			<string>yawoɖa</string>
			<string>fiɖa</string>
			<string>memleɖa</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>kɔs</string>
			<string>dzo</string>
			<string>bla</string>
			<string>kuɖ</string>
			<string>yaw</string>
			<string>fiɖ</string>
			<string>mem</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>k</string>
			<string>d</string>
			<string>b</string>
			<string>k</string>
			<string>y</string>
			<string>f</string>
			<string>m</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>kɔsiɖa</string>
			<string>dzoɖa</string>
			<string>blaɖa</string>
			<string>kuɖa</string>
			<string>yawoɖa</string>
			<string>fiɖa</string>
			<string>memleɖa</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>dzv</string>
			<string>dzd</string>
			<string>ted</string>
			<string>afɔ</string>
			<string>dam</string>
			<string>mas</string>
			<string>sia</string>
			<string>dea</string>
			<string>any</string>
			<string>kel</string>
			<string>ade</string>
			<string>dzm</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>d</string>
			<string>d</string>
			<string>t</string>
			<string>a</string>
			<string>d</string>
			<string>m</string>
			<string>s</string>
			<string>d</string>
			<string>a</string>
			<string>k</string>
			<string>a</string>
			<string>d</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>dzove</string>
			<string>dzodze</string>
			<string>tedoxe</string>
			<string>afɔfĩe</string>
			<string>dama</string>
			<string>masa</string>
			<string>siamlɔm</string>
			<string>deasiamime</string>
			<string>anyɔnyɔ</string>
			<string>kele</string>
			<string>adeɛmekpɔxe</string>
			<string>dzome</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>dzv</string>
			<string>dzd</string>
			<string>ted</string>
			<string>afɔ</string>
			<string>dam</string>
			<string>mas</string>
			<string>sia</string>
			<string>dea</string>
			<string>any</string>
			<string>kel</string>
			<string>ade</string>
			<string>dzm</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>d</string>
			<string>d</string>
			<string>t</string>
			<string>a</string>
			<string>d</string>
			<string>m</string>
			<string>s</string>
			<string>d</string>
			<string>a</string>
			<string>k</string>
			<string>a</string>
			<string>d</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>dzove</string>
			<string>dzodze</string>
			<string>tedoxe</string>
			<string>afɔfĩe</string>
			<string>dama</string>
			<string>masa</string>
			<string>siamlɔm</string>
			<string>deasiamime</string>
			<string>anyɔnyɔ</string>
			<string>kele</string>
			<string>adeɛmekpɔxe</string>
			<string>dzome</string>
		</array>
		<key>timeFormats.full</key>
		<string>a h:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>a 'ga' h:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>a 'ga' h:mm:ss</string>
		<key>timeFormats.short</key>
		<string>a 'ga' h:mm</string>
	</dict>
</dict>
</plist>
