<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>el</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>π.μ.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>μ.μ.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Κυρ</string>
			<string>Δευ</string>
			<string>Τρί</string>
			<string>Τετ</string>
			<string>Πέμ</string>
			<string>Παρ</string>
			<string>Σάβ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Κ</string>
			<string>Δ</string>
			<string>Τ</string>
			<string>Τ</string>
			<string>Π</string>
			<string>Π</string>
			<string>Σ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Κυριακή</string>
			<string>Δευτέρα</string>
			<string>Τρίτη</string>
			<string>Τετάρτη</string>
			<string>Πέμπτη</string>
			<string>Παρασκευή</string>
			<string>Σάββατο</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Κυρ</string>
			<string>Δευ</string>
			<string>Τρί</string>
			<string>Τετ</string>
			<string>Πέμ</string>
			<string>Παρ</string>
			<string>Σάβ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Κ</string>
			<string>Δ</string>
			<string>Τ</string>
			<string>Τ</string>
			<string>Π</string>
			<string>Π</string>
			<string>Σ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Κυριακή</string>
			<string>Δευτέρα</string>
			<string>Τρίτη</string>
			<string>Τετάρτη</string>
			<string>Πέμπτη</string>
			<string>Παρασκευή</string>
			<string>Σάββατο</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Ιαν</string>
			<string>Φεβ</string>
			<string>Μαρ</string>
			<string>Απρ</string>
			<string>Μαΐ</string>
			<string>Ιουν</string>
			<string>Ιουλ</string>
			<string>Αυγ</string>
			<string>Σεπ</string>
			<string>Οκτ</string>
			<string>Νοε</string>
			<string>Δεκ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Ι</string>
			<string>Φ</string>
			<string>Μ</string>
			<string>Α</string>
			<string>Μ</string>
			<string>Ι</string>
			<string>Ι</string>
			<string>Α</string>
			<string>Σ</string>
			<string>Ο</string>
			<string>Ν</string>
			<string>Δ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Ιανουαρίου</string>
			<string>Φεβρουαρίου</string>
			<string>Μαρτίου</string>
			<string>Απριλίου</string>
			<string>Μαΐου</string>
			<string>Ιουνίου</string>
			<string>Ιουλίου</string>
			<string>Αυγούστου</string>
			<string>Σεπτεμβρίου</string>
			<string>Οκτωβρίου</string>
			<string>Νοεμβρίου</string>
			<string>Δεκεμβρίου</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Ιαν</string>
			<string>Φεβ</string>
			<string>Μάρ</string>
			<string>Απρ</string>
			<string>Μάι</string>
			<string>Ιούν</string>
			<string>Ιούλ</string>
			<string>Αύγ</string>
			<string>Σεπ</string>
			<string>Οκτ</string>
			<string>Νοέ</string>
			<string>Δεκ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Ι</string>
			<string>Φ</string>
			<string>Μ</string>
			<string>Α</string>
			<string>Μ</string>
			<string>Ι</string>
			<string>Ι</string>
			<string>Α</string>
			<string>Σ</string>
			<string>Ο</string>
			<string>Ν</string>
			<string>Δ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Ιανουάριος</string>
			<string>Φεβρουάριος</string>
			<string>Μάρτιος</string>
			<string>Απρίλιος</string>
			<string>Μάιος</string>
			<string>Ιούνιος</string>
			<string>Ιούλιος</string>
			<string>Αύγουστος</string>
			<string>Σεπτέμβριος</string>
			<string>Οκτώβριος</string>
			<string>Νοέμβριος</string>
			<string>Δεκέμβριος</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
