<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eo</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d-'a' 'de' MMMM y</string>
		<key>dateFormats.long</key>
		<string>y-MMMM-dd</string>
		<key>dateFormats.medium</key>
		<string>y-MMM-dd</string>
		<key>dateFormats.short</key>
		<string>yy-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>atm</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ptm</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>di</string>
			<string>lu</string>
			<string>ma</string>
			<string>me</string>
			<string>ĵa</string>
			<string>ve</string>
			<string>sa</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>dimanĉo</string>
			<string>lundo</string>
			<string>mardo</string>
			<string>merkredo</string>
			<string>ĵaŭdo</string>
			<string>vendredo</string>
			<string>sabato</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>di</string>
			<string>lu</string>
			<string>ma</string>
			<string>me</string>
			<string>ĵa</string>
			<string>ve</string>
			<string>sa</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>dimanĉo</string>
			<string>lundo</string>
			<string>mardo</string>
			<string>merkredo</string>
			<string>ĵaŭdo</string>
			<string>vendredo</string>
			<string>sabato</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>aŭg</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januaro</string>
			<string>februaro</string>
			<string>marto</string>
			<string>aprilo</string>
			<string>majo</string>
			<string>junio</string>
			<string>julio</string>
			<string>aŭgusto</string>
			<string>septembro</string>
			<string>oktobro</string>
			<string>novembro</string>
			<string>decembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>aŭg</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januaro</string>
			<string>februaro</string>
			<string>marto</string>
			<string>aprilo</string>
			<string>majo</string>
			<string>junio</string>
			<string>julio</string>
			<string>aŭgusto</string>
			<string>septembro</string>
			<string>oktobro</string>
			<string>novembro</string>
			<string>decembro</string>
		</array>
		<key>timeFormats.full</key>
		<string>H-'a' 'horo' 'kaj' m:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
