<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>es</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d 'de' MMMM 'de' y</string>
		<key>dateFormats.long</key>
		<string>d 'de' MMMM 'de' y</string>
		<key>dateFormats.medium</key>
		<string>d/M/y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a. m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p. m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dom.</string>
			<string>lun.</string>
			<string>mar.</string>
			<string>mié.</string>
			<string>jue.</string>
			<string>vie.</string>
			<string>sáb.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>X</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>domingo</string>
			<string>lunes</string>
			<string>martes</string>
			<string>miércoles</string>
			<string>jueves</string>
			<string>viernes</string>
			<string>sábado</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Dom.</string>
			<string>Lun.</string>
			<string>Mar.</string>
			<string>Mié.</string>
			<string>Jue.</string>
			<string>Vie.</string>
			<string>Sáb.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>X</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Domingo</string>
			<string>Lunes</string>
			<string>Martes</string>
			<string>Miércoles</string>
			<string>Jueves</string>
			<string>Viernes</string>
			<string>Sábado</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ene.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>abr.</string>
			<string>may.</string>
			<string>jun.</string>
			<string>jul.</string>
			<string>ago.</string>
			<string>sept.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dic.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>E</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>enero</string>
			<string>febrero</string>
			<string>marzo</string>
			<string>abril</string>
			<string>mayo</string>
			<string>junio</string>
			<string>julio</string>
			<string>agosto</string>
			<string>septiembre</string>
			<string>octubre</string>
			<string>noviembre</string>
			<string>diciembre</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Ene.</string>
			<string>Feb.</string>
			<string>Mar.</string>
			<string>Abr.</string>
			<string>May.</string>
			<string>Jun.</string>
			<string>Jul.</string>
			<string>Ago.</string>
			<string>Sept.</string>
			<string>Oct.</string>
			<string>Nov.</string>
			<string>Dic.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>E</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Enero</string>
			<string>Febrero</string>
			<string>Marzo</string>
			<string>Abril</string>
			<string>Mayo</string>
			<string>Junio</string>
			<string>Julio</string>
			<string>Agosto</string>
			<string>Septiembre</string>
			<string>Octubre</string>
			<string>Noviembre</string>
			<string>Diciembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss (zzzz)</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
	<key>es-AR</key>
	<dict>
		<key>timeFormats.full</key>
		<string>HH'h'''mm:ss zzzz</string>
	</dict>
	<key>es-CL</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>dd-MM-y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-yy</string>
	</dict>
	<key>es-CO</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>d/MM/y</string>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
		<key>timeFormats.full</key>
		<string>h:mm:ss a (zzzz)</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>es-GT</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>d/MM/y</string>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
	</dict>
	<key>es-HN</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd 'de' MMMM 'de' y</string>
		<key>dateFormats.long</key>
		<string>dd 'de' MMMM 'de' y</string>
	</dict>
	<key>es-MX</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>dd/MM/y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dom.</string>
			<string>lun.</string>
			<string>mar.</string>
			<string>miér.</string>
			<string>jue.</string>
			<string>vier.</string>
			<string>sáb</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dom.</string>
			<string>lun</string>
			<string>mar.</string>
			<string>mié.</string>
			<string>jue.</string>
			<string>vie</string>
			<string>sáb.</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>domingo</string>
			<string>lunes</string>
			<string>martes</string>
			<string>miércoles</string>
			<string>jueves</string>
			<string>viernes</string>
			<string>sábado</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ene.</string>
			<string>febr.</string>
			<string>mzo.</string>
			<string>abr.</string>
			<string>my.</string>
			<string>jun.</string>
			<string>jul.</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dic.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>E</string>
			<string>F</string>
			<string>Ma</string>
			<string>A</string>
			<string>My</string>
			<string>Jn</string>
			<string>Jl</string>
			<string>Ag</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>en.</string>
			<string>febr.</string>
			<string>mzo.</string>
			<string>abr.</string>
			<string>my.</string>
			<string>jun</string>
			<string>jul</string>
			<string>ag.</string>
			<string>set.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dic.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>E</string>
			<string>F</string>
			<string>Ma</string>
			<string>A</string>
			<string>My</string>
			<string>Jn</string>
			<string>Jl</string>
			<string>Ag</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>enero</string>
			<string>febrero</string>
			<string>marzo</string>
			<string>abril</string>
			<string>mayo</string>
			<string>junio</string>
			<string>julio</string>
			<string>agosto</string>
			<string>septiembre</string>
			<string>octubre</string>
			<string>noviembre</string>
			<string>diciembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>es-PA</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>MM/dd/y</string>
		<key>dateFormats.short</key>
		<string>MM/dd/yy</string>
	</dict>
	<key>es-PE</key>
	<dict>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
		<key>timeFormats.full</key>
		<string>HH'H'mm''ss'' zzzz</string>
	</dict>
	<key>es-PR</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>MM/dd/y</string>
		<key>dateFormats.short</key>
		<string>MM/dd/yy</string>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>es-US</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>MMM d, y</string>
		<key>dateFormats.short</key>
		<string>M/d/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
