<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>et</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd.MM.y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>e.k.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.k.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>P</string>
			<string>E</string>
			<string>T</string>
			<string>K</string>
			<string>N</string>
			<string>R</string>
			<string>L</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>P</string>
			<string>E</string>
			<string>T</string>
			<string>K</string>
			<string>N</string>
			<string>R</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>pühapäev</string>
			<string>esmaspäev</string>
			<string>teisipäev</string>
			<string>kolmapäev</string>
			<string>neljapäev</string>
			<string>reede</string>
			<string>laupäev</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>P</string>
			<string>E</string>
			<string>T</string>
			<string>K</string>
			<string>N</string>
			<string>R</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>P</string>
			<string>E</string>
			<string>T</string>
			<string>K</string>
			<string>N</string>
			<string>R</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>pühapäev</string>
			<string>esmaspäev</string>
			<string>teisipäev</string>
			<string>kolmapäev</string>
			<string>neljapäev</string>
			<string>reede</string>
			<string>laupäev</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jaan</string>
			<string>veebr</string>
			<string>märts</string>
			<string>apr</string>
			<string>mai</string>
			<string>juuni</string>
			<string>juuli</string>
			<string>aug</string>
			<string>sept</string>
			<string>okt</string>
			<string>nov</string>
			<string>dets</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>V</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>jaanuar</string>
			<string>veebruar</string>
			<string>märts</string>
			<string>aprill</string>
			<string>mai</string>
			<string>juuni</string>
			<string>juuli</string>
			<string>august</string>
			<string>september</string>
			<string>oktoober</string>
			<string>november</string>
			<string>detsember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jaan</string>
			<string>veebr</string>
			<string>märts</string>
			<string>apr</string>
			<string>mai</string>
			<string>juuni</string>
			<string>juuli</string>
			<string>aug</string>
			<string>sept</string>
			<string>okt</string>
			<string>nov</string>
			<string>dets</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>V</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>jaanuar</string>
			<string>veebruar</string>
			<string>märts</string>
			<string>aprill</string>
			<string>mai</string>
			<string>juuni</string>
			<string>juuli</string>
			<string>august</string>
			<string>september</string>
			<string>oktoober</string>
			<string>november</string>
			<string>detsember</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm.ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
