<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eu</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y('e')'ko' MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y('e')'ko' MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ig.</string>
			<string>al.</string>
			<string>ar.</string>
			<string>az.</string>
			<string>og.</string>
			<string>or.</string>
			<string>lr.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>I</string>
			<string>A</string>
			<string>A</string>
			<string>A</string>
			<string>O</string>
			<string>O</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>igandea</string>
			<string>astelehena</string>
			<string>asteartea</string>
			<string>asteazkena</string>
			<string>osteguna</string>
			<string>ostirala</string>
			<string>larunbata</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ig.</string>
			<string>al.</string>
			<string>ar.</string>
			<string>az.</string>
			<string>og.</string>
			<string>or.</string>
			<string>lr.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>I</string>
			<string>A</string>
			<string>A</string>
			<string>A</string>
			<string>O</string>
			<string>O</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>igandea</string>
			<string>astelehena</string>
			<string>asteartea</string>
			<string>asteazkena</string>
			<string>osteguna</string>
			<string>ostirala</string>
			<string>larunbata</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>urt.</string>
			<string>ots.</string>
			<string>mar.</string>
			<string>api.</string>
			<string>mai.</string>
			<string>eka.</string>
			<string>uzt.</string>
			<string>abu.</string>
			<string>ira.</string>
			<string>urr.</string>
			<string>aza.</string>
			<string>abe.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>U</string>
			<string>O</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>E</string>
			<string>U</string>
			<string>A</string>
			<string>I</string>
			<string>U</string>
			<string>A</string>
			<string>A</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>urtarrilak</string>
			<string>otsailak</string>
			<string>martxoak</string>
			<string>apirilak</string>
			<string>maiatzak</string>
			<string>ekainak</string>
			<string>uztailak</string>
			<string>abuztuak</string>
			<string>irailak</string>
			<string>urriak</string>
			<string>azaroak</string>
			<string>abenduak</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>urt.</string>
			<string>ots.</string>
			<string>mar.</string>
			<string>api.</string>
			<string>mai.</string>
			<string>eka.</string>
			<string>uzt.</string>
			<string>abu.</string>
			<string>ira.</string>
			<string>urr.</string>
			<string>aza.</string>
			<string>abe.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>U</string>
			<string>O</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>E</string>
			<string>U</string>
			<string>A</string>
			<string>I</string>
			<string>U</string>
			<string>A</string>
			<string>A</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>urtarrila</string>
			<string>otsaila</string>
			<string>martxoa</string>
			<string>apirila</string>
			<string>maiatza</string>
			<string>ekaina</string>
			<string>uztaila</string>
			<string>abuztua</string>
			<string>iraila</string>
			<string>urria</string>
			<string>azaroa</string>
			<string>abendua</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
