<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fa</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>y/M/d</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>قبل‌ازظهر</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>بعدازظهر</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>یکشنبه</string>
			<string>دوشنبه</string>
			<string>سه‌شنبه</string>
			<string>چهارشنبه</string>
			<string>پنجشنبه</string>
			<string>جمعه</string>
			<string>شنبه</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ی</string>
			<string>د</string>
			<string>س</string>
			<string>چ</string>
			<string>پ</string>
			<string>ج</string>
			<string>ش</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>یکشنبه</string>
			<string>دوشنبه</string>
			<string>سه‌شنبه</string>
			<string>چهارشنبه</string>
			<string>پنجشنبه</string>
			<string>جمعه</string>
			<string>شنبه</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>یکشنبه</string>
			<string>دوشنبه</string>
			<string>سه‌شنبه</string>
			<string>چهارشنبه</string>
			<string>پنجشنبه</string>
			<string>جمعه</string>
			<string>شنبه</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ی</string>
			<string>د</string>
			<string>س</string>
			<string>چ</string>
			<string>پ</string>
			<string>ج</string>
			<string>ش</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>یکشنبه</string>
			<string>دوشنبه</string>
			<string>سه‌شنبه</string>
			<string>چهارشنبه</string>
			<string>پنجشنبه</string>
			<string>جمعه</string>
			<string>شنبه</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ژانویهٔ</string>
			<string>فوریهٔ</string>
			<string>مارس</string>
			<string>آوریل</string>
			<string>مهٔ</string>
			<string>ژوئن</string>
			<string>ژوئیهٔ</string>
			<string>اوت</string>
			<string>سپتامبر</string>
			<string>اکتبر</string>
			<string>نوامبر</string>
			<string>دسامبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ژ</string>
			<string>ف</string>
			<string>م</string>
			<string>آ</string>
			<string>م</string>
			<string>ژ</string>
			<string>ژ</string>
			<string>ا</string>
			<string>س</string>
			<string>ا</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ژانویهٔ</string>
			<string>فوریهٔ</string>
			<string>مارس</string>
			<string>آوریل</string>
			<string>مهٔ</string>
			<string>ژوئن</string>
			<string>ژوئیهٔ</string>
			<string>اوت</string>
			<string>سپتامبر</string>
			<string>اکتبر</string>
			<string>نوامبر</string>
			<string>دسامبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ژانویه</string>
			<string>فوریه</string>
			<string>مارس</string>
			<string>آوریل</string>
			<string>مه</string>
			<string>ژوئن</string>
			<string>ژوئیه</string>
			<string>اوت</string>
			<string>سپتامبر</string>
			<string>اکتبر</string>
			<string>نوامبر</string>
			<string>دسامبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ژ</string>
			<string>ف</string>
			<string>م</string>
			<string>آ</string>
			<string>م</string>
			<string>ژ</string>
			<string>ژ</string>
			<string>ا</string>
			<string>س</string>
			<string>ا</string>
			<string>ن</string>
			<string>د</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ژانویه</string>
			<string>فوریه</string>
			<string>مارس</string>
			<string>آوریل</string>
			<string>مه</string>
			<string>ژوئن</string>
			<string>ژوئیه</string>
			<string>اوت</string>
			<string>سپتامبر</string>
			<string>اکتبر</string>
			<string>نوامبر</string>
			<string>دسامبر</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss (zzzz)</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss (z)</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
	<key>fa-AF</key>
	<dict>
		<key>months.format.abbreviated</key>
		<array>
			<string>جنو</string>
			<string>فوریهٔ</string>
			<string>مارس</string>
			<string>آوریل</string>
			<string>مـی</string>
			<string>ژوئن</string>
			<string>جول</string>
			<string>اوت</string>
			<string>سپتامبر</string>
			<string>اکتبر</string>
			<string>نوامبر</string>
			<string>دسم</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>جنوری</string>
			<string>فبروری</string>
			<string>مارچ</string>
			<string>اپریل</string>
			<string>می</string>
			<string>جون</string>
			<string>جولای</string>
			<string>اگست</string>
			<string>سپتمبر</string>
			<string>اکتوبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>ا</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>ا</string>
			<string>س</string>
			<string>ا</string>
			<string>ن</string>
			<string>د</string>
		</array>
	</dict>
</dict>
</plist>
