<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ff</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>subaka</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>kikiiɗe</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dew</string>
			<string>aaɓ</string>
			<string>maw</string>
			<string>nje</string>
			<string>naa</string>
			<string>mwd</string>
			<string>hbi</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>d</string>
			<string>a</string>
			<string>m</string>
			<string>n</string>
			<string>n</string>
			<string>m</string>
			<string>h</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>dewo</string>
			<string>aaɓnde</string>
			<string>mawbaare</string>
			<string>njeslaare</string>
			<string>naasaande</string>
			<string>mawnde</string>
			<string>hoore-biir</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dew</string>
			<string>aaɓ</string>
			<string>maw</string>
			<string>nje</string>
			<string>naa</string>
			<string>mwd</string>
			<string>hbi</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>d</string>
			<string>a</string>
			<string>m</string>
			<string>n</string>
			<string>n</string>
			<string>m</string>
			<string>h</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>dewo</string>
			<string>aaɓnde</string>
			<string>mawbaare</string>
			<string>njeslaare</string>
			<string>naasaande</string>
			<string>mawnde</string>
			<string>hoore-biir</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>sii</string>
			<string>col</string>
			<string>mbo</string>
			<string>see</string>
			<string>duu</string>
			<string>kor</string>
			<string>mor</string>
			<string>juk</string>
			<string>slt</string>
			<string>yar</string>
			<string>jol</string>
			<string>bow</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>s</string>
			<string>c</string>
			<string>m</string>
			<string>s</string>
			<string>d</string>
			<string>k</string>
			<string>m</string>
			<string>j</string>
			<string>s</string>
			<string>y</string>
			<string>j</string>
			<string>b</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>siilo</string>
			<string>colte</string>
			<string>mbooy</string>
			<string>seeɗto</string>
			<string>duujal</string>
			<string>korse</string>
			<string>morso</string>
			<string>juko</string>
			<string>siilto</string>
			<string>yarkomaa</string>
			<string>jolal</string>
			<string>bowte</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>sii</string>
			<string>col</string>
			<string>mbo</string>
			<string>see</string>
			<string>duu</string>
			<string>kor</string>
			<string>mor</string>
			<string>juk</string>
			<string>slt</string>
			<string>yar</string>
			<string>jol</string>
			<string>bow</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>s</string>
			<string>c</string>
			<string>m</string>
			<string>s</string>
			<string>d</string>
			<string>k</string>
			<string>m</string>
			<string>j</string>
			<string>s</string>
			<string>y</string>
			<string>j</string>
			<string>b</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>siilo</string>
			<string>colte</string>
			<string>mbooy</string>
			<string>seeɗto</string>
			<string>duujal</string>
			<string>korse</string>
			<string>morso</string>
			<string>juko</string>
			<string>siilto</string>
			<string>yarkomaa</string>
			<string>jolal</string>
			<string>bowte</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
