<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fi</key>
	<dict>
		<key>dateFormats.full</key>
		<string>cccc d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d.M.y</string>
		<key>dateFormats.short</key>
		<string>d.M.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ap.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ip.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>su</string>
			<string>ma</string>
			<string>ti</string>
			<string>ke</string>
			<string>to</string>
			<string>pe</string>
			<string>la</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>K</string>
			<string>T</string>
			<string>P</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sunnuntaina</string>
			<string>maanantaina</string>
			<string>tiistaina</string>
			<string>keskiviikkona</string>
			<string>torstaina</string>
			<string>perjantaina</string>
			<string>lauantaina</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>su</string>
			<string>ma</string>
			<string>ti</string>
			<string>ke</string>
			<string>to</string>
			<string>pe</string>
			<string>la</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>K</string>
			<string>T</string>
			<string>P</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sunnuntai</string>
			<string>maanantai</string>
			<string>tiistai</string>
			<string>keskiviikko</string>
			<string>torstai</string>
			<string>perjantai</string>
			<string>lauantai</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>tammikuuta</string>
			<string>helmikuuta</string>
			<string>maaliskuuta</string>
			<string>huhtikuuta</string>
			<string>toukokuuta</string>
			<string>kesäkuuta</string>
			<string>heinäkuuta</string>
			<string>elokuuta</string>
			<string>syyskuuta</string>
			<string>lokakuuta</string>
			<string>marraskuuta</string>
			<string>joulukuuta</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>T</string>
			<string>H</string>
			<string>M</string>
			<string>H</string>
			<string>T</string>
			<string>K</string>
			<string>H</string>
			<string>E</string>
			<string>S</string>
			<string>L</string>
			<string>M</string>
			<string>J</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>tammikuuta</string>
			<string>helmikuuta</string>
			<string>maaliskuuta</string>
			<string>huhtikuuta</string>
			<string>toukokuuta</string>
			<string>kesäkuuta</string>
			<string>heinäkuuta</string>
			<string>elokuuta</string>
			<string>syyskuuta</string>
			<string>lokakuuta</string>
			<string>marraskuuta</string>
			<string>joulukuuta</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>tammi</string>
			<string>helmi</string>
			<string>maalis</string>
			<string>huhti</string>
			<string>touko</string>
			<string>kesä</string>
			<string>heinä</string>
			<string>elo</string>
			<string>syys</string>
			<string>loka</string>
			<string>marras</string>
			<string>joulu</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>T</string>
			<string>H</string>
			<string>M</string>
			<string>H</string>
			<string>T</string>
			<string>K</string>
			<string>H</string>
			<string>E</string>
			<string>S</string>
			<string>L</string>
			<string>M</string>
			<string>J</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>tammikuu</string>
			<string>helmikuu</string>
			<string>maaliskuu</string>
			<string>huhtikuu</string>
			<string>toukokuu</string>
			<string>kesäkuu</string>
			<string>heinäkuu</string>
			<string>elokuu</string>
			<string>syyskuu</string>
			<string>lokakuu</string>
			<string>marraskuu</string>
			<string>joulukuu</string>
		</array>
		<key>timeFormats.full</key>
		<string>H.mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H.mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>H.mm.ss</string>
		<key>timeFormats.short</key>
		<string>H.mm</string>
	</dict>
</dict>
</plist>
