<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fo</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMM y</string>
		<key>dateFormats.medium</key>
		<string>dd-MM-y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>f.p.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>s.p.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sun</string>
			<string>mán</string>
			<string>týs</string>
			<string>mik</string>
			<string>hós</string>
			<string>frí</string>
			<string>ley</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>M</string>
			<string>H</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sunnudagur</string>
			<string>mánadagur</string>
			<string>týsdagur</string>
			<string>mikudagur</string>
			<string>hósdagur</string>
			<string>fríggjadagur</string>
			<string>leygardagur</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>sun</string>
			<string>mán</string>
			<string>týs</string>
			<string>mik</string>
			<string>hós</string>
			<string>frí</string>
			<string>ley</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>M</string>
			<string>H</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sunnudagur</string>
			<string>mánadagur</string>
			<string>týsdagur</string>
			<string>mikudagur</string>
			<string>hósdagur</string>
			<string>fríggjadagur</string>
			<string>leygardagur</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>mai</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>des</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>mars</string>
			<string>apríl</string>
			<string>mai</string>
			<string>juni</string>
			<string>juli</string>
			<string>august</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>desember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>mai</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>des</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>mars</string>
			<string>apríl</string>
			<string>mai</string>
			<string>juni</string>
			<string>juli</string>
			<string>august</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>desember</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
