<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dim.</string>
			<string>lun.</string>
			<string>mar.</string>
			<string>mer.</string>
			<string>jeu.</string>
			<string>ven.</string>
			<string>sam.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>dimanche</string>
			<string>lundi</string>
			<string>mardi</string>
			<string>mercredi</string>
			<string>jeudi</string>
			<string>vendredi</string>
			<string>samedi</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dim.</string>
			<string>lun.</string>
			<string>mar.</string>
			<string>mer.</string>
			<string>jeu.</string>
			<string>ven.</string>
			<string>sam.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>dimanche</string>
			<string>lundi</string>
			<string>mardi</string>
			<string>mercredi</string>
			<string>jeudi</string>
			<string>vendredi</string>
			<string>samedi</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>janv.</string>
			<string>févr.</string>
			<string>mars</string>
			<string>avr.</string>
			<string>mai</string>
			<string>juin</string>
			<string>juil.</string>
			<string>août</string>
			<string>sept.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>déc.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>janvier</string>
			<string>février</string>
			<string>mars</string>
			<string>avril</string>
			<string>mai</string>
			<string>juin</string>
			<string>juillet</string>
			<string>août</string>
			<string>septembre</string>
			<string>octobre</string>
			<string>novembre</string>
			<string>décembre</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>janv.</string>
			<string>févr.</string>
			<string>mars</string>
			<string>avr.</string>
			<string>mai</string>
			<string>juin</string>
			<string>juil.</string>
			<string>août</string>
			<string>sept.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>déc.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>janvier</string>
			<string>février</string>
			<string>mars</string>
			<string>avril</string>
			<string>mai</string>
			<string>juin</string>
			<string>juillet</string>
			<string>août</string>
			<string>septembre</string>
			<string>octobre</string>
			<string>novembre</string>
			<string>décembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>fr-BE</key>
	<dict>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
		<key>timeFormats.full</key>
		<string>H 'h' mm 'min' ss 's' zzzz</string>
	</dict>
	<key>fr-CA</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>y-MM-dd</string>
		<key>dateFormats.short</key>
		<string>yy-MM-dd</string>
		<key>timeFormats.full</key>
		<string>HH 'h' mm 'min' ss 's' zzzz</string>
	</dict>
	<key>fr-CH</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>timeFormats.full</key>
		<string>HH.mm:ss 'h' zzzz</string>
	</dict>
</dict>
</plist>
