<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gl</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dom</string>
			<string>lun</string>
			<string>mar</string>
			<string>mér</string>
			<string>xov</string>
			<string>ven</string>
			<string>sáb</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>X</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>domingo</string>
			<string>luns</string>
			<string>martes</string>
			<string>mércores</string>
			<string>xoves</string>
			<string>venres</string>
			<string>sábado</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Dom</string>
			<string>Lun</string>
			<string>Mar</string>
			<string>Mér</string>
			<string>Xov</string>
			<string>Ven</string>
			<string>Sáb</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>X</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Domingo</string>
			<string>Luns</string>
			<string>Martes</string>
			<string>Mércores</string>
			<string>Xoves</string>
			<string>Venres</string>
			<string>Sábado</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>xan</string>
			<string>feb</string>
			<string>mar</string>
			<string>abr</string>
			<string>mai</string>
			<string>xuñ</string>
			<string>xul</string>
			<string>ago</string>
			<string>set</string>
			<string>out</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>X</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>X</string>
			<string>X</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>xaneiro</string>
			<string>febreiro</string>
			<string>marzo</string>
			<string>abril</string>
			<string>maio</string>
			<string>xuño</string>
			<string>xullo</string>
			<string>agosto</string>
			<string>setembro</string>
			<string>outubro</string>
			<string>novembro</string>
			<string>decembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Xan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Xuñ</string>
			<string>Xul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>X</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>X</string>
			<string>X</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Xaneiro</string>
			<string>Febreiro</string>
			<string>Marzo</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Xuño</string>
			<string>Xullo</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Decembro</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
