<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gu</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM, y</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d-MM-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>રવિ</string>
			<string>સોમ</string>
			<string>મંગળ</string>
			<string>બુધ</string>
			<string>ગુરુ</string>
			<string>શુક્ર</string>
			<string>શનિ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ર</string>
			<string>સો</string>
			<string>મં</string>
			<string>બુ</string>
			<string>ગુ</string>
			<string>શુ</string>
			<string>શ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>રવિવાર</string>
			<string>સોમવાર</string>
			<string>મંગળવાર</string>
			<string>બુધવાર</string>
			<string>ગુરુવાર</string>
			<string>શુક્રવાર</string>
			<string>શનિવાર</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>રવિ</string>
			<string>સોમ</string>
			<string>મંગળ</string>
			<string>બુધ</string>
			<string>ગુરુ</string>
			<string>શુક્ર</string>
			<string>શનિ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ર</string>
			<string>સો</string>
			<string>મં</string>
			<string>બુ</string>
			<string>ગુ</string>
			<string>શુ</string>
			<string>શ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>રવિવાર</string>
			<string>સોમવાર</string>
			<string>મંગળવાર</string>
			<string>બુધવાર</string>
			<string>ગુરુવાર</string>
			<string>શુક્રવાર</string>
			<string>શનિવાર</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>જાન્યુ</string>
			<string>ફેબ્રુ</string>
			<string>માર્ચ</string>
			<string>એપ્રિલ</string>
			<string>મે</string>
			<string>જૂન</string>
			<string>જુલાઈ</string>
			<string>ઑગસ્ટ</string>
			<string>સપ્ટે</string>
			<string>ઑક્ટો</string>
			<string>નવે</string>
			<string>ડિસે</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>જા</string>
			<string>ફે</string>
			<string>મા</string>
			<string>એ</string>
			<string>મે</string>
			<string>જૂ</string>
			<string>જુ</string>
			<string>ઑ</string>
			<string>સ</string>
			<string>ઑ</string>
			<string>ન</string>
			<string>ડિ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>જાન્યુઆરી</string>
			<string>ફેબ્રુઆરી</string>
			<string>માર્ચ</string>
			<string>એપ્રિલ</string>
			<string>મે</string>
			<string>જૂન</string>
			<string>જુલાઈ</string>
			<string>ઑગસ્ટ</string>
			<string>સપ્ટેમ્બર</string>
			<string>ઑક્ટોબર</string>
			<string>નવેમ્બર</string>
			<string>ડિસેમ્બર</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>જાન્યુ</string>
			<string>ફેબ્રુ</string>
			<string>માર્ચ</string>
			<string>એપ્રિલ</string>
			<string>મે</string>
			<string>જૂન</string>
			<string>જુલાઈ</string>
			<string>ઑગ</string>
			<string>સપ્ટે</string>
			<string>ઑક્ટો</string>
			<string>નવે</string>
			<string>ડિસે</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>જા</string>
			<string>ફે</string>
			<string>મા</string>
			<string>એ</string>
			<string>મે</string>
			<string>જૂ</string>
			<string>જુ</string>
			<string>ઑ</string>
			<string>સ</string>
			<string>ઑ</string>
			<string>ન</string>
			<string>ડિ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>જાન્યુઆરી</string>
			<string>ફેબ્રુઆરી</string>
			<string>માર્ચ</string>
			<string>એપ્રિલ</string>
			<string>મે</string>
			<string>જૂન</string>
			<string>જુલાઈ</string>
			<string>ઑગસ્ટ</string>
			<string>સપ્ટેમ્બર</string>
			<string>ઑક્ટોબર</string>
			<string>નવેમ્બર</string>
			<string>ડિસેમ્બર</string>
		</array>
		<key>timeFormats.full</key>
		<string>hh:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>hh:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>hh:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>hh:mm a</string>
	</dict>
</dict>
</plist>
