<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gv</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>MMM dd, y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Jed</string>
			<string>Jel</string>
			<string>Jem</string>
			<string>Jerc</string>
			<string>Jerd</string>
			<string>Jeh</string>
			<string>Jes</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Jedoonee</string>
			<string>Jelhein</string>
			<string>Jemayrt</string>
			<string>Jercean</string>
			<string>Jerdein</string>
			<string>Jeheiney</string>
			<string>Jesarn</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Jed</string>
			<string>Jel</string>
			<string>Jem</string>
			<string>Jerc</string>
			<string>Jerd</string>
			<string>Jeh</string>
			<string>Jes</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Jedoonee</string>
			<string>Jelhein</string>
			<string>Jemayrt</string>
			<string>Jercean</string>
			<string>Jerdein</string>
			<string>Jeheiney</string>
			<string>Jesarn</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>J-guer</string>
			<string>T-arree</string>
			<string>Mayrnt</string>
			<string>Avrril</string>
			<string>Boaldyn</string>
			<string>M-souree</string>
			<string>J-souree</string>
			<string>Luanistyn</string>
			<string>M-fouyir</string>
			<string>J-fouyir</string>
			<string>M.Houney</string>
			<string>M.Nollick</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Jerrey-geuree</string>
			<string>Toshiaght-arree</string>
			<string>Mayrnt</string>
			<string>Averil</string>
			<string>Boaldyn</string>
			<string>Mean-souree</string>
			<string>Jerrey-souree</string>
			<string>Luanistyn</string>
			<string>Mean-fouyir</string>
			<string>Jerrey-fouyir</string>
			<string>Mee Houney</string>
			<string>Mee ny Nollick</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>J-guer</string>
			<string>T-arree</string>
			<string>Mayrnt</string>
			<string>Avrril</string>
			<string>Boaldyn</string>
			<string>M-souree</string>
			<string>J-souree</string>
			<string>Luanistyn</string>
			<string>M-fouyir</string>
			<string>J-fouyir</string>
			<string>M.Houney</string>
			<string>M.Nollick</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Jerrey-geuree</string>
			<string>Toshiaght-arree</string>
			<string>Mayrnt</string>
			<string>Averil</string>
			<string>Boaldyn</string>
			<string>Mean-souree</string>
			<string>Jerrey-souree</string>
			<string>Luanistyn</string>
			<string>Mean-fouyir</string>
			<string>Jerrey-fouyir</string>
			<string>Mee Houney</string>
			<string>Mee ny Nollick</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
