<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hi</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd-MM-y</string>
		<key>dateFormats.short</key>
		<string>d-M-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>पूर्व</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>अ॰</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>रवि</string>
			<string>सोम</string>
			<string>मंगल</string>
			<string>बुध</string>
			<string>गुरु</string>
			<string>शुक्र</string>
			<string>शनि</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>र</string>
			<string>सो</string>
			<string>मं</string>
			<string>बु</string>
			<string>गु</string>
			<string>शु</string>
			<string>श</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>रविवार</string>
			<string>सोमवार</string>
			<string>मंगलवार</string>
			<string>बुधवार</string>
			<string>गुरुवार</string>
			<string>शुक्रवार</string>
			<string>शनिवार</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>रवि</string>
			<string>सोम</string>
			<string>मंगल</string>
			<string>बुध</string>
			<string>गुरु</string>
			<string>शुक्र</string>
			<string>शनि</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>र</string>
			<string>सो</string>
			<string>मं</string>
			<string>बु</string>
			<string>गु</string>
			<string>शु</string>
			<string>श</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>रविवार</string>
			<string>सोमवार</string>
			<string>मंगलवार</string>
			<string>बुधवार</string>
			<string>गुरुवार</string>
			<string>शुक्रवार</string>
			<string>शनिवार</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>जन</string>
			<string>फ़र</string>
			<string>मार्च</string>
			<string>अप्रै</string>
			<string>मई</string>
			<string>जून</string>
			<string>जुला</string>
			<string>अग</string>
			<string>सितं</string>
			<string>अक्टू</string>
			<string>नवं</string>
			<string>दिसं</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ज</string>
			<string>फ़</string>
			<string>मा</string>
			<string>अ</string>
			<string>म</string>
			<string>जू</string>
			<string>जु</string>
			<string>अ</string>
			<string>सि</string>
			<string>अ</string>
			<string>न</string>
			<string>दि</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>जनवरी</string>
			<string>फ़रवरी</string>
			<string>मार्च</string>
			<string>अप्रैल</string>
			<string>मई</string>
			<string>जून</string>
			<string>जुलाई</string>
			<string>अगस्त</string>
			<string>सितंबर</string>
			<string>अक्टूबर</string>
			<string>नवंबर</string>
			<string>दिसंबर</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>जन</string>
			<string>फ़र</string>
			<string>मार्च</string>
			<string>अप्रै</string>
			<string>मई</string>
			<string>जून</string>
			<string>जुला</string>
			<string>अग</string>
			<string>सितं</string>
			<string>अक्टू</string>
			<string>नवं</string>
			<string>दिसं</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ज</string>
			<string>फ़</string>
			<string>मा</string>
			<string>अ</string>
			<string>म</string>
			<string>जू</string>
			<string>जु</string>
			<string>अ</string>
			<string>सि</string>
			<string>अ</string>
			<string>न</string>
			<string>दि</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>जनवरी</string>
			<string>फ़रवरी</string>
			<string>मार्च</string>
			<string>अप्रैल</string>
			<string>मई</string>
			<string>जून</string>
			<string>जुलाई</string>
			<string>अगस्त</string>
			<string>सितंबर</string>
			<string>अक्टूबर</string>
			<string>नवंबर</string>
			<string>दिसंबर</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
