<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d. MMMM y.</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y.</string>
		<key>dateFormats.medium</key>
		<string>d. MMM y.</string>
		<key>dateFormats.short</key>
		<string>d.M.yy.</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ned</string>
			<string>pon</string>
			<string>uto</string>
			<string>sri</string>
			<string>čet</string>
			<string>pet</string>
			<string>sub</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>U</string>
			<string>S</string>
			<string>Č</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>nedjelja</string>
			<string>ponedjeljak</string>
			<string>utorak</string>
			<string>srijeda</string>
			<string>četvrtak</string>
			<string>petak</string>
			<string>subota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ned</string>
			<string>pon</string>
			<string>uto</string>
			<string>sri</string>
			<string>čet</string>
			<string>pet</string>
			<string>sub</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>n</string>
			<string>p</string>
			<string>u</string>
			<string>s</string>
			<string>č</string>
			<string>p</string>
			<string>s</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>nedjelja</string>
			<string>ponedjeljak</string>
			<string>utorak</string>
			<string>srijeda</string>
			<string>četvrtak</string>
			<string>petak</string>
			<string>subota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>sij</string>
			<string>velj</string>
			<string>ožu</string>
			<string>tra</string>
			<string>svi</string>
			<string>lip</string>
			<string>srp</string>
			<string>kol</string>
			<string>ruj</string>
			<string>lis</string>
			<string>stu</string>
			<string>pro</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1.</string>
			<string>2.</string>
			<string>3.</string>
			<string>4.</string>
			<string>5.</string>
			<string>6.</string>
			<string>7.</string>
			<string>8.</string>
			<string>9.</string>
			<string>10.</string>
			<string>11.</string>
			<string>12.</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>siječnja</string>
			<string>veljače</string>
			<string>ožujka</string>
			<string>travnja</string>
			<string>svibnja</string>
			<string>lipnja</string>
			<string>srpnja</string>
			<string>kolovoza</string>
			<string>rujna</string>
			<string>listopada</string>
			<string>studenoga</string>
			<string>prosinca</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>sij</string>
			<string>velj</string>
			<string>ožu</string>
			<string>tra</string>
			<string>svi</string>
			<string>lip</string>
			<string>srp</string>
			<string>kol</string>
			<string>ruj</string>
			<string>lis</string>
			<string>stu</string>
			<string>pro</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1.</string>
			<string>2.</string>
			<string>3.</string>
			<string>4.</string>
			<string>5.</string>
			<string>6.</string>
			<string>7.</string>
			<string>8.</string>
			<string>9.</string>
			<string>10.</string>
			<string>11.</string>
			<string>12.</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>siječanj</string>
			<string>veljača</string>
			<string>ožujak</string>
			<string>travanj</string>
			<string>svibanj</string>
			<string>lipanj</string>
			<string>srpanj</string>
			<string>kolovoz</string>
			<string>rujan</string>
			<string>listopad</string>
			<string>studeni</string>
			<string>prosinac</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
