<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hy</key>
	<dict>
		<key>dateFormats.full</key>
		<string>yթ. MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>dd MMMM, yթ.</string>
		<key>dateFormats.medium</key>
		<string>dd MMM, y թ.</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>կեսօրից առաջ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>կեսօրից հետո</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>կիր</string>
			<string>երկ</string>
			<string>երք</string>
			<string>չրք</string>
			<string>հնգ</string>
			<string>ուր</string>
			<string>շբթ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Կ</string>
			<string>Ե</string>
			<string>Ե</string>
			<string>Չ</string>
			<string>Հ</string>
			<string>Ու</string>
			<string>Շ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>կիրակի</string>
			<string>երկուշաբթի</string>
			<string>երեքշաբթի</string>
			<string>չորեքշաբթի</string>
			<string>հինգշաբթի</string>
			<string>ուրբաթ</string>
			<string>շաբաթ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>կիր</string>
			<string>երկ</string>
			<string>երք</string>
			<string>չրք</string>
			<string>հնգ</string>
			<string>ուր</string>
			<string>շբթ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Կ</string>
			<string>Ե</string>
			<string>Ե</string>
			<string>Չ</string>
			<string>Հ</string>
			<string>Ու</string>
			<string>Շ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>կիրակի</string>
			<string>երկուշաբթի</string>
			<string>երեքշաբթի</string>
			<string>չորեքշաբթի</string>
			<string>հինգշաբթի</string>
			<string>ուրբաթ</string>
			<string>շաբաթ</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>հնվ</string>
			<string>փտվ</string>
			<string>մրտ</string>
			<string>ապր</string>
			<string>մյս</string>
			<string>հնս</string>
			<string>հլս</string>
			<string>օգս</string>
			<string>սպտ</string>
			<string>հկտ</string>
			<string>նյմ</string>
			<string>դկտ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Հ</string>
			<string>Փ</string>
			<string>Մ</string>
			<string>Ա</string>
			<string>Մ</string>
			<string>Հ</string>
			<string>Հ</string>
			<string>Օ</string>
			<string>Ս</string>
			<string>Հ</string>
			<string>Ն</string>
			<string>Դ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>հունվարի</string>
			<string>փետրվարի</string>
			<string>մարտի</string>
			<string>ապրիլի</string>
			<string>մայիսի</string>
			<string>հունիսի</string>
			<string>հուլիսի</string>
			<string>օգոստոսի</string>
			<string>սեպտեմբերի</string>
			<string>հոկտեմբերի</string>
			<string>նոյեմբերի</string>
			<string>դեկտեմբերի</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>հնվ</string>
			<string>փտվ</string>
			<string>մրտ</string>
			<string>ապր</string>
			<string>մյս</string>
			<string>հնս</string>
			<string>հլս</string>
			<string>օգս</string>
			<string>սպտ</string>
			<string>հկտ</string>
			<string>նյմ</string>
			<string>դկտ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Հ</string>
			<string>Փ</string>
			<string>Մ</string>
			<string>Ա</string>
			<string>Մ</string>
			<string>Հ</string>
			<string>Հ</string>
			<string>Օ</string>
			<string>Ս</string>
			<string>Հ</string>
			<string>Ն</string>
			<string>Դ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>հունվար</string>
			<string>փետրվար</string>
			<string>մարտ</string>
			<string>ապրիլ</string>
			<string>մայիս</string>
			<string>հունիս</string>
			<string>հուլիս</string>
			<string>օգոստոս</string>
			<string>սեպտեմբեր</string>
			<string>հոկտեմբեր</string>
			<string>նոյեմբեր</string>
			<string>դեկտեմբեր</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss, zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss, z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
