<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>is</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d. MMM y</string>
		<key>dateFormats.short</key>
		<string>d.M.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>f.h.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>e.h.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sun.</string>
			<string>mán.</string>
			<string>þri.</string>
			<string>mið.</string>
			<string>fim.</string>
			<string>fös.</string>
			<string>lau.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>Þ</string>
			<string>M</string>
			<string>F</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sunnudagur</string>
			<string>mánudagur</string>
			<string>þriðjudagur</string>
			<string>miðvikudagur</string>
			<string>fimmtudagur</string>
			<string>föstudagur</string>
			<string>laugardagur</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>sun.</string>
			<string>mán.</string>
			<string>þri.</string>
			<string>mið.</string>
			<string>fim.</string>
			<string>fös.</string>
			<string>lau.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>Þ</string>
			<string>M</string>
			<string>F</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sunnudagur</string>
			<string>mánudagur</string>
			<string>þriðjudagur</string>
			<string>miðvikudagur</string>
			<string>fimmtudagur</string>
			<string>föstudagur</string>
			<string>laugardagur</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>apr.</string>
			<string>maí</string>
			<string>jún.</string>
			<string>júl.</string>
			<string>ágú.</string>
			<string>sep.</string>
			<string>okt.</string>
			<string>nóv.</string>
			<string>des.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>Á</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>janúar</string>
			<string>febrúar</string>
			<string>mars</string>
			<string>apríl</string>
			<string>maí</string>
			<string>júní</string>
			<string>júlí</string>
			<string>ágúst</string>
			<string>september</string>
			<string>október</string>
			<string>nóvember</string>
			<string>desember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>apr.</string>
			<string>maí</string>
			<string>jún.</string>
			<string>júl.</string>
			<string>ágú.</string>
			<string>sep.</string>
			<string>okt.</string>
			<string>nóv.</string>
			<string>des.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>Á</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>janúar</string>
			<string>febrúar</string>
			<string>mars</string>
			<string>apríl</string>
			<string>maí</string>
			<string>júní</string>
			<string>júlí</string>
			<string>ágúst</string>
			<string>september</string>
			<string>október</string>
			<string>nóvember</string>
			<string>desember</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
