<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>it</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd/MMM/y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dom</string>
			<string>lun</string>
			<string>mar</string>
			<string>mer</string>
			<string>gio</string>
			<string>ven</string>
			<string>sab</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>G</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>domenica</string>
			<string>lunedì</string>
			<string>martedì</string>
			<string>mercoledì</string>
			<string>giovedì</string>
			<string>venerdì</string>
			<string>sabato</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dom</string>
			<string>lun</string>
			<string>mar</string>
			<string>mer</string>
			<string>gio</string>
			<string>ven</string>
			<string>sab</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>G</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Domenica</string>
			<string>Lunedì</string>
			<string>Martedì</string>
			<string>Mercoledì</string>
			<string>Giovedì</string>
			<string>Venerdì</string>
			<string>Sabato</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>gen</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>mag</string>
			<string>giu</string>
			<string>lug</string>
			<string>ago</string>
			<string>set</string>
			<string>ott</string>
			<string>nov</string>
			<string>dic</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>G</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>G</string>
			<string>L</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>gennaio</string>
			<string>febbraio</string>
			<string>marzo</string>
			<string>aprile</string>
			<string>maggio</string>
			<string>giugno</string>
			<string>luglio</string>
			<string>agosto</string>
			<string>settembre</string>
			<string>ottobre</string>
			<string>novembre</string>
			<string>dicembre</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>gen</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>mag</string>
			<string>giu</string>
			<string>lug</string>
			<string>ago</string>
			<string>set</string>
			<string>ott</string>
			<string>nov</string>
			<string>dic</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>G</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>G</string>
			<string>L</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Gennaio</string>
			<string>Febbraio</string>
			<string>Marzo</string>
			<string>Aprile</string>
			<string>Maggio</string>
			<string>Giugno</string>
			<string>Luglio</string>
			<string>Agosto</string>
			<string>Settembre</string>
			<string>Ottobre</string>
			<string>Novembre</string>
			<string>Dicembre</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>it-CH</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d-MMM-y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>timeFormats.full</key>
		<string>HH.mm:ss 'h' zzzz</string>
	</dict>
</dict>
</plist>
