<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ja</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y年M月d日EEEE</string>
		<key>dateFormats.long</key>
		<string>y年M月d日</string>
		<key>dateFormats.medium</key>
		<string>y/MM/dd</string>
		<key>dateFormats.short</key>
		<string>y/MM/dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>午前</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>午後</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>日</string>
			<string>月</string>
			<string>火</string>
			<string>水</string>
			<string>木</string>
			<string>金</string>
			<string>土</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>日</string>
			<string>月</string>
			<string>火</string>
			<string>水</string>
			<string>木</string>
			<string>金</string>
			<string>土</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>日曜日</string>
			<string>月曜日</string>
			<string>火曜日</string>
			<string>水曜日</string>
			<string>木曜日</string>
			<string>金曜日</string>
			<string>土曜日</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>日</string>
			<string>月</string>
			<string>火</string>
			<string>水</string>
			<string>木</string>
			<string>金</string>
			<string>土</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>日</string>
			<string>月</string>
			<string>火</string>
			<string>水</string>
			<string>木</string>
			<string>金</string>
			<string>土</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>日曜日</string>
			<string>月曜日</string>
			<string>火曜日</string>
			<string>水曜日</string>
			<string>木曜日</string>
			<string>金曜日</string>
			<string>土曜日</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>1月</string>
			<string>2月</string>
			<string>3月</string>
			<string>4月</string>
			<string>5月</string>
			<string>6月</string>
			<string>7月</string>
			<string>8月</string>
			<string>9月</string>
			<string>10月</string>
			<string>11月</string>
			<string>12月</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>1月</string>
			<string>2月</string>
			<string>3月</string>
			<string>4月</string>
			<string>5月</string>
			<string>6月</string>
			<string>7月</string>
			<string>8月</string>
			<string>9月</string>
			<string>10月</string>
			<string>11月</string>
			<string>12月</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>1月</string>
			<string>2月</string>
			<string>3月</string>
			<string>4月</string>
			<string>5月</string>
			<string>6月</string>
			<string>7月</string>
			<string>8月</string>
			<string>9月</string>
			<string>10月</string>
			<string>11月</string>
			<string>12月</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>1月</string>
			<string>2月</string>
			<string>3月</string>
			<string>4月</string>
			<string>5月</string>
			<string>6月</string>
			<string>7月</string>
			<string>8月</string>
			<string>9月</string>
			<string>10月</string>
			<string>11月</string>
			<string>12月</string>
		</array>
		<key>timeFormats.full</key>
		<string>H時mm分ss秒 zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
