<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ka</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, dd MMMM, y</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>კვი</string>
			<string>ორშ</string>
			<string>სამ</string>
			<string>ოთხ</string>
			<string>ხუთ</string>
			<string>პარ</string>
			<string>შაბ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>კ</string>
			<string>ო</string>
			<string>ს</string>
			<string>ო</string>
			<string>ხ</string>
			<string>პ</string>
			<string>შ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>კვირა</string>
			<string>ორშაბათი</string>
			<string>სამშაბათი</string>
			<string>ოთხშაბათი</string>
			<string>ხუთშაბათი</string>
			<string>პარასკევი</string>
			<string>შაბათი</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>კვი</string>
			<string>ორშ</string>
			<string>სამ</string>
			<string>ოთხ</string>
			<string>ხუთ</string>
			<string>პარ</string>
			<string>შაბ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>კ</string>
			<string>ო</string>
			<string>ს</string>
			<string>ო</string>
			<string>ხ</string>
			<string>პ</string>
			<string>შ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>კვირა</string>
			<string>ორშაბათი</string>
			<string>სამშაბათი</string>
			<string>ოთხშაბათი</string>
			<string>ხუთშაბათი</string>
			<string>პარასკევი</string>
			<string>შაბათი</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>იან</string>
			<string>თებ</string>
			<string>მარ</string>
			<string>აპრ</string>
			<string>მაი</string>
			<string>ივნ</string>
			<string>ივლ</string>
			<string>აგვ</string>
			<string>სექ</string>
			<string>ოქტ</string>
			<string>ნოე</string>
			<string>დეკ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ი</string>
			<string>თ</string>
			<string>მ</string>
			<string>ა</string>
			<string>მ</string>
			<string>ი</string>
			<string>ი</string>
			<string>ა</string>
			<string>ს</string>
			<string>ო</string>
			<string>ნ</string>
			<string>დ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>იანვარი</string>
			<string>თებერვალი</string>
			<string>მარტი</string>
			<string>აპრილი</string>
			<string>მაისი</string>
			<string>ივნისი</string>
			<string>ივლისი</string>
			<string>აგვისტო</string>
			<string>სექტემბერი</string>
			<string>ოქტომბერი</string>
			<string>ნოემბერი</string>
			<string>დეკემბერი</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>იან</string>
			<string>თებ</string>
			<string>მარ</string>
			<string>აპრ</string>
			<string>მაი</string>
			<string>ივნ</string>
			<string>ივლ</string>
			<string>აგვ</string>
			<string>სექ</string>
			<string>ოქტ</string>
			<string>ნოე</string>
			<string>დეკ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ი</string>
			<string>თ</string>
			<string>მ</string>
			<string>ა</string>
			<string>მ</string>
			<string>ი</string>
			<string>ი</string>
			<string>ა</string>
			<string>ს</string>
			<string>ო</string>
			<string>ნ</string>
			<string>დ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>იანვარი</string>
			<string>თებერვალი</string>
			<string>მარტი</string>
			<string>აპრილი</string>
			<string>მაისი</string>
			<string>ივნისი</string>
			<string>ივლისი</string>
			<string>აგვისტო</string>
			<string>სექტემბერი</string>
			<string>ოქტომბერი</string>
			<string>ნოემბერი</string>
			<string>დეკემბერი</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
