<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kk</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y 'ж'.</string>
		<key>dateFormats.long</key>
		<string>d MMMM y 'ж'.</string>
		<key>dateFormats.medium</key>
		<string>dd.MM.y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>түске дейін</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>түстен кейін</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>жс.</string>
			<string>дс.</string>
			<string>сс.</string>
			<string>ср.</string>
			<string>бс.</string>
			<string>жм.</string>
			<string>сб.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Ж</string>
			<string>Д</string>
			<string>С</string>
			<string>С</string>
			<string>Б</string>
			<string>Ж</string>
			<string>С</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>жексенбі</string>
			<string>дүйсенбі</string>
			<string>сейсенбі</string>
			<string>сәрсенбі</string>
			<string>бейсенбі</string>
			<string>жұма</string>
			<string>сенбі</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>жс.</string>
			<string>дс.</string>
			<string>сс.</string>
			<string>ср.</string>
			<string>бс.</string>
			<string>жм.</string>
			<string>сб.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Ж</string>
			<string>Д</string>
			<string>С</string>
			<string>С</string>
			<string>Б</string>
			<string>Ж</string>
			<string>С</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>жексенбі</string>
			<string>дүйсенбі</string>
			<string>сейсенбі</string>
			<string>сәрсенбі</string>
			<string>бейсенбі</string>
			<string>жұма</string>
			<string>сенбі</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>қаң.</string>
			<string>ақп.</string>
			<string>нау.</string>
			<string>сәу.</string>
			<string>мам.</string>
			<string>мау.</string>
			<string>шіл.</string>
			<string>там.</string>
			<string>қыр.</string>
			<string>қаз.</string>
			<string>қар.</string>
			<string>желт.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>қаңтар</string>
			<string>ақпан</string>
			<string>наурыз</string>
			<string>сәуір</string>
			<string>мамыр</string>
			<string>маусым</string>
			<string>шілде</string>
			<string>тамыз</string>
			<string>қыркүйек</string>
			<string>қазан</string>
			<string>қараша</string>
			<string>желтоқсан</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>қаң.</string>
			<string>ақп.</string>
			<string>нау.</string>
			<string>сәу.</string>
			<string>мам.</string>
			<string>мау.</string>
			<string>шіл.</string>
			<string>там.</string>
			<string>қыр.</string>
			<string>қаз.</string>
			<string>қар.</string>
			<string>желт.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>қаңтар</string>
			<string>ақпан</string>
			<string>наурыз</string>
			<string>сәуір</string>
			<string>мамыр</string>
			<string>маусым</string>
			<string>шілде</string>
			<string>тамыз</string>
			<string>қыркүйек</string>
			<string>қазан</string>
			<string>қараша</string>
			<string>желтоқсан</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
