<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kl</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>MMM dd, y</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>u.t.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>u.k.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sab</string>
			<string>ata</string>
			<string>mar</string>
			<string>pin</string>
			<string>sis</string>
			<string>tal</string>
			<string>arf</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>A</string>
			<string>M</string>
			<string>P</string>
			<string>S</string>
			<string>T</string>
			<string>A</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sabaat</string>
			<string>ataasinngorneq</string>
			<string>marlunngorneq</string>
			<string>pingasunngorneq</string>
			<string>sisamanngorneq</string>
			<string>tallimanngorneq</string>
			<string>arfininngorneq</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>sab</string>
			<string>ata</string>
			<string>mar</string>
			<string>pin</string>
			<string>sis</string>
			<string>tal</string>
			<string>arf</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>A</string>
			<string>M</string>
			<string>P</string>
			<string>S</string>
			<string>T</string>
			<string>A</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sabaat</string>
			<string>ataasinngorneq</string>
			<string>marlunngorneq</string>
			<string>pingasunngorneq</string>
			<string>sisamanngorneq</string>
			<string>tallimanngorneq</string>
			<string>arfininngorneq</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januari</string>
			<string>februari</string>
			<string>martsi</string>
			<string>aprili</string>
			<string>maji</string>
			<string>juni</string>
			<string>juli</string>
			<string>augustusi</string>
			<string>septemberi</string>
			<string>oktoberi</string>
			<string>novemberi</string>
			<string>decemberi</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januari</string>
			<string>februari</string>
			<string>martsi</string>
			<string>aprili</string>
			<string>maji</string>
			<string>juni</string>
			<string>juli</string>
			<string>augustusi</string>
			<string>septemberi</string>
			<string>oktoberi</string>
			<string>novemberi</string>
			<string>decemberi</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
