<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>km</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ព្រឹក</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ល្ងាច</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>អាទិត្យ</string>
			<string>ចន្ទ</string>
			<string>អង្គារ</string>
			<string>ពុធ</string>
			<string>ព្រហស្បតិ៍</string>
			<string>សុក្រ</string>
			<string>សៅរ៍</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>អាទិត្យ</string>
			<string>ចន្ទ</string>
			<string>អង្គារ</string>
			<string>ពុធ</string>
			<string>ព្រហស្បតិ៍</string>
			<string>សុក្រ</string>
			<string>សៅរ៍</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>អាទិត្យ</string>
			<string>ចន្ទ</string>
			<string>អង្គារ</string>
			<string>ពុធ</string>
			<string>ព្រហស្បតិ៍</string>
			<string>សុក្រ</string>
			<string>សៅរ៍</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>អាទិត្យ</string>
			<string>ចន្ទ</string>
			<string>អង្គារ</string>
			<string>ពុធ</string>
			<string>ព្រហស្បតិ៍</string>
			<string>សុក្រ</string>
			<string>សៅរ៍</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>មករា</string>
			<string>កុម្ភៈ</string>
			<string>មីនា</string>
			<string>មេសា</string>
			<string>ឧសភា</string>
			<string>មិថុនា</string>
			<string>កក្កដា</string>
			<string>សីហា</string>
			<string>កញ្ញា</string>
			<string>តុលា</string>
			<string>វិច្ឆិកា</string>
			<string>ធ្នូ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>មករា</string>
			<string>កុម្ភៈ</string>
			<string>មីនា</string>
			<string>មេសា</string>
			<string>ឧសភា</string>
			<string>មិថុនា</string>
			<string>កក្កដា</string>
			<string>សីហា</string>
			<string>កញ្ញា</string>
			<string>តុលា</string>
			<string>វិច្ឆិកា</string>
			<string>ធ្នូ</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>មករា</string>
			<string>កុម្ភៈ</string>
			<string>មីនា</string>
			<string>មេសា</string>
			<string>ឧសភា</string>
			<string>មិថុនា</string>
			<string>កក្កដា</string>
			<string>សីហា</string>
			<string>កញ្ញា</string>
			<string>តុលា</string>
			<string>វិច្ឆិកា</string>
			<string>ធ្នូ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>មករា</string>
			<string>កុម្ភៈ</string>
			<string>មីនា</string>
			<string>មេសា</string>
			<string>ឧសភា</string>
			<string>មិថុនា</string>
			<string>កក្កដា</string>
			<string>សីហា</string>
			<string>កញ្ញា</string>
			<string>តុលា</string>
			<string>វិច្ឆិកា</string>
			<string>ធ្នូ</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
