<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kn</key>
	<dict>
		<key>dateFormats.full</key>
		<string>d MMMM y, EEEE</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d-M-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ರ.</string>
			<string>ಸೋ.</string>
			<string>ಮಂ.</string>
			<string>ಬು.</string>
			<string>ಗು.</string>
			<string>ಶು.</string>
			<string>ಶನಿ.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ರ</string>
			<string>ಸೋ</string>
			<string>ಮಂ</string>
			<string>ಬು</string>
			<string>ಗು</string>
			<string>ಶು</string>
			<string>ಶ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ರವಿವಾರ</string>
			<string>ಸೋಮವಾರ</string>
			<string>ಮಂಗಳವಾರ</string>
			<string>ಬುಧವಾರ</string>
			<string>ಗುರುವಾರ</string>
			<string>ಶುಕ್ರವಾರ</string>
			<string>ಶನಿವಾರ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ರವಿ</string>
			<string>ಸೋಮ</string>
			<string>ಮಂಗಳ</string>
			<string>ಬುಧ</string>
			<string>ಗುರು</string>
			<string>ಶುಕ್ರ</string>
			<string>ಶನಿ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ರ</string>
			<string>ಸೋ</string>
			<string>ಮಂ</string>
			<string>ಬು</string>
			<string>ಗು</string>
			<string>ಶು</string>
			<string>ಶ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ರವಿವಾರ</string>
			<string>ಸೋಮವಾರ</string>
			<string>ಮಂಗಳವಾರ</string>
			<string>ಬುಧವಾರ</string>
			<string>ಗುರುವಾರ</string>
			<string>ಶುಕ್ರವಾರ</string>
			<string>ಶನಿವಾರ</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ಜನ.</string>
			<string>ಫೆಬ್ರು.</string>
			<string>ಮಾ</string>
			<string>ಏಪ್ರಿ.</string>
			<string>ಮೇ</string>
			<string>ಜೂ</string>
			<string>ಜು.</string>
			<string>ಆಗ.</string>
			<string>ಸೆಪ್ಟೆಂ.</string>
			<string>ಅಕ್ಟೋ.</string>
			<string>ನವೆಂ.</string>
			<string>ಡಿಸೆಂ.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ಜ</string>
			<string>ಫೆ</string>
			<string>ಮಾ</string>
			<string>ಏ</string>
			<string>ಮೇ</string>
			<string>ಜೂ</string>
			<string>ಜು</string>
			<string>ಆ</string>
			<string>ಸೆ</string>
			<string>ಅ</string>
			<string>ನ</string>
			<string>ಡಿ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ಜನವರಿ</string>
			<string>ಫೆಬ್ರವರಿ</string>
			<string>ಮಾರ್ಚ್</string>
			<string>ಏಪ್ರಿಲ್</string>
			<string>ಮೇ</string>
			<string>ಜೂನ್</string>
			<string>ಜುಲೈ</string>
			<string>ಆಗಸ್ಟ್</string>
			<string>ಸಪ್ಟೆಂಬರ್</string>
			<string>ಅಕ್ಟೋಬರ್</string>
			<string>ನವೆಂಬರ್</string>
			<string>ಡಿಸೆಂಬರ್</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ಜನ.</string>
			<string>ಫೆಬ್ರು.</string>
			<string>ಮಾ</string>
			<string>ಏಪ್ರಿ.</string>
			<string>ಮೇ</string>
			<string>ಜೂ</string>
			<string>ಜು.</string>
			<string>ಆಗ.</string>
			<string>ಸೆಪ್ಟೆಂ.</string>
			<string>ಅಕ್ಟೋ.</string>
			<string>ನವೆಂ.</string>
			<string>ಡಿಸೆಂ.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ಜ</string>
			<string>ಫೆ</string>
			<string>ಮಾ</string>
			<string>ಏ</string>
			<string>ಮೇ</string>
			<string>ಜೂ</string>
			<string>ಜು</string>
			<string>ಆ</string>
			<string>ಸೆ</string>
			<string>ಅ</string>
			<string>ನ</string>
			<string>ಡಿ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ಜನವರಿ</string>
			<string>ಫೆಬ್ರವರಿ</string>
			<string>ಮಾರ್ಚ್</string>
			<string>ಏಪ್ರಿಲ್</string>
			<string>ಮೇ</string>
			<string>ಜೂನ್</string>
			<string>ಜುಲೈ</string>
			<string>ಆಗಸ್ಟ್</string>
			<string>ಸಪ್ಟೆಂಬರ್</string>
			<string>ಅಕ್ಟೋಬರ್</string>
			<string>ನವೆಂಬರ್</string>
			<string>ಡಿಸೆಂಬರ್</string>
		</array>
		<key>timeFormats.full</key>
		<string>hh:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>hh:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>hh:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>hh:mm a</string>
	</dict>
</dict>
</plist>
