<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ko</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y년 M월 d일 EEEE</string>
		<key>dateFormats.long</key>
		<string>y년 M월 d일</string>
		<key>dateFormats.medium</key>
		<string>y. M. d.</string>
		<key>dateFormats.short</key>
		<string>yy. M. d.</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>오전</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>오후</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>일</string>
			<string>월</string>
			<string>화</string>
			<string>수</string>
			<string>목</string>
			<string>금</string>
			<string>토</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>일</string>
			<string>월</string>
			<string>화</string>
			<string>수</string>
			<string>목</string>
			<string>금</string>
			<string>토</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>일요일</string>
			<string>월요일</string>
			<string>화요일</string>
			<string>수요일</string>
			<string>목요일</string>
			<string>금요일</string>
			<string>토요일</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>일</string>
			<string>월</string>
			<string>화</string>
			<string>수</string>
			<string>목</string>
			<string>금</string>
			<string>토</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>일</string>
			<string>월</string>
			<string>화</string>
			<string>수</string>
			<string>목</string>
			<string>금</string>
			<string>토</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>일요일</string>
			<string>월요일</string>
			<string>화요일</string>
			<string>수요일</string>
			<string>목요일</string>
			<string>금요일</string>
			<string>토요일</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>1월</string>
			<string>2월</string>
			<string>3월</string>
			<string>4월</string>
			<string>5월</string>
			<string>6월</string>
			<string>7월</string>
			<string>8월</string>
			<string>9월</string>
			<string>10월</string>
			<string>11월</string>
			<string>12월</string>
		</array>
		<key>timeFormats.full</key>
		<string>a h시 m분 s초 zzzz</string>
		<key>timeFormats.long</key>
		<string>a h시 m분 s초 z</string>
		<key>timeFormats.medium</key>
		<string>a h:mm:ss</string>
		<key>timeFormats.short</key>
		<string>a h:mm</string>
	</dict>
</dict>
</plist>
