<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ks</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, MMMM d, y</string>
		<key>dateFormats.long</key>
		<string>MMMM d, y</string>
		<key>dateFormats.medium</key>
		<string>MMM d, y</string>
		<key>dateFormats.short</key>
		<string>M/d/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>آتھوار</string>
			<string>ژٔنٛدٕروار</string>
			<string>بوٚموار</string>
			<string>بودوار</string>
			<string>برٛٮ۪سوار</string>
			<string>جُمہ</string>
			<string>بٹوار</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ا</string>
			<string>ژ</string>
			<string>ب</string>
			<string>ب</string>
			<string>ب</string>
			<string>ج</string>
			<string>ب</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>اَتھوار</string>
			<string>ژٔنٛدرٕروار</string>
			<string>بوٚموار</string>
			<string>بودوار</string>
			<string>برٛٮ۪سوار</string>
			<string>جُمہ</string>
			<string>بٹوار</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>آتھوار</string>
			<string>ژٔنٛدٕروار</string>
			<string>بوٚموار</string>
			<string>بودوار</string>
			<string>برٛٮ۪سوار</string>
			<string>جُمہ</string>
			<string>بٹوار</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ا</string>
			<string>ژ</string>
			<string>ب</string>
			<string>ب</string>
			<string>ب</string>
			<string>ج</string>
			<string>ب</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>اَتھوار</string>
			<string>ژٔنٛدرٕروار</string>
			<string>بوٚموار</string>
			<string>بودوار</string>
			<string>برٛٮ۪سوار</string>
			<string>جُمہ</string>
			<string>بٹوار</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>جنؤری</string>
			<string>فرؤری</string>
			<string>مارٕچ</string>
			<string>اپریل</string>
			<string>میٔ</string>
			<string>جوٗن</string>
			<string>جوٗلایی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوٗبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>ا</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>ا</string>
			<string>س</string>
			<string>س</string>
			<string>ا</string>
			<string>ن</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>جنؤری</string>
			<string>فرؤری</string>
			<string>مارٕچ</string>
			<string>اپریل</string>
			<string>میٔ</string>
			<string>جوٗن</string>
			<string>جوٗلایی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوٗبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>جنؤری</string>
			<string>فرؤری</string>
			<string>مارٕچ</string>
			<string>اپریل</string>
			<string>میٔ</string>
			<string>جوٗن</string>
			<string>جوٗلایی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوٗبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ج</string>
			<string>ف</string>
			<string>م</string>
			<string>ا</string>
			<string>م</string>
			<string>ج</string>
			<string>ج</string>
			<string>ا</string>
			<string>س</string>
			<string>س</string>
			<string>ا</string>
			<string>ن</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>جنؤری</string>
			<string>فرؤری</string>
			<string>مارٕچ</string>
			<string>اپریل</string>
			<string>میٔ</string>
			<string>جوٗن</string>
			<string>جوٗلایی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوٗبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
