<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ky</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d-MMMM, y-'ж'.</string>
		<key>dateFormats.long</key>
		<string>d-MMMM, y-'ж'.</string>
		<key>dateFormats.medium</key>
		<string>dd.MM.y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>түшкө чейинки</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>түштөн кийинки</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Жк</string>
			<string>Дш</string>
			<string>Ше</string>
			<string>Ша</string>
			<string>Бш</string>
			<string>Жм</string>
			<string>Иш</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Ж</string>
			<string>Д</string>
			<string>Ш</string>
			<string>Ш</string>
			<string>Б</string>
			<string>Ж</string>
			<string>И</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Жек</string>
			<string>Дүй</string>
			<string>Шей</string>
			<string>Шар</string>
			<string>Бей</string>
			<string>Жум</string>
			<string>Ишм</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Жек</string>
			<string>Дүй</string>
			<string>Шей</string>
			<string>Шар</string>
			<string>Бей</string>
			<string>Жум</string>
			<string>Ишм</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Ж</string>
			<string>Д</string>
			<string>Ш</string>
			<string>Ш</string>
			<string>Б</string>
			<string>Ж</string>
			<string>И</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Жекшемби</string>
			<string>Дүйшөмбү</string>
			<string>Шейшемби</string>
			<string>Шаршемби</string>
			<string>Бейшемби</string>
			<string>Жума</string>
			<string>Ишемби</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>янв.</string>
			<string>фев.</string>
			<string>мар.</string>
			<string>апр.</string>
			<string>май</string>
			<string>июн.</string>
			<string>июл.</string>
			<string>авг.</string>
			<string>сен.</string>
			<string>окт.</string>
			<string>ноя.</string>
			<string>дек.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>январь</string>
			<string>февраль</string>
			<string>март</string>
			<string>апрель</string>
			<string>май</string>
			<string>июнь</string>
			<string>июль</string>
			<string>август</string>
			<string>сентябрь</string>
			<string>октябрь</string>
			<string>ноябрь</string>
			<string>декабрь</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>янв.</string>
			<string>фев.</string>
			<string>мар.</string>
			<string>апр.</string>
			<string>май</string>
			<string>июн.</string>
			<string>июл.</string>
			<string>авг.</string>
			<string>сен.</string>
			<string>окт.</string>
			<string>ноя.</string>
			<string>дек.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>январь</string>
			<string>февраль</string>
			<string>март</string>
			<string>апрель</string>
			<string>май</string>
			<string>июнь</string>
			<string>июль</string>
			<string>август</string>
			<string>сентябрь</string>
			<string>октябрь</string>
			<string>ноябрь</string>
			<string>декабрь</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
