<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lg</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Sab</string>
			<string>Bal</string>
			<string>Lw2</string>
			<string>Lw3</string>
			<string>Lw4</string>
			<string>Lw5</string>
			<string>Lw6</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>B</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sabbiiti</string>
			<string>Balaza</string>
			<string>Lwakubiri</string>
			<string>Lwakusatu</string>
			<string>Lwakuna</string>
			<string>Lwakutaano</string>
			<string>Lwamukaaga</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Sab</string>
			<string>Bal</string>
			<string>Lw2</string>
			<string>Lw3</string>
			<string>Lw4</string>
			<string>Lw5</string>
			<string>Lw6</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>B</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sabbiiti</string>
			<string>Balaza</string>
			<string>Lwakubiri</string>
			<string>Lwakusatu</string>
			<string>Lwakuna</string>
			<string>Lwakutaano</string>
			<string>Lwamukaaga</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Apu</string>
			<string>Maa</string>
			<string>Juu</string>
			<string>Jul</string>
			<string>Agu</string>
			<string>Seb</string>
			<string>Oki</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janwaliyo</string>
			<string>Febwaliyo</string>
			<string>Marisi</string>
			<string>Apuli</string>
			<string>Maayi</string>
			<string>Juuni</string>
			<string>Julaayi</string>
			<string>Agusito</string>
			<string>Sebuttemba</string>
			<string>Okitobba</string>
			<string>Novemba</string>
			<string>Desemba</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Apu</string>
			<string>Maa</string>
			<string>Juu</string>
			<string>Jul</string>
			<string>Agu</string>
			<string>Seb</string>
			<string>Oki</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janwaliyo</string>
			<string>Febwaliyo</string>
			<string>Marisi</string>
			<string>Apuli</string>
			<string>Maayi</string>
			<string>Juuni</string>
			<string>Julaayi</string>
			<string>Agusito</string>
			<string>Sebuttemba</string>
			<string>Okitobba</string>
			<string>Novemba</string>
			<string>Desemba</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
