<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lo</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE ທີ d MMMM G y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ກ່ອນທ່ຽງ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ຫຼັງທ່ຽງ</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ວັນອາທິດ</string>
			<string>ວັນຈັນ</string>
			<string>ວັນອັງຄານ</string>
			<string>ວັນພຸດ</string>
			<string>ວັນພະຫັດ</string>
			<string>ວັນສຸກ</string>
			<string>ວັນເສົາ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ວັນອາທິດ</string>
			<string>ວັນຈັນ</string>
			<string>ວັນອັງຄານ</string>
			<string>ວັນພຸດ</string>
			<string>ວັນພະຫັດ</string>
			<string>ວັນສຸກ</string>
			<string>ວັນເສົາ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ວັນອາທິດ</string>
			<string>ວັນຈັນ</string>
			<string>ວັນອັງຄານ</string>
			<string>ວັນພຸດ</string>
			<string>ວັນພະຫັດ</string>
			<string>ວັນສຸກ</string>
			<string>ວັນເສົາ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ທ</string>
			<string>ຈ</string>
			<string>ຄ</string>
			<string>​ພຸ</string>
			<string>ພ</string>
			<string>​ສຸ</string>
			<string>ສ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ວັນອາທິດ</string>
			<string>ວັນຈັນ</string>
			<string>ວັນອັງຄານ</string>
			<string>ວັນພຸດ</string>
			<string>ວັນພະຫັດ</string>
			<string>ວັນສຸກ</string>
			<string>ວັນເສົາ</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ມ.ກ.</string>
			<string>ກ.ພ.</string>
			<string>ມ.ນ.</string>
			<string>ມ.ສ.</string>
			<string>ພ.ພ.</string>
			<string>ມິ.ຖ.</string>
			<string>ກ.ລ.</string>
			<string>ສ.ຫ.</string>
			<string>ກ.ຍ.</string>
			<string>ຕ.ລ.</string>
			<string>ພ.ຈ.</string>
			<string>ທ.ວ.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ມັງກອນ</string>
			<string>ກຸມພາ</string>
			<string>ມີນາ</string>
			<string>ເມສາ</string>
			<string>ພຶດສະພາ</string>
			<string>ມິຖຸນາ</string>
			<string>ກໍລະກົດ</string>
			<string>ສິງຫາ</string>
			<string>ກັນຍາ</string>
			<string>ຕຸລາ</string>
			<string>ພະຈິກ</string>
			<string>ທັນວາ</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ມ.ກ.</string>
			<string>ກ.ພ.</string>
			<string>ມ.ນ.</string>
			<string>ມ.ສ.</string>
			<string>ພ.ພ.</string>
			<string>ມິ.ຖ.</string>
			<string>ກ.ລ.</string>
			<string>ສ.ຫ.</string>
			<string>ກ.ຍ.</string>
			<string>ຕ.ລ.</string>
			<string>ພ.ຈ.</string>
			<string>ທ.ວ.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ມັງກອນ</string>
			<string>ກຸມພາ</string>
			<string>ມີນາ</string>
			<string>ເມສາ</string>
			<string>ພຶດສະພາ</string>
			<string>ມິຖຸນາ</string>
			<string>ກໍລະກົດ</string>
			<string>ສິງຫາ</string>
			<string>ກັນຍາ</string>
			<string>ຕຸລາ</string>
			<string>ພະຈິກ</string>
			<string>ທັນວາ</string>
		</array>
		<key>timeFormats.full</key>
		<string>H ໂມງ m ນາທີ ss ວິນາທີ zzzz</string>
		<key>timeFormats.long</key>
		<string>H ໂມງ m ນາທີ ss ວິນາທີ z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
