<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lu</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>Dinda</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>Dilolo</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Lum</string>
			<string>Nko</string>
			<string>Ndy</string>
			<string>Ndg</string>
			<string>Njw</string>
			<string>Ngv</string>
			<string>Lub</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>L</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Lumingu</string>
			<string>Nkodya</string>
			<string>Ndàayà</string>
			<string>Ndangù</string>
			<string>Njòwa</string>
			<string>Ngòvya</string>
			<string>Lubingu</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Lum</string>
			<string>Nko</string>
			<string>Ndy</string>
			<string>Ndg</string>
			<string>Njw</string>
			<string>Ngv</string>
			<string>Lub</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>L</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Lumingu</string>
			<string>Nkodya</string>
			<string>Ndàayà</string>
			<string>Ndangù</string>
			<string>Njòwa</string>
			<string>Ngòvya</string>
			<string>Lubingu</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Cio</string>
			<string>Lui</string>
			<string>Lus</string>
			<string>Muu</string>
			<string>Lum</string>
			<string>Luf</string>
			<string>Kab</string>
			<string>Lush</string>
			<string>Lut</string>
			<string>Lun</string>
			<string>Kas</string>
			<string>Cis</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>C</string>
			<string>L</string>
			<string>L</string>
			<string>M</string>
			<string>L</string>
			<string>L</string>
			<string>K</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>K</string>
			<string>C</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Ciongo</string>
			<string>Lùishi</string>
			<string>Lusòlo</string>
			<string>Mùuyà</string>
			<string>Lumùngùlù</string>
			<string>Lufuimi</string>
			<string>Kabàlàshìpù</string>
			<string>Lùshìkà</string>
			<string>Lutongolo</string>
			<string>Lungùdi</string>
			<string>Kaswèkèsè</string>
			<string>Ciswà</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Cio</string>
			<string>Lui</string>
			<string>Lus</string>
			<string>Muu</string>
			<string>Lum</string>
			<string>Luf</string>
			<string>Kab</string>
			<string>Lush</string>
			<string>Lut</string>
			<string>Lun</string>
			<string>Kas</string>
			<string>Cis</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>C</string>
			<string>L</string>
			<string>L</string>
			<string>M</string>
			<string>L</string>
			<string>L</string>
			<string>K</string>
			<string>L</string>
			<string>L</string>
			<string>L</string>
			<string>K</string>
			<string>C</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Ciongo</string>
			<string>Lùishi</string>
			<string>Lusòlo</string>
			<string>Mùuyà</string>
			<string>Lumùngùlù</string>
			<string>Lufuimi</string>
			<string>Kabàlàshìpù</string>
			<string>Lùshìkà</string>
			<string>Lutongolo</string>
			<string>Lungùdi</string>
			<string>Kaswèkèsè</string>
			<string>Ciswà</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
