<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lv</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, y. 'gada' d. MMMM</string>
		<key>dateFormats.long</key>
		<string>y. 'gada' d. MMMM</string>
		<key>dateFormats.medium</key>
		<string>y. 'gada' d. MMM</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>priekšpusdienā</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>pēcpusdienā</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Sv</string>
			<string>Pr</string>
			<string>Ot</string>
			<string>Tr</string>
			<string>Ce</string>
			<string>Pk</string>
			<string>Se</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>P</string>
			<string>O</string>
			<string>T</string>
			<string>C</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>svētdiena</string>
			<string>pirmdiena</string>
			<string>otrdiena</string>
			<string>trešdiena</string>
			<string>ceturtdiena</string>
			<string>piektdiena</string>
			<string>sestdiena</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Sv</string>
			<string>Pr</string>
			<string>Ot</string>
			<string>Tr</string>
			<string>Ce</string>
			<string>Pk</string>
			<string>Se</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>P</string>
			<string>O</string>
			<string>T</string>
			<string>C</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Svētdiena</string>
			<string>Pirmdiena</string>
			<string>Otrdiena</string>
			<string>Trešdiena</string>
			<string>Ceturtdiena</string>
			<string>Piektdiena</string>
			<string>Sestdiena</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>janv.</string>
			<string>febr.</string>
			<string>marts</string>
			<string>apr.</string>
			<string>maijs</string>
			<string>jūn.</string>
			<string>jūl.</string>
			<string>aug.</string>
			<string>sept.</string>
			<string>okt.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>janvāris</string>
			<string>februāris</string>
			<string>marts</string>
			<string>aprīlis</string>
			<string>maijs</string>
			<string>jūnijs</string>
			<string>jūlijs</string>
			<string>augusts</string>
			<string>septembris</string>
			<string>oktobris</string>
			<string>novembris</string>
			<string>decembris</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Janv.</string>
			<string>Febr.</string>
			<string>Marts</string>
			<string>Apr.</string>
			<string>Maijs</string>
			<string>Jūn.</string>
			<string>Jūl.</string>
			<string>Aug.</string>
			<string>Sept.</string>
			<string>Okt.</string>
			<string>Nov.</string>
			<string>Dec.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janvāris</string>
			<string>Februāris</string>
			<string>Marts</string>
			<string>Aprīlis</string>
			<string>Maijs</string>
			<string>Jūnijs</string>
			<string>Jūlijs</string>
			<string>Augusts</string>
			<string>Septembris</string>
			<string>Oktobris</string>
			<string>Novembris</string>
			<string>Decembris</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
