<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mg</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Alah</string>
			<string>Alats</string>
			<string>Tal</string>
			<string>Alar</string>
			<string>Alak</string>
			<string>Zom</string>
			<string>Asab</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>A</string>
			<string>A</string>
			<string>T</string>
			<string>A</string>
			<string>A</string>
			<string>Z</string>
			<string>A</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Alahady</string>
			<string>Alatsinainy</string>
			<string>Talata</string>
			<string>Alarobia</string>
			<string>Alakamisy</string>
			<string>Zoma</string>
			<string>Asabotsy</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Alah</string>
			<string>Alats</string>
			<string>Tal</string>
			<string>Alar</string>
			<string>Alak</string>
			<string>Zom</string>
			<string>Asab</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>A</string>
			<string>A</string>
			<string>T</string>
			<string>A</string>
			<string>A</string>
			<string>Z</string>
			<string>A</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Alahady</string>
			<string>Alatsinainy</string>
			<string>Talata</string>
			<string>Alarobia</string>
			<string>Alakamisy</string>
			<string>Zoma</string>
			<string>Asabotsy</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jon</string>
			<string>Jol</string>
			<string>Aog</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janoary</string>
			<string>Febroary</string>
			<string>Martsa</string>
			<string>Aprily</string>
			<string>Mey</string>
			<string>Jona</string>
			<string>Jolay</string>
			<string>Aogositra</string>
			<string>Septambra</string>
			<string>Oktobra</string>
			<string>Novambra</string>
			<string>Desambra</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jon</string>
			<string>Jol</string>
			<string>Aog</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janoary</string>
			<string>Febroary</string>
			<string>Martsa</string>
			<string>Aprily</string>
			<string>Mey</string>
			<string>Jona</string>
			<string>Jolay</string>
			<string>Aogositra</string>
			<string>Septambra</string>
			<string>Oktobra</string>
			<string>Novambra</string>
			<string>Desambra</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
