<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mk</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, dd MMMM y 'г'.</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y 'г'.</string>
		<key>dateFormats.medium</key>
		<string>dd.M.y</string>
		<key>dateFormats.short</key>
		<string>dd.M.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>претпладне</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>попладне</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>нед.</string>
			<string>пон.</string>
			<string>вт.</string>
			<string>сре.</string>
			<string>чет.</string>
			<string>пет.</string>
			<string>саб.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>в</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>недела</string>
			<string>понеделник</string>
			<string>вторник</string>
			<string>среда</string>
			<string>четврток</string>
			<string>петок</string>
			<string>сабота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>нед.</string>
			<string>пон.</string>
			<string>вт.</string>
			<string>сре.</string>
			<string>чет.</string>
			<string>пет.</string>
			<string>саб.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>в</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>недела</string>
			<string>понеделник</string>
			<string>вторник</string>
			<string>среда</string>
			<string>четврток</string>
			<string>петок</string>
			<string>сабота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>јан.</string>
			<string>фев.</string>
			<string>мар.</string>
			<string>апр.</string>
			<string>мај</string>
			<string>јун.</string>
			<string>јул.</string>
			<string>авг.</string>
			<string>септ.</string>
			<string>окт.</string>
			<string>ноем.</string>
			<string>дек.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ј</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ј</string>
			<string>ј</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>јануари</string>
			<string>февруари</string>
			<string>март</string>
			<string>април</string>
			<string>мај</string>
			<string>јуни</string>
			<string>јули</string>
			<string>август</string>
			<string>септември</string>
			<string>октомври</string>
			<string>ноември</string>
			<string>декември</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>јан.</string>
			<string>фев.</string>
			<string>мар.</string>
			<string>апр.</string>
			<string>мај</string>
			<string>јун.</string>
			<string>јул.</string>
			<string>авг.</string>
			<string>септ.</string>
			<string>окт.</string>
			<string>ноем.</string>
			<string>дек.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ј</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ј</string>
			<string>ј</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>јануари</string>
			<string>февруари</string>
			<string>март</string>
			<string>април</string>
			<string>мај</string>
			<string>јуни</string>
			<string>јули</string>
			<string>август</string>
			<string>септември</string>
			<string>октомври</string>
			<string>ноември</string>
			<string>декември</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
