<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ml</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y, MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y, MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y, MMM d</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ഞായർ</string>
			<string>തിങ്കൾ</string>
			<string>ചൊവ്വ</string>
			<string>ബുധൻ</string>
			<string>വ്യാഴം</string>
			<string>വെള്ളി</string>
			<string>ശനി</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ഞാ</string>
			<string>തി</string>
			<string>ചൊ</string>
			<string>ബു</string>
			<string>വ്യാ</string>
			<string>വെ</string>
			<string>ശ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ഞായറാഴ്‌ച</string>
			<string>തിങ്കളാഴ്‌ച</string>
			<string>ചൊവ്വാഴ്ച</string>
			<string>ബുധനാഴ്‌ച</string>
			<string>വ്യാഴാഴ്‌ച</string>
			<string>വെള്ളിയാഴ്‌ച</string>
			<string>ശനിയാഴ്‌ച</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ഞായർ</string>
			<string>തിങ്കൾ</string>
			<string>ചൊവ്വ</string>
			<string>ബുധൻ</string>
			<string>വ്യാഴം</string>
			<string>വെള്ളി</string>
			<string>ശനി</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ഞാ</string>
			<string>തി</string>
			<string>ചൊ</string>
			<string>ബു</string>
			<string>വ്യാ</string>
			<string>വെ</string>
			<string>ശ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ഞായറാഴ്‌ച</string>
			<string>തിങ്കളാഴ്‌ച</string>
			<string>ചൊവ്വാഴ്‌ച</string>
			<string>ബുധനാഴ്‌ച</string>
			<string>വ്യാഴാഴ്‌ച</string>
			<string>വെള്ളിയാഴ്‌ച</string>
			<string>ശനിയാഴ്‌ച</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ജനു</string>
			<string>ഫെബ്രു</string>
			<string>മാർ</string>
			<string>ഏപ്രി</string>
			<string>മേയ്</string>
			<string>ജൂൺ</string>
			<string>ജൂലൈ</string>
			<string>ഓഗ</string>
			<string>സെപ്റ്റം</string>
			<string>ഒക്ടോ</string>
			<string>നവം</string>
			<string>ഡിസം</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ജ</string>
			<string>ഫെ</string>
			<string>മാ</string>
			<string>ഏ</string>
			<string>മേ</string>
			<string>ജൂ</string>
			<string>ജൂ</string>
			<string>ഓ</string>
			<string>സെ</string>
			<string>ഒ</string>
			<string>ന</string>
			<string>ഡി</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ജനുവരി</string>
			<string>ഫെബ്രുവരി</string>
			<string>മാർച്ച്</string>
			<string>ഏപ്രിൽ</string>
			<string>മേയ്</string>
			<string>ജൂൺ</string>
			<string>ജൂലൈ</string>
			<string>ആഗസ്റ്റ്</string>
			<string>സെപ്റ്റംബർ</string>
			<string>ഒക്‌ടോബർ</string>
			<string>നവംബർ</string>
			<string>ഡിസംബർ</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ജനു</string>
			<string>ഫെബ്രു</string>
			<string>മാർ</string>
			<string>ഏപ്രി</string>
			<string>മേയ്</string>
			<string>ജൂൺ</string>
			<string>ജൂലൈ</string>
			<string>ഓഗ</string>
			<string>സെപ്റ്റം</string>
			<string>ഒക്ടോ</string>
			<string>നവം</string>
			<string>ഡിസം</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ജ</string>
			<string>ഫെ</string>
			<string>മാ</string>
			<string>ഏ</string>
			<string>മേ</string>
			<string>ജൂ</string>
			<string>ജൂ</string>
			<string>ഓ</string>
			<string>സെ</string>
			<string>ഒ</string>
			<string>ന</string>
			<string>ഡി</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ജനുവരി</string>
			<string>ഫെബ്രുവരി</string>
			<string>മാർച്ച്</string>
			<string>ഏപ്രിൽ</string>
			<string>മേയ്</string>
			<string>ജൂൺ</string>
			<string>ജൂലൈ</string>
			<string>ആഗസ്റ്റ്</string>
			<string>സെപ്റ്റംബർ</string>
			<string>ഒക്‌ടോബർ</string>
			<string>നവംബർ</string>
			<string>ഡിസംബർ</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
