<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM, y</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>रवि</string>
			<string>सोम</string>
			<string>मंगळ</string>
			<string>बुध</string>
			<string>गुरु</string>
			<string>शुक्र</string>
			<string>शनि</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>र</string>
			<string>सो</string>
			<string>मं</string>
			<string>बु</string>
			<string>गु</string>
			<string>शु</string>
			<string>श</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>रविवार</string>
			<string>सोमवार</string>
			<string>मंगळवार</string>
			<string>बुधवार</string>
			<string>गुरुवार</string>
			<string>शुक्रवार</string>
			<string>शनिवार</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>रवि</string>
			<string>सोम</string>
			<string>मंगळ</string>
			<string>बुध</string>
			<string>गुरु</string>
			<string>शुक्र</string>
			<string>शनि</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>र</string>
			<string>सो</string>
			<string>मं</string>
			<string>बु</string>
			<string>गु</string>
			<string>शु</string>
			<string>श</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>रविवार</string>
			<string>सोमवार</string>
			<string>मंगळवार</string>
			<string>बुधवार</string>
			<string>गुरुवार</string>
			<string>शुक्रवार</string>
			<string>शनिवार</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>जाने</string>
			<string>फेब्रु</string>
			<string>मार्च</string>
			<string>एप्रि</string>
			<string>मे</string>
			<string>जून</string>
			<string>जुलै</string>
			<string>ऑग</string>
			<string>सप्टें</string>
			<string>ऑक्टो</string>
			<string>नोव्हें</string>
			<string>डिसें</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>जा</string>
			<string>फे</string>
			<string>मा</string>
			<string>ए</string>
			<string>मे</string>
			<string>जू</string>
			<string>जु</string>
			<string>ऑ</string>
			<string>स</string>
			<string>ऑ</string>
			<string>नो</string>
			<string>डि</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>जानेवारी</string>
			<string>फेब्रुवारी</string>
			<string>मार्च</string>
			<string>एप्रिल</string>
			<string>मे</string>
			<string>जून</string>
			<string>जुलै</string>
			<string>ऑगस्ट</string>
			<string>सप्टेंबर</string>
			<string>ऑक्टोबर</string>
			<string>नोव्हेंबर</string>
			<string>डिसेंबर</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>जाने</string>
			<string>फेब्रु</string>
			<string>मार्च</string>
			<string>एप्रि</string>
			<string>मे</string>
			<string>जून</string>
			<string>जुलै</string>
			<string>ऑग</string>
			<string>सप्टें</string>
			<string>ऑक्टो</string>
			<string>नोव्हें</string>
			<string>डिसें</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>जा</string>
			<string>फे</string>
			<string>मा</string>
			<string>ए</string>
			<string>मे</string>
			<string>जू</string>
			<string>जु</string>
			<string>ऑ</string>
			<string>स</string>
			<string>ऑ</string>
			<string>नो</string>
			<string>डि</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>जानेवारी</string>
			<string>फेब्रुवारी</string>
			<string>मार्च</string>
			<string>एप्रिल</string>
			<string>मे</string>
			<string>जून</string>
			<string>जुलै</string>
			<string>ऑगस्ट</string>
			<string>सप्टेंबर</string>
			<string>ऑक्टोबर</string>
			<string>नोव्हेंबर</string>
			<string>डिसेंबर</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
