<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ms</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>pg</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ptg</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Ahd</string>
			<string>Isn</string>
			<string>Sel</string>
			<string>Rab</string>
			<string>Kha</string>
			<string>Jum</string>
			<string>Sab</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>A</string>
			<string>I</string>
			<string>S</string>
			<string>R</string>
			<string>K</string>
			<string>J</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Ahad</string>
			<string>Isnin</string>
			<string>Selasa</string>
			<string>Rabu</string>
			<string>Khamis</string>
			<string>Jumaat</string>
			<string>Sabtu</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Ahd</string>
			<string>Isn</string>
			<string>Sel</string>
			<string>Rab</string>
			<string>Kha</string>
			<string>Jum</string>
			<string>Sab</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>A</string>
			<string>I</string>
			<string>S</string>
			<string>R</string>
			<string>K</string>
			<string>J</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Ahad</string>
			<string>Isnin</string>
			<string>Selasa</string>
			<string>Rabu</string>
			<string>Khamis</string>
			<string>Jumaat</string>
			<string>Sabtu</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mac</string>
			<string>Apr</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ogo</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dis</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>O</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Januari</string>
			<string>Februari</string>
			<string>Mac</string>
			<string>April</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Julai</string>
			<string>Ogos</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Disember</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mac</string>
			<string>Apr</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ogo</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dis</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>O</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Januari</string>
			<string>Februari</string>
			<string>Mac</string>
			<string>April</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Julai</string>
			<string>Ogos</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>Disember</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>ms-Latn-BN</key>
	<dict>
		<key>dateFormats.full</key>
		<string>dd MMMM y</string>
	</dict>
</dict>
</plist>
