<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mt</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d 'ta'’ MMMM y</string>
		<key>dateFormats.long</key>
		<string>d 'ta'’ MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>QN</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>WN</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Ħad</string>
			<string>Tne</string>
			<string>Tli</string>
			<string>Erb</string>
			<string>Ħam</string>
			<string>Ġim</string>
			<string>Sib</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Ħ</string>
			<string>T</string>
			<string>T</string>
			<string>E</string>
			<string>Ħ</string>
			<string>Ġ</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Il-Ħadd</string>
			<string>It-Tnejn</string>
			<string>It-Tlieta</string>
			<string>L-Erbgħa</string>
			<string>Il-Ħamis</string>
			<string>Il-Ġimgħa</string>
			<string>Is-Sibt</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Ħad</string>
			<string>Tne</string>
			<string>Tli</string>
			<string>Erb</string>
			<string>Ħam</string>
			<string>Ġim</string>
			<string>Sib</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Ħ</string>
			<string>T</string>
			<string>T</string>
			<string>E</string>
			<string>Ħ</string>
			<string>Ġ</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Il-Ħadd</string>
			<string>It-Tnejn</string>
			<string>It-Tlieta</string>
			<string>L-Erbgħa</string>
			<string>Il-Ħamis</string>
			<string>Il-Ġimgħa</string>
			<string>Is-Sibt</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fra</string>
			<string>Mar</string>
			<string>Apr</string>
			<string>Mej</string>
			<string>Ġun</string>
			<string>Lul</string>
			<string>Aww</string>
			<string>Set</string>
			<string>Ott</string>
			<string>Nov</string>
			<string>Diċ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Ġ</string>
			<string>L</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Jannar</string>
			<string>Frar</string>
			<string>Marzu</string>
			<string>April</string>
			<string>Mejju</string>
			<string>Ġunju</string>
			<string>Lulju</string>
			<string>Awwissu</string>
			<string>Settembru</string>
			<string>Ottubru</string>
			<string>Novembru</string>
			<string>Diċembru</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fra</string>
			<string>Mar</string>
			<string>Apr</string>
			<string>Mej</string>
			<string>Ġun</string>
			<string>Lul</string>
			<string>Aww</string>
			<string>Set</string>
			<string>Ott</string>
			<string>Nov</string>
			<string>Diċ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Ġ</string>
			<string>L</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Jannar</string>
			<string>Frar</string>
			<string>Marzu</string>
			<string>April</string>
			<string>Mejju</string>
			<string>Ġunju</string>
			<string>Lulju</string>
			<string>Awwissu</string>
			<string>Settembru</string>
			<string>Ottubru</string>
			<string>Novembru</string>
			<string>Diċembru</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
