<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nd</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mvu</string>
			<string>Sib</string>
			<string>Sit</string>
			<string>Sin</string>
			<string>Sih</string>
			<string>Mgq</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>S</string>
			<string>S</string>
			<string>S</string>
			<string>S</string>
			<string>M</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sonto</string>
			<string>Mvulo</string>
			<string>Sibili</string>
			<string>Sithathu</string>
			<string>Sine</string>
			<string>Sihlanu</string>
			<string>Mgqibelo</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mvu</string>
			<string>Sib</string>
			<string>Sit</string>
			<string>Sin</string>
			<string>Sih</string>
			<string>Mgq</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>S</string>
			<string>S</string>
			<string>S</string>
			<string>S</string>
			<string>M</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sonto</string>
			<string>Mvulo</string>
			<string>Sibili</string>
			<string>Sithathu</string>
			<string>Sine</string>
			<string>Sihlanu</string>
			<string>Mgqibelo</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Zib</string>
			<string>Nhlo</string>
			<string>Mbi</string>
			<string>Mab</string>
			<string>Nkw</string>
			<string>Nhla</string>
			<string>Ntu</string>
			<string>Ncw</string>
			<string>Mpan</string>
			<string>Mfu</string>
			<string>Lwe</string>
			<string>Mpal</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Z</string>
			<string>N</string>
			<string>M</string>
			<string>M</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>M</string>
			<string>M</string>
			<string>L</string>
			<string>M</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Zibandlela</string>
			<string>Nhlolanja</string>
			<string>Mbimbitho</string>
			<string>Mabasa</string>
			<string>Nkwenkwezi</string>
			<string>Nhlangula</string>
			<string>Ntulikazi</string>
			<string>Ncwabakazi</string>
			<string>Mpandula</string>
			<string>Mfumfu</string>
			<string>Lwezi</string>
			<string>Mpalakazi</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Zib</string>
			<string>Nhlo</string>
			<string>Mbi</string>
			<string>Mab</string>
			<string>Nkw</string>
			<string>Nhla</string>
			<string>Ntu</string>
			<string>Ncw</string>
			<string>Mpan</string>
			<string>Mfu</string>
			<string>Lwe</string>
			<string>Mpal</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Z</string>
			<string>N</string>
			<string>M</string>
			<string>M</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>N</string>
			<string>M</string>
			<string>M</string>
			<string>L</string>
			<string>M</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Zibandlela</string>
			<string>Nhlolanja</string>
			<string>Mbimbitho</string>
			<string>Mabasa</string>
			<string>Nkwenkwezi</string>
			<string>Nhlangula</string>
			<string>Ntulikazi</string>
			<string>Ncwabakazi</string>
			<string>Mpandula</string>
			<string>Mfumfu</string>
			<string>Lwezi</string>
			<string>Mpalakazi</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
