<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nl</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>zo</string>
			<string>ma</string>
			<string>di</string>
			<string>wo</string>
			<string>do</string>
			<string>vr</string>
			<string>za</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Z</string>
			<string>M</string>
			<string>D</string>
			<string>W</string>
			<string>D</string>
			<string>V</string>
			<string>Z</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>zondag</string>
			<string>maandag</string>
			<string>dinsdag</string>
			<string>woensdag</string>
			<string>donderdag</string>
			<string>vrijdag</string>
			<string>zaterdag</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>zo</string>
			<string>ma</string>
			<string>di</string>
			<string>wo</string>
			<string>do</string>
			<string>vr</string>
			<string>za</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Z</string>
			<string>M</string>
			<string>D</string>
			<string>W</string>
			<string>D</string>
			<string>V</string>
			<string>Z</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>zondag</string>
			<string>maandag</string>
			<string>dinsdag</string>
			<string>woensdag</string>
			<string>donderdag</string>
			<string>vrijdag</string>
			<string>zaterdag</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan.</string>
			<string>feb.</string>
			<string>mrt.</string>
			<string>apr.</string>
			<string>mei</string>
			<string>jun.</string>
			<string>jul.</string>
			<string>aug.</string>
			<string>sep.</string>
			<string>okt.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januari</string>
			<string>februari</string>
			<string>maart</string>
			<string>april</string>
			<string>mei</string>
			<string>juni</string>
			<string>juli</string>
			<string>augustus</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mrt</string>
			<string>apr</string>
			<string>mei</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januari</string>
			<string>februari</string>
			<string>maart</string>
			<string>april</string>
			<string>mei</string>
			<string>juni</string>
			<string>juli</string>
			<string>augustus</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>nl-BE</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>d-MMM-y</string>
		<key>dateFormats.short</key>
		<string>d/MM/yy</string>
	</dict>
</dict>
</plist>
