<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mvu</string>
			<string>Bil</string>
			<string>Tha</string>
			<string>Ne</string>
			<string>Hla</string>
			<string>Gqi</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>uSonto</string>
			<string>uMvulo</string>
			<string>uLesibili</string>
			<string>Lesithathu</string>
			<string>uLesine</string>
			<string>ngoLesihlanu</string>
			<string>umGqibelo</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mvu</string>
			<string>Bil</string>
			<string>Tha</string>
			<string>Ne</string>
			<string>Hla</string>
			<string>Gqi</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>uSonto</string>
			<string>uMvulo</string>
			<string>uLesibili</string>
			<string>Lesithathu</string>
			<string>uLesine</string>
			<string>ngoLesihlanu</string>
			<string>umGqibelo</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mat</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Arh</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Usi</string>
			<string>Dis</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janabari</string>
			<string>uFeberbari</string>
			<string>uMatjhi</string>
			<string>u-Apreli</string>
			<string>Meyi</string>
			<string>Juni</string>
			<string>Julayi</string>
			<string>Arhostosi</string>
			<string>Septemba</string>
			<string>Oktoba</string>
			<string>Usinyikhaba</string>
			<string>Disemba</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mat</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Arh</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Usi</string>
			<string>Dis</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janabari</string>
			<string>uFeberbari</string>
			<string>uMatjhi</string>
			<string>u-Apreli</string>
			<string>Meyi</string>
			<string>Juni</string>
			<string>Julayi</string>
			<string>Arhostosi</string>
			<string>Septemba</string>
			<string>Oktoba</string>
			<string>Usinyikhaba</string>
			<string>Disemba</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
