<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>om</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, MMMM d, y</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd-MMM-y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>WD</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>WB</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Dil</string>
			<string>Wix</string>
			<string>Qib</string>
			<string>Rob</string>
			<string>Kam</string>
			<string>Jim</string>
			<string>San</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Dilbata</string>
			<string>Wiixata</string>
			<string>Qibxata</string>
			<string>Roobii</string>
			<string>Kamiisa</string>
			<string>Jimaata</string>
			<string>Sanbata</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Dil</string>
			<string>Wix</string>
			<string>Qib</string>
			<string>Rob</string>
			<string>Kam</string>
			<string>Jim</string>
			<string>San</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Dilbata</string>
			<string>Wiixata</string>
			<string>Qibxata</string>
			<string>Roobii</string>
			<string>Kamiisa</string>
			<string>Jimaata</string>
			<string>Sanbata</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Ama</string>
			<string>Gur</string>
			<string>Bit</string>
			<string>Elb</string>
			<string>Cam</string>
			<string>Wax</string>
			<string>Ado</string>
			<string>Hag</string>
			<string>Ful</string>
			<string>Onk</string>
			<string>Sad</string>
			<string>Mud</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Amajjii</string>
			<string>Guraandhala</string>
			<string>Bitooteessa</string>
			<string>Elba</string>
			<string>Caamsa</string>
			<string>Waxabajjii</string>
			<string>Adooleessa</string>
			<string>Hagayya</string>
			<string>Fuulbana</string>
			<string>Onkololeessa</string>
			<string>Sadaasa</string>
			<string>Muddee</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Ama</string>
			<string>Gur</string>
			<string>Bit</string>
			<string>Elb</string>
			<string>Cam</string>
			<string>Wax</string>
			<string>Ado</string>
			<string>Hag</string>
			<string>Ful</string>
			<string>Onk</string>
			<string>Sad</string>
			<string>Mud</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Amajjii</string>
			<string>Guraandhala</string>
			<string>Bitooteessa</string>
			<string>Elba</string>
			<string>Caamsa</string>
			<string>Waxabajjii</string>
			<string>Adooleessa</string>
			<string>Hagayya</string>
			<string>Fuulbana</string>
			<string>Onkololeessa</string>
			<string>Sadaasa</string>
			<string>Muddee</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
