<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>or</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d-M-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>am</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>pm</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ରବି</string>
			<string>ସୋମ</string>
			<string>ମଙ୍ଗଳ</string>
			<string>ବୁଧ</string>
			<string>ଗୁରୁ</string>
			<string>ଶୁକ୍ର</string>
			<string>ଶନି</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ର</string>
			<string>ସୋ</string>
			<string>ମ</string>
			<string>ବୁ</string>
			<string>ଗୁ</string>
			<string>ଶୁ</string>
			<string>ଶ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ରବିବାର</string>
			<string>ସୋମବାର</string>
			<string>ମଙ୍ଗଳବାର</string>
			<string>ବୁଧବାର</string>
			<string>ଗୁରୁବାର</string>
			<string>ଶୁକ୍ରବାର</string>
			<string>ଶନିବାର</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ରବି</string>
			<string>ସୋମ</string>
			<string>ମଙ୍ଗଳ</string>
			<string>ବୁଧ</string>
			<string>ଗୁରୁ</string>
			<string>ଶୁକ୍ର</string>
			<string>ଶନି</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ର</string>
			<string>ସୋ</string>
			<string>ମ</string>
			<string>ବୁ</string>
			<string>ଗୁ</string>
			<string>ଶୁ</string>
			<string>ଶ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ରବିବାର</string>
			<string>ସୋମବାର</string>
			<string>ମଙ୍ଗଳବାର</string>
			<string>ବୁଧବାର</string>
			<string>ଗୁରୁବାର</string>
			<string>ଶୁକ୍ରବାର</string>
			<string>ଶନିବାର</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ଜାନୁଆରୀ</string>
			<string>ଫେବ୍ରୁୟାରୀ</string>
			<string>ମାର୍ଚ୍ଚ</string>
			<string>ଅପ୍ରେଲ</string>
			<string>ମେ</string>
			<string>ଜୁନ</string>
			<string>ଜୁଲାଇ</string>
			<string>ଅଗଷ୍ଟ</string>
			<string>ସେପ୍ଟେମ୍ବର</string>
			<string>ଅକ୍ଟୋବର</string>
			<string>ନଭେମ୍ବର</string>
			<string>ଡିସେମ୍ବର</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ଜା</string>
			<string>ଫେ</string>
			<string>ମା</string>
			<string>ଅ</string>
			<string>ମେ</string>
			<string>ଜୁ</string>
			<string>ଜୁ</string>
			<string>ଅ</string>
			<string>ସେ</string>
			<string>ଅ</string>
			<string>ନ</string>
			<string>ଡି</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ଜାନୁଆରୀ</string>
			<string>ଫେବ୍ରୁୟାରୀ</string>
			<string>ମାର୍ଚ୍ଚ</string>
			<string>ଅପ୍ରେଲ</string>
			<string>ମେ</string>
			<string>ଜୁନ</string>
			<string>ଜୁଲାଇ</string>
			<string>ଅଗଷ୍ଟ</string>
			<string>ସେପ୍ଟେମ୍ବର</string>
			<string>ଅକ୍ଟୋବର</string>
			<string>ନଭେମ୍ବର</string>
			<string>ଡିସେମ୍ବର</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ଜାନୁଆରୀ</string>
			<string>ଫେବ୍ରୁୟାରୀ</string>
			<string>ମାର୍ଚ୍ଚ</string>
			<string>ଅପ୍ରେଲ</string>
			<string>ମେ</string>
			<string>ଜୁନ</string>
			<string>ଜୁଲାଇ</string>
			<string>ଅଗଷ୍ଟ</string>
			<string>ସେପ୍ଟେମ୍ବର</string>
			<string>ଅକ୍ଟୋବର</string>
			<string>ନଭେମ୍ବର</string>
			<string>ଡିସେମ୍ବର</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ଜା</string>
			<string>ଫେ</string>
			<string>ମା</string>
			<string>ଅ</string>
			<string>ମେ</string>
			<string>ଜୁ</string>
			<string>ଜୁ</string>
			<string>ଅ</string>
			<string>ସେ</string>
			<string>ଅ</string>
			<string>ନ</string>
			<string>ଡି</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ଜାନୁଆରୀ</string>
			<string>ଫେବ୍ରୁୟାରୀ</string>
			<string>ମାର୍ଚ୍ଚ</string>
			<string>ଅପ୍ରେଲ</string>
			<string>ମେ</string>
			<string>ଜୁନ</string>
			<string>ଜୁଲାଇ</string>
			<string>ଅଗଷ୍ଟ</string>
			<string>ସେପ୍ଟେମ୍ବର</string>
			<string>ଅକ୍ଟୋବର</string>
			<string>ନଭେମ୍ବର</string>
			<string>ଡିସେମ୍ବର</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
