<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM, y 'аз'</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y 'аз'</string>
		<key>dateFormats.medium</key>
		<string>dd MMM y 'аз'</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ӕмбисбоны размӕ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ӕмбисбоны фӕстӕ</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>хцб</string>
			<string>крс</string>
			<string>дцг</string>
			<string>ӕрт</string>
			<string>цпр</string>
			<string>мрб</string>
			<string>сбт</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Х</string>
			<string>К</string>
			<string>Д</string>
			<string>Ӕ</string>
			<string>Ц</string>
			<string>М</string>
			<string>С</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>хуыцаубон</string>
			<string>къуырисӕр</string>
			<string>дыццӕг</string>
			<string>ӕртыццӕг</string>
			<string>цыппӕрӕм</string>
			<string>майрӕмбон</string>
			<string>сабат</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Хцб</string>
			<string>Крс</string>
			<string>Дцг</string>
			<string>Ӕрт</string>
			<string>Цпр</string>
			<string>Мрб</string>
			<string>Сбт</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Х</string>
			<string>К</string>
			<string>Д</string>
			<string>Ӕ</string>
			<string>Ц</string>
			<string>М</string>
			<string>С</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Хуыцаубон</string>
			<string>Къуырисӕр</string>
			<string>Дыццӕг</string>
			<string>Ӕртыццӕг</string>
			<string>Цыппӕрӕм</string>
			<string>Майрӕмбон</string>
			<string>Сабат</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>янв.</string>
			<string>фев.</string>
			<string>мар.</string>
			<string>апр.</string>
			<string>мая</string>
			<string>июны</string>
			<string>июлы</string>
			<string>авг.</string>
			<string>сен.</string>
			<string>окт.</string>
			<string>ноя.</string>
			<string>дек.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>январы</string>
			<string>февралы</string>
			<string>мартъийы</string>
			<string>апрелы</string>
			<string>майы</string>
			<string>июны</string>
			<string>июлы</string>
			<string>августы</string>
			<string>сентябры</string>
			<string>октябры</string>
			<string>ноябры</string>
			<string>декабры</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Янв.</string>
			<string>Февр.</string>
			<string>Март</string>
			<string>Апр.</string>
			<string>Май</string>
			<string>Июнь</string>
			<string>Июль</string>
			<string>Авг.</string>
			<string>Сент.</string>
			<string>Окт.</string>
			<string>Нояб.</string>
			<string>Дек.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Январь</string>
			<string>Февраль</string>
			<string>Мартъи</string>
			<string>Апрель</string>
			<string>Май</string>
			<string>Июнь</string>
			<string>Июль</string>
			<string>Август</string>
			<string>Сентябрь</string>
			<string>Октябрь</string>
			<string>Ноябрь</string>
			<string>Декабрь</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
