<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pl</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>niedz.</string>
			<string>pon.</string>
			<string>wt.</string>
			<string>śr.</string>
			<string>czw.</string>
			<string>pt.</string>
			<string>sob.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>W</string>
			<string>Ś</string>
			<string>C</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>niedziela</string>
			<string>poniedziałek</string>
			<string>wtorek</string>
			<string>środa</string>
			<string>czwartek</string>
			<string>piątek</string>
			<string>sobota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>niedz.</string>
			<string>pon.</string>
			<string>wt.</string>
			<string>śr.</string>
			<string>czw.</string>
			<string>pt.</string>
			<string>sob.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>W</string>
			<string>Ś</string>
			<string>C</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>niedziela</string>
			<string>poniedziałek</string>
			<string>wtorek</string>
			<string>środa</string>
			<string>czwartek</string>
			<string>piątek</string>
			<string>sobota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>sty</string>
			<string>lut</string>
			<string>mar</string>
			<string>kwi</string>
			<string>maj</string>
			<string>cze</string>
			<string>lip</string>
			<string>sie</string>
			<string>wrz</string>
			<string>paź</string>
			<string>lis</string>
			<string>gru</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>s</string>
			<string>l</string>
			<string>m</string>
			<string>k</string>
			<string>m</string>
			<string>c</string>
			<string>l</string>
			<string>s</string>
			<string>w</string>
			<string>p</string>
			<string>l</string>
			<string>g</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>stycznia</string>
			<string>lutego</string>
			<string>marca</string>
			<string>kwietnia</string>
			<string>maja</string>
			<string>czerwca</string>
			<string>lipca</string>
			<string>sierpnia</string>
			<string>września</string>
			<string>października</string>
			<string>listopada</string>
			<string>grudnia</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>sty</string>
			<string>lut</string>
			<string>mar</string>
			<string>kwi</string>
			<string>maj</string>
			<string>cze</string>
			<string>lip</string>
			<string>sie</string>
			<string>wrz</string>
			<string>paź</string>
			<string>lis</string>
			<string>gru</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>s</string>
			<string>l</string>
			<string>m</string>
			<string>k</string>
			<string>m</string>
			<string>c</string>
			<string>l</string>
			<string>s</string>
			<string>w</string>
			<string>p</string>
			<string>l</string>
			<string>g</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>styczeń</string>
			<string>luty</string>
			<string>marzec</string>
			<string>kwiecień</string>
			<string>maj</string>
			<string>czerwiec</string>
			<string>lipiec</string>
			<string>sierpień</string>
			<string>wrzesień</string>
			<string>październik</string>
			<string>listopad</string>
			<string>grudzień</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
