<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pt</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d 'de' MMMM 'de' y</string>
		<key>dateFormats.long</key>
		<string>d 'de' MMMM 'de' y</string>
		<key>dateFormats.medium</key>
		<string>dd/MM/y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>dom</string>
			<string>seg</string>
			<string>ter</string>
			<string>qua</string>
			<string>qui</string>
			<string>sex</string>
			<string>sáb</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>S</string>
			<string>T</string>
			<string>Q</string>
			<string>Q</string>
			<string>S</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>domingo</string>
			<string>segunda-feira</string>
			<string>terça-feira</string>
			<string>quarta-feira</string>
			<string>quinta-feira</string>
			<string>sexta-feira</string>
			<string>sábado</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>dom</string>
			<string>seg</string>
			<string>ter</string>
			<string>qua</string>
			<string>qui</string>
			<string>sex</string>
			<string>sáb</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>S</string>
			<string>T</string>
			<string>Q</string>
			<string>Q</string>
			<string>S</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>domingo</string>
			<string>segunda-feira</string>
			<string>terça-feira</string>
			<string>quarta-feira</string>
			<string>quinta-feira</string>
			<string>sexta-feira</string>
			<string>sábado</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>fev</string>
			<string>mar</string>
			<string>abr</string>
			<string>mai</string>
			<string>jun</string>
			<string>jul</string>
			<string>ago</string>
			<string>set</string>
			<string>out</string>
			<string>nov</string>
			<string>dez</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>janeiro</string>
			<string>fevereiro</string>
			<string>março</string>
			<string>abril</string>
			<string>maio</string>
			<string>junho</string>
			<string>julho</string>
			<string>agosto</string>
			<string>setembro</string>
			<string>outubro</string>
			<string>novembro</string>
			<string>dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>fev</string>
			<string>mar</string>
			<string>abr</string>
			<string>mai</string>
			<string>jun</string>
			<string>jul</string>
			<string>ago</string>
			<string>set</string>
			<string>out</string>
			<string>nov</string>
			<string>dez</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>janeiro</string>
			<string>fevereiro</string>
			<string>março</string>
			<string>abril</string>
			<string>maio</string>
			<string>junho</string>
			<string>julho</string>
			<string>agosto</string>
			<string>setembro</string>
			<string>outubro</string>
			<string>novembro</string>
			<string>dezembro</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>pt-AO</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-CV</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-GW</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-MO</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-MZ</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-PT</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-ST</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
	<key>pt-TL</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Fev</string>
			<string>Mar</string>
			<string>Abr</string>
			<string>Mai</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Set</string>
			<string>Out</string>
			<string>Nov</string>
			<string>Dez</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Janeiro</string>
			<string>Fevereiro</string>
			<string>Março</string>
			<string>Abril</string>
			<string>Maio</string>
			<string>Junho</string>
			<string>Julho</string>
			<string>Agosto</string>
			<string>Setembro</string>
			<string>Outubro</string>
			<string>Novembro</string>
			<string>Dezembro</string>
		</array>
	</dict>
</dict>
</plist>
