<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rm</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, 'ils' d 'da' MMMM y</string>
		<key>dateFormats.long</key>
		<string>d 'da' MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd-MM-y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>am</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>sm</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>du</string>
			<string>gli</string>
			<string>ma</string>
			<string>me</string>
			<string>gie</string>
			<string>ve</string>
			<string>so</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>G</string>
			<string>M</string>
			<string>M</string>
			<string>G</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>dumengia</string>
			<string>glindesdi</string>
			<string>mardi</string>
			<string>mesemna</string>
			<string>gievgia</string>
			<string>venderdi</string>
			<string>sonda</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>du</string>
			<string>gli</string>
			<string>ma</string>
			<string>me</string>
			<string>gie</string>
			<string>ve</string>
			<string>so</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>G</string>
			<string>M</string>
			<string>M</string>
			<string>G</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>dumengia</string>
			<string>glindesdi</string>
			<string>mardi</string>
			<string>mesemna</string>
			<string>gievgia</string>
			<string>venderdi</string>
			<string>sonda</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>schan.</string>
			<string>favr.</string>
			<string>mars</string>
			<string>avr.</string>
			<string>matg</string>
			<string>zercl.</string>
			<string>fan.</string>
			<string>avust</string>
			<string>sett.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>S</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Z</string>
			<string>F</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>schaner</string>
			<string>favrer</string>
			<string>mars</string>
			<string>avrigl</string>
			<string>matg</string>
			<string>zercladur</string>
			<string>fanadur</string>
			<string>avust</string>
			<string>settember</string>
			<string>october</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>schan.</string>
			<string>favr.</string>
			<string>mars</string>
			<string>avr.</string>
			<string>matg</string>
			<string>zercl.</string>
			<string>fan.</string>
			<string>avust</string>
			<string>sett.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>Z</string>
			<string>F</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>schaner</string>
			<string>favrer</string>
			<string>mars</string>
			<string>avrigl</string>
			<string>matg</string>
			<string>zercladur</string>
			<string>fanadur</string>
			<string>avust</string>
			<string>settember</string>
			<string>october</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
