<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ro</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>a.m.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>p.m.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Dum</string>
			<string>Lun</string>
			<string>Mar</string>
			<string>Mie</string>
			<string>Joi</string>
			<string>Vin</string>
			<string>Sâm</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>duminică</string>
			<string>luni</string>
			<string>marți</string>
			<string>miercuri</string>
			<string>joi</string>
			<string>vineri</string>
			<string>sâmbătă</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Dum</string>
			<string>Lun</string>
			<string>Mar</string>
			<string>Mie</string>
			<string>Joi</string>
			<string>Vin</string>
			<string>Sâm</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>D</string>
			<string>L</string>
			<string>M</string>
			<string>M</string>
			<string>J</string>
			<string>V</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>duminică</string>
			<string>luni</string>
			<string>marți</string>
			<string>miercuri</string>
			<string>joi</string>
			<string>vineri</string>
			<string>sâmbătă</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ian.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>apr.</string>
			<string>mai</string>
			<string>iun.</string>
			<string>iul.</string>
			<string>aug.</string>
			<string>sept.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>I</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>I</string>
			<string>I</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ianuarie</string>
			<string>februarie</string>
			<string>martie</string>
			<string>aprilie</string>
			<string>mai</string>
			<string>iunie</string>
			<string>iulie</string>
			<string>august</string>
			<string>septembrie</string>
			<string>octombrie</string>
			<string>noiembrie</string>
			<string>decembrie</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ian.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>apr.</string>
			<string>mai</string>
			<string>iun.</string>
			<string>iul.</string>
			<string>aug.</string>
			<string>sept.</string>
			<string>oct.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>I</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>I</string>
			<string>I</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ianuarie</string>
			<string>februarie</string>
			<string>martie</string>
			<string>aprilie</string>
			<string>mai</string>
			<string>iunie</string>
			<string>iulie</string>
			<string>august</string>
			<string>septembrie</string>
			<string>octombrie</string>
			<string>noiembrie</string>
			<string>decembrie</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
