<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ru</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y 'г'.</string>
		<key>dateFormats.long</key>
		<string>d MMMM y 'г'.</string>
		<key>dateFormats.medium</key>
		<string>d MMM y 'г'.</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>вс</string>
			<string>пн</string>
			<string>вт</string>
			<string>ср</string>
			<string>чт</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>вс</string>
			<string>пн</string>
			<string>вт</string>
			<string>ср</string>
			<string>чт</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>воскресенье</string>
			<string>понедельник</string>
			<string>вторник</string>
			<string>среда</string>
			<string>четверг</string>
			<string>пятница</string>
			<string>суббота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Вс</string>
			<string>Пн</string>
			<string>Вт</string>
			<string>Ср</string>
			<string>Чт</string>
			<string>Пт</string>
			<string>Сб</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>В</string>
			<string>П</string>
			<string>В</string>
			<string>С</string>
			<string>Ч</string>
			<string>П</string>
			<string>С</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Воскресенье</string>
			<string>Понедельник</string>
			<string>Вторник</string>
			<string>Среда</string>
			<string>Четверг</string>
			<string>Пятница</string>
			<string>Суббота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>янв.</string>
			<string>февр.</string>
			<string>марта</string>
			<string>апр.</string>
			<string>мая</string>
			<string>июня</string>
			<string>июля</string>
			<string>авг.</string>
			<string>сент.</string>
			<string>окт.</string>
			<string>нояб.</string>
			<string>дек.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>января</string>
			<string>февраля</string>
			<string>марта</string>
			<string>апреля</string>
			<string>мая</string>
			<string>июня</string>
			<string>июля</string>
			<string>августа</string>
			<string>сентября</string>
			<string>октября</string>
			<string>ноября</string>
			<string>декабря</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Янв.</string>
			<string>Февр.</string>
			<string>Март</string>
			<string>Апр.</string>
			<string>Май</string>
			<string>Июнь</string>
			<string>Июль</string>
			<string>Авг.</string>
			<string>Сент.</string>
			<string>Окт.</string>
			<string>Нояб.</string>
			<string>Дек.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>Я</string>
			<string>Ф</string>
			<string>М</string>
			<string>А</string>
			<string>М</string>
			<string>И</string>
			<string>И</string>
			<string>А</string>
			<string>С</string>
			<string>О</string>
			<string>Н</string>
			<string>Д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Январь</string>
			<string>Февраль</string>
			<string>Март</string>
			<string>Апрель</string>
			<string>Май</string>
			<string>Июнь</string>
			<string>Июль</string>
			<string>Август</string>
			<string>Сентябрь</string>
			<string>Октябрь</string>
			<string>Ноябрь</string>
			<string>Декабрь</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
	<key>ru-UA</key>
	<dict>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
