<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>se</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>i.b.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>e.b.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sotn</string>
			<string>vuos</string>
			<string>maŋ</string>
			<string>gask</string>
			<string>duor</string>
			<string>bear</string>
			<string>láv</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>V</string>
			<string>M</string>
			<string>G</string>
			<string>D</string>
			<string>B</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sotnabeaivi</string>
			<string>vuossárga</string>
			<string>maŋŋebárga</string>
			<string>gaskavahkku</string>
			<string>duorasdat</string>
			<string>bearjadat</string>
			<string>lávvardat</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>sotn</string>
			<string>vuos</string>
			<string>maŋ</string>
			<string>gask</string>
			<string>duor</string>
			<string>bear</string>
			<string>láv</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>V</string>
			<string>M</string>
			<string>G</string>
			<string>D</string>
			<string>B</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sotnabeaivi</string>
			<string>vuossárga</string>
			<string>maŋŋebárga</string>
			<string>gaskavahkku</string>
			<string>duorasdat</string>
			<string>bearjadat</string>
			<string>lávvardat</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ođđj</string>
			<string>guov</string>
			<string>njuk</string>
			<string>cuo</string>
			<string>mies</string>
			<string>geas</string>
			<string>suoi</string>
			<string>borg</string>
			<string>čakč</string>
			<string>golg</string>
			<string>skáb</string>
			<string>juov</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>O</string>
			<string>G</string>
			<string>N</string>
			<string>C</string>
			<string>M</string>
			<string>G</string>
			<string>S</string>
			<string>B</string>
			<string>Č</string>
			<string>G</string>
			<string>S</string>
			<string>J</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ođđajagemánnu</string>
			<string>guovvamánnu</string>
			<string>njukčamánnu</string>
			<string>cuoŋománnu</string>
			<string>miessemánnu</string>
			<string>geassemánnu</string>
			<string>suoidnemánnu</string>
			<string>borgemánnu</string>
			<string>čakčamánnu</string>
			<string>golggotmánnu</string>
			<string>skábmamánnu</string>
			<string>juovlamánnu</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ođđj</string>
			<string>guov</string>
			<string>njuk</string>
			<string>cuo</string>
			<string>mies</string>
			<string>geas</string>
			<string>suoi</string>
			<string>borg</string>
			<string>čakč</string>
			<string>golg</string>
			<string>skáb</string>
			<string>juov</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>O</string>
			<string>G</string>
			<string>N</string>
			<string>C</string>
			<string>M</string>
			<string>G</string>
			<string>S</string>
			<string>B</string>
			<string>Č</string>
			<string>G</string>
			<string>S</string>
			<string>J</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ođđajagemánnu</string>
			<string>guovvamánnu</string>
			<string>njukčamánnu</string>
			<string>cuoŋománnu</string>
			<string>miessemánnu</string>
			<string>geassemánnu</string>
			<string>suoidnemánnu</string>
			<string>borgemánnu</string>
			<string>čakčamánnu</string>
			<string>golggotmánnu</string>
			<string>skábmamánnu</string>
			<string>juovlamánnu</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>se-FI</key>
	<dict>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>D</string>
			<string>G</string>
			<string>D</string>
			<string>B</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>aejlege</string>
			<string>måanta</string>
			<string>däjsta</string>
			<string>gaskevahkoe</string>
			<string>dåarsta</string>
			<string>bearjadahke</string>
			<string>laavadahke</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>D</string>
			<string>G</string>
			<string>D</string>
			<string>B</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>aejlege</string>
			<string>måanta</string>
			<string>däjsta</string>
			<string>gaskevahkoe</string>
			<string>dåarsta</string>
			<string>bearjadahke</string>
			<string>laavadahke</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ođđajage</string>
			<string>guovva</string>
			<string>njukča</string>
			<string>cuoŋo</string>
			<string>miesse</string>
			<string>geasse</string>
			<string>suoidne</string>
			<string>borge</string>
			<string>čakča</string>
			<string>golggot</string>
			<string>skábma</string>
			<string>juovla</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ođđajage</string>
			<string>guovva</string>
			<string>njukča</string>
			<string>cuoŋo</string>
			<string>miesse</string>
			<string>geasse</string>
			<string>suoidne</string>
			<string>borge</string>
			<string>čakča</string>
			<string>golggot</string>
			<string>skábma</string>
			<string>juovla</string>
		</array>
	</dict>
</dict>
</plist>
