<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sg</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d/M/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ND</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>LK</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Bk1</string>
			<string>Bk2</string>
			<string>Bk3</string>
			<string>Bk4</string>
			<string>Bk5</string>
			<string>Lâp</string>
			<string>Lây</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>K</string>
			<string>S</string>
			<string>T</string>
			<string>S</string>
			<string>K</string>
			<string>P</string>
			<string>Y</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Bikua-ôko</string>
			<string>Bïkua-ûse</string>
			<string>Bïkua-ptâ</string>
			<string>Bïkua-usïö</string>
			<string>Bïkua-okü</string>
			<string>Lâpôsö</string>
			<string>Lâyenga</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Bk1</string>
			<string>Bk2</string>
			<string>Bk3</string>
			<string>Bk4</string>
			<string>Bk5</string>
			<string>Lâp</string>
			<string>Lây</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>K</string>
			<string>S</string>
			<string>T</string>
			<string>S</string>
			<string>K</string>
			<string>P</string>
			<string>Y</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Bikua-ôko</string>
			<string>Bïkua-ûse</string>
			<string>Bïkua-ptâ</string>
			<string>Bïkua-usïö</string>
			<string>Bïkua-okü</string>
			<string>Lâpôsö</string>
			<string>Lâyenga</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Nye</string>
			<string>Ful</string>
			<string>Mbä</string>
			<string>Ngu</string>
			<string>Bêl</string>
			<string>Fön</string>
			<string>Len</string>
			<string>Kük</string>
			<string>Mvu</string>
			<string>Ngb</string>
			<string>Nab</string>
			<string>Kak</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>N</string>
			<string>F</string>
			<string>M</string>
			<string>N</string>
			<string>B</string>
			<string>F</string>
			<string>L</string>
			<string>K</string>
			<string>M</string>
			<string>N</string>
			<string>N</string>
			<string>K</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Nyenye</string>
			<string>Fulundïgi</string>
			<string>Mbängü</string>
			<string>Ngubùe</string>
			<string>Bêläwü</string>
			<string>Föndo</string>
			<string>Lengua</string>
			<string>Kükürü</string>
			<string>Mvuka</string>
			<string>Ngberere</string>
			<string>Nabändüru</string>
			<string>Kakauka</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Nye</string>
			<string>Ful</string>
			<string>Mbä</string>
			<string>Ngu</string>
			<string>Bêl</string>
			<string>Fön</string>
			<string>Len</string>
			<string>Kük</string>
			<string>Mvu</string>
			<string>Ngb</string>
			<string>Nab</string>
			<string>Kak</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>N</string>
			<string>F</string>
			<string>M</string>
			<string>N</string>
			<string>B</string>
			<string>F</string>
			<string>L</string>
			<string>K</string>
			<string>M</string>
			<string>N</string>
			<string>N</string>
			<string>K</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Nyenye</string>
			<string>Fulundïgi</string>
			<string>Mbängü</string>
			<string>Ngubùe</string>
			<string>Bêläwü</string>
			<string>Föndo</string>
			<string>Lengua</string>
			<string>Kükürü</string>
			<string>Mvuka</string>
			<string>Ngberere</string>
			<string>Nabändüru</string>
			<string>Kakauka</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
