<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>si</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>පෙ.ව.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ප.ව.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ඉරිදා</string>
			<string>සඳුදා</string>
			<string>අඟහ</string>
			<string>බදාදා</string>
			<string>බ්‍රහස්</string>
			<string>සිකු</string>
			<string>සෙන</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ඉ</string>
			<string>ස</string>
			<string>අ</string>
			<string>බ</string>
			<string>බ්‍ර</string>
			<string>සි</string>
			<string>සෙ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ඉරිදා</string>
			<string>සඳුදා</string>
			<string>අඟහරුවාදා</string>
			<string>බදාදා</string>
			<string>බ්‍රහස්පතින්දා</string>
			<string>සිකුරාදා</string>
			<string>සෙනසුරාදා</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ඉරිදා</string>
			<string>සඳුදා</string>
			<string>අඟහ</string>
			<string>බදාදා</string>
			<string>බ්‍රහස්</string>
			<string>සිකු</string>
			<string>සෙන</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ඉ</string>
			<string>ස</string>
			<string>අ</string>
			<string>බ</string>
			<string>බ්‍ර</string>
			<string>සි</string>
			<string>සෙ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ඉරිදා</string>
			<string>සඳුදා</string>
			<string>අඟහරුවාදා</string>
			<string>බදාදා</string>
			<string>බ්‍රහස්පතින්දා</string>
			<string>සිකුරාදා</string>
			<string>සෙනසුරාදා</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ජන</string>
			<string>පෙබ</string>
			<string>මාර්තු</string>
			<string>අප්‍රේල්</string>
			<string>මැයි</string>
			<string>ජූනි</string>
			<string>ජූලි</string>
			<string>අගෝ</string>
			<string>සැප්</string>
			<string>ඔක්</string>
			<string>නොවැ</string>
			<string>දෙසැ</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ජ</string>
			<string>පෙ</string>
			<string>මා</string>
			<string>අ</string>
			<string>මැ</string>
			<string>ජූ</string>
			<string>ජූ</string>
			<string>අ</string>
			<string>සැ</string>
			<string>ඔ</string>
			<string>නෙ</string>
			<string>දෙ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ජනවාරි</string>
			<string>පෙබරවාරි</string>
			<string>මාර්තු</string>
			<string>අප්‍රේල්</string>
			<string>මැයි</string>
			<string>ජූනි</string>
			<string>ජූලි</string>
			<string>අගෝස්තු</string>
			<string>සැප්තැම්බර්</string>
			<string>ඔක්තෝබර්</string>
			<string>නොවැම්බර්</string>
			<string>දෙසැම්බර්</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ජන</string>
			<string>පෙබ</string>
			<string>මාර්</string>
			<string>අප්‍රේල්</string>
			<string>මැයි</string>
			<string>ජූනි</string>
			<string>ජූලි</string>
			<string>අගෝ</string>
			<string>සැප්</string>
			<string>ඔක්</string>
			<string>නොවැ</string>
			<string>දෙසැ</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ජ</string>
			<string>පෙ</string>
			<string>මා</string>
			<string>අ</string>
			<string>මැ</string>
			<string>ජූ</string>
			<string>ජූ</string>
			<string>අ</string>
			<string>සැ</string>
			<string>ඔ</string>
			<string>නෙ</string>
			<string>දෙ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ජනවාරි</string>
			<string>පෙබරවාරි</string>
			<string>මාර්තු</string>
			<string>අප්‍රේල්</string>
			<string>මැයි</string>
			<string>ජූනි</string>
			<string>ජූලි</string>
			<string>අගෝස්තු</string>
			<string>සැප්තැම්බර්</string>
			<string>ඔක්තෝබර්</string>
			<string>නොවැම්බර්</string>
			<string>දෙසැම්බර්</string>
		</array>
		<key>timeFormats.full</key>
		<string>a h.mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>a h.mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>a h.mm.ss</string>
		<key>timeFormats.short</key>
		<string>a h.mm</string>
	</dict>
</dict>
</plist>
