<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sk</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d. MMMM y</string>
		<key>dateFormats.long</key>
		<string>d. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d.M.y</string>
		<key>dateFormats.short</key>
		<string>d.M.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ne</string>
			<string>po</string>
			<string>ut</string>
			<string>st</string>
			<string>št</string>
			<string>pi</string>
			<string>so</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>U</string>
			<string>S</string>
			<string>Š</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>nedeľa</string>
			<string>pondelok</string>
			<string>utorok</string>
			<string>streda</string>
			<string>štvrtok</string>
			<string>piatok</string>
			<string>sobota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ne</string>
			<string>po</string>
			<string>ut</string>
			<string>st</string>
			<string>št</string>
			<string>pi</string>
			<string>so</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>N</string>
			<string>P</string>
			<string>U</string>
			<string>S</string>
			<string>Š</string>
			<string>P</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>nedeľa</string>
			<string>pondelok</string>
			<string>utorok</string>
			<string>streda</string>
			<string>štvrtok</string>
			<string>piatok</string>
			<string>sobota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>máj</string>
			<string>jún</string>
			<string>júl</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januára</string>
			<string>februára</string>
			<string>marca</string>
			<string>apríla</string>
			<string>mája</string>
			<string>júna</string>
			<string>júla</string>
			<string>augusta</string>
			<string>septembra</string>
			<string>októbra</string>
			<string>novembra</string>
			<string>decembra</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>máj</string>
			<string>jún</string>
			<string>júl</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>január</string>
			<string>február</string>
			<string>marec</string>
			<string>apríl</string>
			<string>máj</string>
			<string>jún</string>
			<string>júl</string>
			<string>august</string>
			<string>september</string>
			<string>október</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>timeFormats.full</key>
		<string>H:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>H:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>H:mm:ss</string>
		<key>timeFormats.short</key>
		<string>H:mm</string>
	</dict>
</dict>
</plist>
