<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sl</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, dd. MMMM y</string>
		<key>dateFormats.long</key>
		<string>dd. MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d. MMM y</string>
		<key>dateFormats.short</key>
		<string>d. MM. yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>dop.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>pop.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ned.</string>
			<string>pon.</string>
			<string>tor.</string>
			<string>sre.</string>
			<string>čet.</string>
			<string>pet.</string>
			<string>sob.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>n</string>
			<string>p</string>
			<string>t</string>
			<string>s</string>
			<string>č</string>
			<string>p</string>
			<string>s</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>nedelja</string>
			<string>ponedeljek</string>
			<string>torek</string>
			<string>sreda</string>
			<string>četrtek</string>
			<string>petek</string>
			<string>sobota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ned</string>
			<string>pon</string>
			<string>tor</string>
			<string>sre</string>
			<string>čet</string>
			<string>pet</string>
			<string>sob</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>n</string>
			<string>p</string>
			<string>t</string>
			<string>s</string>
			<string>č</string>
			<string>p</string>
			<string>s</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>nedelja</string>
			<string>ponedeljek</string>
			<string>torek</string>
			<string>sreda</string>
			<string>četrtek</string>
			<string>petek</string>
			<string>sobota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan.</string>
			<string>feb.</string>
			<string>mar.</string>
			<string>apr.</string>
			<string>maj</string>
			<string>jun.</string>
			<string>jul.</string>
			<string>avg.</string>
			<string>sep.</string>
			<string>okt.</string>
			<string>nov.</string>
			<string>dec.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>marec</string>
			<string>april</string>
			<string>maj</string>
			<string>junij</string>
			<string>julij</string>
			<string>avgust</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>avg</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>marec</string>
			<string>april</string>
			<string>maj</string>
			<string>junij</string>
			<string>julij</string>
			<string>avgust</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH.mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH.mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>HH.mm.ss</string>
		<key>timeFormats.short</key>
		<string>HH.mm</string>
	</dict>
</dict>
</plist>
