<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, dd. MMMM y.</string>
		<key>dateFormats.long</key>
		<string>dd. MMMM y.</string>
		<key>dateFormats.medium</key>
		<string>dd.MM.y.</string>
		<key>dateFormats.short</key>
		<string>d.M.yy.</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>пре подне</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>поподне</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>нед</string>
			<string>пон</string>
			<string>уто</string>
			<string>сре</string>
			<string>чет</string>
			<string>пет</string>
			<string>суб</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>у</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>недеља</string>
			<string>понедељак</string>
			<string>уторак</string>
			<string>среда</string>
			<string>четвртак</string>
			<string>петак</string>
			<string>субота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>нед</string>
			<string>пон</string>
			<string>уто</string>
			<string>сре</string>
			<string>чет</string>
			<string>пет</string>
			<string>суб</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>н</string>
			<string>п</string>
			<string>у</string>
			<string>с</string>
			<string>ч</string>
			<string>п</string>
			<string>с</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>недеља</string>
			<string>понедељак</string>
			<string>уторак</string>
			<string>среда</string>
			<string>четвртак</string>
			<string>петак</string>
			<string>субота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>јан</string>
			<string>феб</string>
			<string>мар</string>
			<string>апр</string>
			<string>мај</string>
			<string>јун</string>
			<string>јул</string>
			<string>авг</string>
			<string>сеп</string>
			<string>окт</string>
			<string>нов</string>
			<string>дец</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ј</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ј</string>
			<string>ј</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>јануар</string>
			<string>фебруар</string>
			<string>март</string>
			<string>април</string>
			<string>мај</string>
			<string>јун</string>
			<string>јул</string>
			<string>август</string>
			<string>септембар</string>
			<string>октобар</string>
			<string>новембар</string>
			<string>децембар</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>јан</string>
			<string>феб</string>
			<string>мар</string>
			<string>апр</string>
			<string>мај</string>
			<string>јун</string>
			<string>јул</string>
			<string>авг</string>
			<string>сеп</string>
			<string>окт</string>
			<string>нов</string>
			<string>дец</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ј</string>
			<string>ф</string>
			<string>м</string>
			<string>а</string>
			<string>м</string>
			<string>ј</string>
			<string>ј</string>
			<string>а</string>
			<string>с</string>
			<string>о</string>
			<string>н</string>
			<string>д</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>јануар</string>
			<string>фебруар</string>
			<string>март</string>
			<string>април</string>
			<string>мај</string>
			<string>јун</string>
			<string>јул</string>
			<string>август</string>
			<string>септембар</string>
			<string>октобар</string>
			<string>новембар</string>
			<string>децембар</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH.mm.ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH.mm.ss z</string>
		<key>timeFormats.medium</key>
		<string>HH.mm.ss</string>
		<key>timeFormats.short</key>
		<string>HH.mm</string>
	</dict>
	<key>sr-Cyrl-BA</key>
	<dict>
		<key>dateFormats.medium</key>
		<string>y-MM-dd</string>
		<key>dateFormats.short</key>
		<string>yy-MM-dd</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>нед</string>
			<string>пон</string>
			<string>уто</string>
			<string>сри</string>
			<string>чет</string>
			<string>пет</string>
			<string>суб</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>недеља</string>
			<string>понедељак</string>
			<string>уторак</string>
			<string>сриједа</string>
			<string>четвртак</string>
			<string>петак</string>
			<string>субота</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>јануар</string>
			<string>фебруар</string>
			<string>март</string>
			<string>април</string>
			<string>мај</string>
			<string>јуни</string>
			<string>јули</string>
			<string>август</string>
			<string>септембар</string>
			<string>октобар</string>
			<string>новембар</string>
			<string>децембар</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH 'часова', mm 'минута', ss 'секунди' zzzz</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>sr-Latn</key>
	<dict>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>pre podne</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>popodne</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ned</string>
			<string>pon</string>
			<string>uto</string>
			<string>sre</string>
			<string>čet</string>
			<string>pet</string>
			<string>sub</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>n</string>
			<string>p</string>
			<string>u</string>
			<string>s</string>
			<string>č</string>
			<string>p</string>
			<string>s</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>nedelja</string>
			<string>ponedeljak</string>
			<string>utorak</string>
			<string>sreda</string>
			<string>četvrtak</string>
			<string>petak</string>
			<string>subota</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ned</string>
			<string>pon</string>
			<string>uto</string>
			<string>sre</string>
			<string>čet</string>
			<string>pet</string>
			<string>sub</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>n</string>
			<string>p</string>
			<string>u</string>
			<string>s</string>
			<string>č</string>
			<string>p</string>
			<string>s</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>nedelja</string>
			<string>ponedeljak</string>
			<string>utorak</string>
			<string>sreda</string>
			<string>četvrtak</string>
			<string>petak</string>
			<string>subota</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>avg</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>mart</string>
			<string>april</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>avgust</string>
			<string>septembar</string>
			<string>oktobar</string>
			<string>novembar</string>
			<string>decembar</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>avg</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>j</string>
			<string>f</string>
			<string>m</string>
			<string>a</string>
			<string>m</string>
			<string>j</string>
			<string>j</string>
			<string>a</string>
			<string>s</string>
			<string>o</string>
			<string>n</string>
			<string>d</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>januar</string>
			<string>februar</string>
			<string>mart</string>
			<string>april</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>avgust</string>
			<string>septembar</string>
			<string>oktobar</string>
			<string>novembar</string>
			<string>decembar</string>
		</array>
	</dict>
	<key>sr-Latn-ME</key>
	<dict>
		<key>dateFormats.long</key>
		<string>d.MM.y.</string>
	</dict>
</dict>
</plist>
