<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>st</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMM d, EEEE</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mma</string>
			<string>Bed</string>
			<string>Rar</string>
			<string>Ne</string>
			<string>Hla</string>
			<string>Moq</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sontaha</string>
			<string>Mmantaha</string>
			<string>Labobedi</string>
			<string>Laboraru</string>
			<string>Labone</string>
			<string>Labohlane</string>
			<string>Moqebelo</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mma</string>
			<string>Bed</string>
			<string>Rar</string>
			<string>Ne</string>
			<string>Hla</string>
			<string>Moq</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sontaha</string>
			<string>Mmantaha</string>
			<string>Labobedi</string>
			<string>Laboraru</string>
			<string>Labone</string>
			<string>Labohlane</string>
			<string>Moqebelo</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Phe</string>
			<string>Kol</string>
			<string>Ube</string>
			<string>Mme</string>
			<string>Mot</string>
			<string>Jan</string>
			<string>Upu</string>
			<string>Pha</string>
			<string>Leo</string>
			<string>Mph</string>
			<string>Pun</string>
			<string>Tsh</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Phesekgong</string>
			<string>Hlakola</string>
			<string>Hlakubele</string>
			<string>Mmese</string>
			<string>Motsheanong</string>
			<string>Phupjane</string>
			<string>Phupu</string>
			<string>Phata</string>
			<string>Leotshe</string>
			<string>Mphalane</string>
			<string>Pundungwane</string>
			<string>Tshitwe</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Phe</string>
			<string>Kol</string>
			<string>Ube</string>
			<string>Mme</string>
			<string>Mot</string>
			<string>Jan</string>
			<string>Upu</string>
			<string>Pha</string>
			<string>Leo</string>
			<string>Mph</string>
			<string>Pun</string>
			<string>Tsh</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Phesekgong</string>
			<string>Hlakola</string>
			<string>Hlakubele</string>
			<string>Mmese</string>
			<string>Motsheanong</string>
			<string>Phupjane</string>
			<string>Phupu</string>
			<string>Phata</string>
			<string>Leotshe</string>
			<string>Mphalane</string>
			<string>Pundungwane</string>
			<string>Tshitwe</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
