<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sv</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>FM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>EM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>sön</string>
			<string>mån</string>
			<string>tis</string>
			<string>ons</string>
			<string>tors</string>
			<string>fre</string>
			<string>lör</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>O</string>
			<string>T</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>söndag</string>
			<string>måndag</string>
			<string>tisdag</string>
			<string>onsdag</string>
			<string>torsdag</string>
			<string>fredag</string>
			<string>lördag</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Sön</string>
			<string>Mån</string>
			<string>Tis</string>
			<string>Ons</string>
			<string>Tor</string>
			<string>Fre</string>
			<string>Lör</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>O</string>
			<string>T</string>
			<string>F</string>
			<string>L</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Söndag</string>
			<string>Måndag</string>
			<string>Tisdag</string>
			<string>Onsdag</string>
			<string>Torsdag</string>
			<string>Fredag</string>
			<string>Lördag</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mar</string>
			<string>apr</string>
			<string>maj</string>
			<string>jun</string>
			<string>jul</string>
			<string>aug</string>
			<string>sep</string>
			<string>okt</string>
			<string>nov</string>
			<string>dec</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>januari</string>
			<string>februari</string>
			<string>mars</string>
			<string>april</string>
			<string>maj</string>
			<string>juni</string>
			<string>juli</string>
			<string>augusti</string>
			<string>september</string>
			<string>oktober</string>
			<string>november</string>
			<string>december</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mar</string>
			<string>Apr</string>
			<string>Maj</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Aug</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dec</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Januari</string>
			<string>Februari</string>
			<string>Mars</string>
			<string>April</string>
			<string>Maj</string>
			<string>Juni</string>
			<string>Juli</string>
			<string>Augusti</string>
			<string>September</string>
			<string>Oktober</string>
			<string>November</string>
			<string>December</string>
		</array>
		<key>timeFormats.full</key>
		<string>'kl'. HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
	<key>sv-FI</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE'en' 'den' d:'e' MMMM y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-y</string>
	</dict>
</dict>
</plist>
