<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sw</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Jumapili</string>
			<string>Jumatatu</string>
			<string>Jumanne</string>
			<string>Jumatano</string>
			<string>Alhamisi</string>
			<string>Ijumaa</string>
			<string>Jumamosi</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>A</string>
			<string>I</string>
			<string>1</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Jumapili</string>
			<string>Jumatatu</string>
			<string>Jumanne</string>
			<string>Jumatano</string>
			<string>Alhamisi</string>
			<string>Ijumaa</string>
			<string>Jumamosi</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Jumapili</string>
			<string>Jumatatu</string>
			<string>Jumanne</string>
			<string>Jumatano</string>
			<string>Alhamisi</string>
			<string>Ijumaa</string>
			<string>Jumamosi</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>A</string>
			<string>I</string>
			<string>1</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Jumapili</string>
			<string>Jumatatu</string>
			<string>Jumanne</string>
			<string>Jumatano</string>
			<string>Alhamisi</string>
			<string>Ijumaa</string>
			<string>Jumamosi</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mac</string>
			<string>Apr</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Januari</string>
			<string>Februari</string>
			<string>Machi</string>
			<string>Aprili</string>
			<string>Mei</string>
			<string>Juni</string>
			<string>Julai</string>
			<string>Agosti</string>
			<string>Septemba</string>
			<string>Oktoba</string>
			<string>Novemba</string>
			<string>Desemba</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mac</string>
			<string>Apr</string>
			<string>Mei</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Ago</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Des</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Januari</string>
			<string>Februari</string>
			<string>Machi</string>
			<string>Aprili</string>
			<string>Mei</string>
			<string>Juni</string>
			<string>Julai</string>
			<string>Agosti</string>
			<string>Septemba</string>
			<string>Oktoba</string>
			<string>Novemba</string>
			<string>Desemba</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
