<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ta</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM, y</string>
		<key>dateFormats.long</key>
		<string>d MMMM, y</string>
		<key>dateFormats.medium</key>
		<string>d MMM, y</string>
		<key>dateFormats.short</key>
		<string>d-M-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>முற்பகல்</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>பிற்பகல்</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ஞா</string>
			<string>தி</string>
			<string>செ</string>
			<string>பு</string>
			<string>வி</string>
			<string>வெ</string>
			<string>ச</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ஞா</string>
			<string>தி</string>
			<string>செ</string>
			<string>பு</string>
			<string>வி</string>
			<string>வெ</string>
			<string>ச</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ஞாயிறு</string>
			<string>திங்கள்</string>
			<string>செவ்வாய்</string>
			<string>புதன்</string>
			<string>வியாழன்</string>
			<string>வெள்ளி</string>
			<string>சனி</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ஞா</string>
			<string>தி</string>
			<string>செ</string>
			<string>பு</string>
			<string>வி</string>
			<string>வெ</string>
			<string>ச</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ஞா</string>
			<string>தி</string>
			<string>செ</string>
			<string>பு</string>
			<string>வி</string>
			<string>வெ</string>
			<string>ச</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ஞாயிறு</string>
			<string>திங்கள்</string>
			<string>செவ்வாய்</string>
			<string>புதன்</string>
			<string>வியாழன்</string>
			<string>வெள்ளி</string>
			<string>சனி</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ஜன.</string>
			<string>பிப்.</string>
			<string>மார்.</string>
			<string>ஏப்.</string>
			<string>மே</string>
			<string>ஜூன்</string>
			<string>ஜூலை</string>
			<string>ஆக.</string>
			<string>செப்.</string>
			<string>அக்.</string>
			<string>நவ.</string>
			<string>டிச.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ஜ</string>
			<string>பி</string>
			<string>மா</string>
			<string>ஏ</string>
			<string>மே</string>
			<string>ஜூ</string>
			<string>ஜூ</string>
			<string>ஆ</string>
			<string>செ</string>
			<string>அ</string>
			<string>ந</string>
			<string>டி</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ஜனவரி</string>
			<string>பிப்ரவரி</string>
			<string>மார்ச்</string>
			<string>ஏப்ரல்</string>
			<string>மே</string>
			<string>ஜூன்</string>
			<string>ஜூலை</string>
			<string>ஆகஸ்ட்</string>
			<string>செப்டம்பர்</string>
			<string>அக்டோபர்</string>
			<string>நவம்பர்</string>
			<string>டிசம்பர்</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ஜன.</string>
			<string>பிப்.</string>
			<string>மார்.</string>
			<string>ஏப்.</string>
			<string>மே</string>
			<string>ஜூன்</string>
			<string>ஜூலை</string>
			<string>ஆக.</string>
			<string>செப்.</string>
			<string>அக்.</string>
			<string>நவ.</string>
			<string>டிச.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ஜ</string>
			<string>பி</string>
			<string>மா</string>
			<string>ஏ</string>
			<string>மே</string>
			<string>ஜூ</string>
			<string>ஜூ</string>
			<string>ஆ</string>
			<string>செ</string>
			<string>அ</string>
			<string>ந</string>
			<string>டி</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ஜனவரி</string>
			<string>பிப்ரவரி</string>
			<string>மார்ச்</string>
			<string>ஏப்ரல்</string>
			<string>மே</string>
			<string>ஜூன்</string>
			<string>ஜூலை</string>
			<string>ஆகஸ்டு</string>
			<string>செப்டம்பர்</string>
			<string>அக்டோபர்</string>
			<string>நவம்பர்</string>
			<string>டிசம்பர்</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
