<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>te</key>
	<dict>
		<key>dateFormats.full</key>
		<string>d MMMM y EEEE</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd-MM-yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ఆది</string>
			<string>సోమ</string>
			<string>మంగళ</string>
			<string>బుధ</string>
			<string>గురు</string>
			<string>శుక్ర</string>
			<string>శని</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ఆ</string>
			<string>సో</string>
			<string>మ</string>
			<string>బు</string>
			<string>గు</string>
			<string>శు</string>
			<string>శ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ఆదివారం</string>
			<string>సోమవారం</string>
			<string>మంగళవారం</string>
			<string>బుధవారం</string>
			<string>గురువారం</string>
			<string>శుక్రవారం</string>
			<string>శనివారం</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ఆది</string>
			<string>సోమ</string>
			<string>మంగళ</string>
			<string>బుధ</string>
			<string>గురు</string>
			<string>శుక్ర</string>
			<string>శని</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ఆ</string>
			<string>సో</string>
			<string>మ</string>
			<string>బు</string>
			<string>గు</string>
			<string>శు</string>
			<string>శ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ఆదివారం</string>
			<string>సోమవారం</string>
			<string>మంగళవారం</string>
			<string>బుధవారం</string>
			<string>గురువారం</string>
			<string>శుక్రవారం</string>
			<string>శనివారం</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>జన</string>
			<string>ఫిబ్ర</string>
			<string>మార్చి</string>
			<string>ఏప్రి</string>
			<string>మే</string>
			<string>జూన్</string>
			<string>జులై</string>
			<string>ఆగ</string>
			<string>సెప్టెం</string>
			<string>అక్టో</string>
			<string>నవం</string>
			<string>డిసెం</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>జ</string>
			<string>ఫి</string>
			<string>మా</string>
			<string>ఏ</string>
			<string>మే</string>
			<string>జూ</string>
			<string>జు</string>
			<string>ఆ</string>
			<string>సె</string>
			<string>అ</string>
			<string>న</string>
			<string>డి</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>జనవరి</string>
			<string>ఫిబ్రవరి</string>
			<string>మార్చి</string>
			<string>ఎప్రిల్</string>
			<string>మే</string>
			<string>జూన్</string>
			<string>జులై</string>
			<string>ఆగస్టు</string>
			<string>సెప్టెంబర్</string>
			<string>అక్టోబర్</string>
			<string>నవంబర్</string>
			<string>డిసెంబర్</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>జన</string>
			<string>ఫిబ్ర</string>
			<string>మార్చి</string>
			<string>ఏప్రి</string>
			<string>మే</string>
			<string>జూన్</string>
			<string>జులై</string>
			<string>ఆగస్టు</string>
			<string>సెప్టెం</string>
			<string>అక్టో</string>
			<string>నవం</string>
			<string>డిసెం</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>జ</string>
			<string>ఫి</string>
			<string>మా</string>
			<string>ఏ</string>
			<string>మే</string>
			<string>జూ</string>
			<string>జు</string>
			<string>ఆ</string>
			<string>సె</string>
			<string>అ</string>
			<string>న</string>
			<string>డి</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>జనవరి</string>
			<string>ఫిబ్రవరి</string>
			<string>మార్చి</string>
			<string>ఎప్రిల్</string>
			<string>మే</string>
			<string>జూన్</string>
			<string>జూలై</string>
			<string>ఆగస్టు</string>
			<string>సెప్టెంబర్</string>
			<string>అక్టోబర్</string>
			<string>నవంబర్</string>
			<string>డిసెంబర్</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
