<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>th</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEEที่ d MMMM G y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ก่อนเที่ยง</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>หลังเที่ยง</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>อา.</string>
			<string>จ.</string>
			<string>อ.</string>
			<string>พ.</string>
			<string>พฤ.</string>
			<string>ศ.</string>
			<string>ส.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>อา</string>
			<string>จ</string>
			<string>อ</string>
			<string>พ</string>
			<string>พฤ</string>
			<string>ศ</string>
			<string>ส</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>วันอาทิตย์</string>
			<string>วันจันทร์</string>
			<string>วันอังคาร</string>
			<string>วันพุธ</string>
			<string>วันพฤหัสบดี</string>
			<string>วันศุกร์</string>
			<string>วันเสาร์</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>อา.</string>
			<string>จ.</string>
			<string>อ.</string>
			<string>พ.</string>
			<string>พฤ.</string>
			<string>ศ.</string>
			<string>ส.</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>อา</string>
			<string>จ</string>
			<string>อ</string>
			<string>พ</string>
			<string>พฤ</string>
			<string>ศ</string>
			<string>ส</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>วันอาทิตย์</string>
			<string>วันจันทร์</string>
			<string>วันอังคาร</string>
			<string>วันพุธ</string>
			<string>วันพฤหัสบดี</string>
			<string>วันศุกร์</string>
			<string>วันเสาร์</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ม.ค.</string>
			<string>ก.พ.</string>
			<string>มี.ค.</string>
			<string>เม.ย.</string>
			<string>พ.ค.</string>
			<string>มิ.ย.</string>
			<string>ก.ค.</string>
			<string>ส.ค.</string>
			<string>ก.ย.</string>
			<string>ต.ค.</string>
			<string>พ.ย.</string>
			<string>ธ.ค.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ม.ค.</string>
			<string>ก.พ.</string>
			<string>มี.ค.</string>
			<string>เม.ย.</string>
			<string>พ.ค.</string>
			<string>มิ.ย.</string>
			<string>ก.ค.</string>
			<string>ส.ค.</string>
			<string>ก.ย.</string>
			<string>ต.ค.</string>
			<string>พ.ย.</string>
			<string>ธ.ค.</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>มกราคม</string>
			<string>กุมภาพันธ์</string>
			<string>มีนาคม</string>
			<string>เมษายน</string>
			<string>พฤษภาคม</string>
			<string>มิถุนายน</string>
			<string>กรกฎาคม</string>
			<string>สิงหาคม</string>
			<string>กันยายน</string>
			<string>ตุลาคม</string>
			<string>พฤศจิกายน</string>
			<string>ธันวาคม</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ม.ค.</string>
			<string>ก.พ.</string>
			<string>มี.ค.</string>
			<string>เม.ย.</string>
			<string>พ.ค.</string>
			<string>มิ.ย.</string>
			<string>ก.ค.</string>
			<string>ส.ค.</string>
			<string>ก.ย.</string>
			<string>ต.ค.</string>
			<string>พ.ย.</string>
			<string>ธ.ค.</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ม.ค.</string>
			<string>ก.พ.</string>
			<string>มี.ค.</string>
			<string>เม.ย.</string>
			<string>พ.ค.</string>
			<string>มิ.ย.</string>
			<string>ก.ค.</string>
			<string>ส.ค.</string>
			<string>ก.ย.</string>
			<string>ต.ค.</string>
			<string>พ.ย.</string>
			<string>ธ.ค.</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>มกราคม</string>
			<string>กุมภาพันธ์</string>
			<string>มีนาคม</string>
			<string>เมษายน</string>
			<string>พฤษภาคม</string>
			<string>มิถุนายน</string>
			<string>กรกฎาคม</string>
			<string>สิงหาคม</string>
			<string>กันยายน</string>
			<string>ตุลาคม</string>
			<string>พฤศจิกายน</string>
			<string>ธันวาคม</string>
		</array>
		<key>timeFormats.full</key>
		<string>H นาฬิกา mm นาที ss วินาที zzzz</string>
		<key>timeFormats.long</key>
		<string>H นาฬิกา mm นาที ss วินาที z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
