<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ti</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE፣ dd MMMM መዓልቲ y G</string>
		<key>dateFormats.long</key>
		<string>dd MMMM y</string>
		<key>dateFormats.medium</key>
		<string>dd-MMM-y</string>
		<key>dateFormats.short</key>
		<string>dd/MM/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ንጉሆ ሰዓተ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ድሕር ሰዓት</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሠሉስ</string>
			<string>ረቡዕ</string>
			<string>ኃሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ሰ</string>
			<string>ሰ</string>
			<string>ሠ</string>
			<string>ረ</string>
			<string>ኃ</string>
			<string>ዓ</string>
			<string>ቀ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሠሉስ</string>
			<string>ረቡዕ</string>
			<string>ኃሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሠሉስ</string>
			<string>ረቡዕ</string>
			<string>ኃሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ሰ</string>
			<string>ሰ</string>
			<string>ሠ</string>
			<string>ረ</string>
			<string>ኃ</string>
			<string>ዓ</string>
			<string>ቀ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሠሉስ</string>
			<string>ረቡዕ</string>
			<string>ኃሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ጃንዩ</string>
			<string>ፌብሩ</string>
			<string>ማርች</string>
			<string>ኤፕረ</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስ</string>
			<string>ሴፕቴ</string>
			<string>ኦክተ</string>
			<string>ኖቬም</string>
			<string>ዲሴም</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>ጃ</string>
			<string>ፌ</string>
			<string>ማ</string>
			<string>ኤ</string>
			<string>ሜ</string>
			<string>ጁ</string>
			<string>ጁ</string>
			<string>ኦ</string>
			<string>ሴ</string>
			<string>ኦ</string>
			<string>ኖ</string>
			<string>ዲ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ጃንዩወሪ</string>
			<string>ፌብሩወሪ</string>
			<string>ማርች</string>
			<string>ኤፕረል</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስት</string>
			<string>ሴፕቴምበር</string>
			<string>ኦክተውበር</string>
			<string>ኖቬምበር</string>
			<string>ዲሴምበር</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ጃንዩ</string>
			<string>ፌብሩ</string>
			<string>ማርች</string>
			<string>ኤፕረ</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስ</string>
			<string>ሴፕቴ</string>
			<string>ኦክተ</string>
			<string>ኖቬም</string>
			<string>ዲሴም</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>ጃ</string>
			<string>ፌ</string>
			<string>ማ</string>
			<string>ኤ</string>
			<string>ሜ</string>
			<string>ጁ</string>
			<string>ጁ</string>
			<string>ኦ</string>
			<string>ሴ</string>
			<string>ኦ</string>
			<string>ኖ</string>
			<string>ዲ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ጃንዩወሪ</string>
			<string>ፌብሩወሪ</string>
			<string>ማርች</string>
			<string>ኤፕረል</string>
			<string>ሜይ</string>
			<string>ጁን</string>
			<string>ጁላይ</string>
			<string>ኦገስት</string>
			<string>ሴፕቴምበር</string>
			<string>ኦክተውበር</string>
			<string>ኖቬምበር</string>
			<string>ዲሴምበር</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>ti-ER</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE፡ dd MMMM መዓልቲ y G</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሰሉስ</string>
			<string>ረቡዕ</string>
			<string>ሓሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሰሉስ</string>
			<string>ረቡዕ</string>
			<string>ሓሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሰሉስ</string>
			<string>ረቡዕ</string>
			<string>ሓሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>ሰንበት</string>
			<string>ሰኑይ</string>
			<string>ሰሉስ</string>
			<string>ረቡዕ</string>
			<string>ሓሙስ</string>
			<string>ዓርቢ</string>
			<string>ቀዳም</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>ጥሪ</string>
			<string>ለካቲ</string>
			<string>መጋቢ</string>
			<string>ሚያዝ</string>
			<string>ግንቦ</string>
			<string>ሰነ</string>
			<string>ሓምለ</string>
			<string>ነሓሰ</string>
			<string>መስከ</string>
			<string>ጥቅም</string>
			<string>ሕዳር</string>
			<string>ታሕሳ</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>ጥሪ</string>
			<string>ለካቲት</string>
			<string>መጋቢት</string>
			<string>ሚያዝያ</string>
			<string>ግንቦት</string>
			<string>ሰነ</string>
			<string>ሓምለ</string>
			<string>ነሓሰ</string>
			<string>መስከረም</string>
			<string>ጥቅምቲ</string>
			<string>ሕዳር</string>
			<string>ታሕሳስ</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>ጥሪ</string>
			<string>ለካቲ</string>
			<string>መጋቢ</string>
			<string>ሚያዝ</string>
			<string>ግንቦ</string>
			<string>ሰነ</string>
			<string>ሓምለ</string>
			<string>ነሓሰ</string>
			<string>መስከ</string>
			<string>ጥቅም</string>
			<string>ሕዳር</string>
			<string>ታሕሳ</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>ጥሪ</string>
			<string>ለካቲት</string>
			<string>መጋቢት</string>
			<string>ሚያዝያ</string>
			<string>ግንቦት</string>
			<string>ሰነ</string>
			<string>ሓምለ</string>
			<string>ነሓሰ</string>
			<string>መስከረም</string>
			<string>ጥቅምቲ</string>
			<string>ሕዳር</string>
			<string>ታሕሳስ</string>
		</array>
	</dict>
</dict>
</plist>
