<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>to</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE d MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Sāp</string>
			<string>Mōn</string>
			<string>Tūs</string>
			<string>Pul</string>
			<string>Tuʻa</string>
			<string>Fal</string>
			<string>Tok</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>P</string>
			<string>T</string>
			<string>F</string>
			<string>T</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sāpate</string>
			<string>Mōnite</string>
			<string>Tūsite</string>
			<string>Pulelulu</string>
			<string>Tuʻapulelulu</string>
			<string>Falaite</string>
			<string>Tokonaki</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Sāp</string>
			<string>Mōn</string>
			<string>Tūs</string>
			<string>Pul</string>
			<string>Tuʻa</string>
			<string>Fal</string>
			<string>Tok</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>P</string>
			<string>T</string>
			<string>F</string>
			<string>T</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sāpate</string>
			<string>Mōnite</string>
			<string>Tūsite</string>
			<string>Pulelulu</string>
			<string>Tuʻapulelulu</string>
			<string>Falaite</string>
			<string>Tokonaki</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Sān</string>
			<string>Fēp</string>
			<string>Maʻa</string>
			<string>ʻEpe</string>
			<string>Mē</string>
			<string>Sun</string>
			<string>Siu</string>
			<string>ʻAok</string>
			<string>Sep</string>
			<string>ʻOka</string>
			<string>Nōv</string>
			<string>Tīs</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>S</string>
			<string>F</string>
			<string>M</string>
			<string>E</string>
			<string>M</string>
			<string>S</string>
			<string>S</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>T</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Sānuali</string>
			<string>Fēpueli</string>
			<string>Maʻasi</string>
			<string>ʻEpeleli</string>
			<string>Mē</string>
			<string>Sune</string>
			<string>Siulai</string>
			<string>ʻAokosi</string>
			<string>Sepitema</string>
			<string>ʻOkatopa</string>
			<string>Nōvema</string>
			<string>Tīsema</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Sān</string>
			<string>Fēp</string>
			<string>Maʻa</string>
			<string>ʻEpe</string>
			<string>Mē</string>
			<string>Sun</string>
			<string>Siu</string>
			<string>ʻAok</string>
			<string>Sep</string>
			<string>ʻOka</string>
			<string>Nōv</string>
			<string>Tīs</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>F</string>
			<string>M</string>
			<string>E</string>
			<string>M</string>
			<string>S</string>
			<string>S</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>T</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Sānuali</string>
			<string>Fēpueli</string>
			<string>Maʻasi</string>
			<string>ʻEpeleli</string>
			<string>Mē</string>
			<string>Sune</string>
			<string>Siulai</string>
			<string>ʻAokosi</string>
			<string>Sepitema</string>
			<string>ʻOkatopa</string>
			<string>Nōvema</string>
			<string>Tīsema</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
