<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tr</key>
	<dict>
		<key>dateFormats.full</key>
		<string>d MMMM y EEEE</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>d.MM.y</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>ÖÖ</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>ÖS</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Paz</string>
			<string>Pzt</string>
			<string>Sal</string>
			<string>Çar</string>
			<string>Per</string>
			<string>Cum</string>
			<string>Cmt</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>P</string>
			<string>P</string>
			<string>S</string>
			<string>Ç</string>
			<string>P</string>
			<string>C</string>
			<string>C</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Pazar</string>
			<string>Pazartesi</string>
			<string>Salı</string>
			<string>Çarşamba</string>
			<string>Perşembe</string>
			<string>Cuma</string>
			<string>Cumartesi</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Paz</string>
			<string>Pzt</string>
			<string>Sal</string>
			<string>Çar</string>
			<string>Per</string>
			<string>Cum</string>
			<string>Cmt</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>P</string>
			<string>P</string>
			<string>S</string>
			<string>Ç</string>
			<string>P</string>
			<string>C</string>
			<string>C</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Pazar</string>
			<string>Pazartesi</string>
			<string>Salı</string>
			<string>Çarşamba</string>
			<string>Perşembe</string>
			<string>Cuma</string>
			<string>Cumartesi</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Oca</string>
			<string>Şub</string>
			<string>Mar</string>
			<string>Nis</string>
			<string>May</string>
			<string>Haz</string>
			<string>Tem</string>
			<string>Ağu</string>
			<string>Eyl</string>
			<string>Eki</string>
			<string>Kas</string>
			<string>Ara</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>O</string>
			<string>Ş</string>
			<string>M</string>
			<string>N</string>
			<string>M</string>
			<string>H</string>
			<string>T</string>
			<string>A</string>
			<string>E</string>
			<string>E</string>
			<string>K</string>
			<string>A</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Ocak</string>
			<string>Şubat</string>
			<string>Mart</string>
			<string>Nisan</string>
			<string>Mayıs</string>
			<string>Haziran</string>
			<string>Temmuz</string>
			<string>Ağustos</string>
			<string>Eylül</string>
			<string>Ekim</string>
			<string>Kasım</string>
			<string>Aralık</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Oca</string>
			<string>Şub</string>
			<string>Mar</string>
			<string>Nis</string>
			<string>May</string>
			<string>Haz</string>
			<string>Tem</string>
			<string>Ağu</string>
			<string>Eyl</string>
			<string>Eki</string>
			<string>Kas</string>
			<string>Ara</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>O</string>
			<string>Ş</string>
			<string>M</string>
			<string>N</string>
			<string>M</string>
			<string>H</string>
			<string>T</string>
			<string>A</string>
			<string>E</string>
			<string>E</string>
			<string>K</string>
			<string>A</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Ocak</string>
			<string>Şubat</string>
			<string>Mart</string>
			<string>Nisan</string>
			<string>Mayıs</string>
			<string>Haziran</string>
			<string>Temmuz</string>
			<string>Ağustos</string>
			<string>Eylül</string>
			<string>Ekim</string>
			<string>Kasım</string>
			<string>Aralık</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
