<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ug</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE، MMMM d، y</string>
		<key>dateFormats.long</key>
		<string>MMMM d، y</string>
		<key>dateFormats.medium</key>
		<string>MMM d، y</string>
		<key>dateFormats.short</key>
		<string>M/d/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>چۈشتىن بۇرۇن</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>چۈشتىن كېيىن</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>يە</string>
			<string>دۈ</string>
			<string>سە</string>
			<string>چا</string>
			<string>پە</string>
			<string>چۈ</string>
			<string>شە</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>ي</string>
			<string>د</string>
			<string>س</string>
			<string>چ</string>
			<string>پ</string>
			<string>ج</string>
			<string>ش</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>يەكشەنبە</string>
			<string>دۈشەنبە</string>
			<string>سەيشەنبە</string>
			<string>چارشەنبە</string>
			<string>پەيشەنبە</string>
			<string>جۈمە</string>
			<string>شەنبە</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>يە</string>
			<string>دۈ</string>
			<string>سە</string>
			<string>چا</string>
			<string>پە</string>
			<string>چۈ</string>
			<string>شە</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>ي</string>
			<string>د</string>
			<string>س</string>
			<string>چ</string>
			<string>پ</string>
			<string>ج</string>
			<string>ش</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>يەكشەنبە</string>
			<string>دۈشەنبە</string>
			<string>سەيشەنبە</string>
			<string>چارشەنبە</string>
			<string>پەيشەنبە</string>
			<string>جۈمە</string>
			<string>شەنبە</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>يانۋار</string>
			<string>فېۋرال</string>
			<string>مارت</string>
			<string>ئاپرېل</string>
			<string>ماي</string>
			<string>ئىيۇن</string>
			<string>ئىيۇل</string>
			<string>ئاۋغۇست</string>
			<string>سېنتەبىر</string>
			<string>ئۆكتەبىر</string>
			<string>نويابىر</string>
			<string>دېكابىر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>يانۋار</string>
			<string>فېۋرال</string>
			<string>مارت</string>
			<string>ئاپرېل</string>
			<string>ماي</string>
			<string>ئىيۇن</string>
			<string>ئىيۇل</string>
			<string>ئاۋغۇست</string>
			<string>سېنتەبىر</string>
			<string>ئۆكتەبىر</string>
			<string>بويابىر</string>
			<string>دېكابىر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>يانۋار</string>
			<string>فېۋرال</string>
			<string>مارت</string>
			<string>ئاپرېل</string>
			<string>ماي</string>
			<string>ئىيۇن</string>
			<string>ئىيۇل</string>
			<string>ئاۋغۇست</string>
			<string>سېنتەبىر</string>
			<string>ئۆكتەبىر</string>
			<string>نويابىر</string>
			<string>دېكابىر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>يانۋار</string>
			<string>فېۋرال</string>
			<string>مارت</string>
			<string>ئاپرېل</string>
			<string>ماي</string>
			<string>ئىيۇن</string>
			<string>ئىيۇل</string>
			<string>ئاۋغۇست</string>
			<string>سېنتەبىر</string>
			<string>ئۆكتەبىر</string>
			<string>بويابىر</string>
			<string>دېكابىر</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
