<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uk</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE, d MMMM y 'р'.</string>
		<key>dateFormats.long</key>
		<string>d MMMM y 'р'.</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>dd.MM.yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>дп</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>пп</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Нд</string>
			<string>Пн</string>
			<string>Вт</string>
			<string>Ср</string>
			<string>Чт</string>
			<string>Пт</string>
			<string>Сб</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>Н</string>
			<string>П</string>
			<string>В</string>
			<string>С</string>
			<string>Ч</string>
			<string>П</string>
			<string>С</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>неділя</string>
			<string>понеділок</string>
			<string>вівторок</string>
			<string>середа</string>
			<string>четвер</string>
			<string>пʼятниця</string>
			<string>субота</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Нд</string>
			<string>Пн</string>
			<string>Вт</string>
			<string>Ср</string>
			<string>Чт</string>
			<string>Пт</string>
			<string>Сб</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>Н</string>
			<string>П</string>
			<string>В</string>
			<string>С</string>
			<string>Ч</string>
			<string>П</string>
			<string>С</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Неділя</string>
			<string>Понеділок</string>
			<string>Вівторок</string>
			<string>Середа</string>
			<string>Четвер</string>
			<string>Пʼятниця</string>
			<string>Субота</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>січ.</string>
			<string>лют.</string>
			<string>бер.</string>
			<string>квіт.</string>
			<string>трав.</string>
			<string>черв.</string>
			<string>лип.</string>
			<string>серп.</string>
			<string>вер.</string>
			<string>жовт.</string>
			<string>лист.</string>
			<string>груд.</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>С</string>
			<string>Л</string>
			<string>Б</string>
			<string>К</string>
			<string>Т</string>
			<string>Ч</string>
			<string>Л</string>
			<string>С</string>
			<string>В</string>
			<string>Ж</string>
			<string>Л</string>
			<string>Г</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>січня</string>
			<string>лютого</string>
			<string>березня</string>
			<string>квітня</string>
			<string>травня</string>
			<string>червня</string>
			<string>липня</string>
			<string>серпня</string>
			<string>вересня</string>
			<string>жовтня</string>
			<string>листопада</string>
			<string>грудня</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Січ</string>
			<string>Лют</string>
			<string>Бер</string>
			<string>Кві</string>
			<string>Тра</string>
			<string>Чер</string>
			<string>Лип</string>
			<string>Сер</string>
			<string>Вер</string>
			<string>Жов</string>
			<string>Лис</string>
			<string>Гру</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>С</string>
			<string>Л</string>
			<string>Б</string>
			<string>К</string>
			<string>Т</string>
			<string>Ч</string>
			<string>Л</string>
			<string>С</string>
			<string>В</string>
			<string>Ж</string>
			<string>Л</string>
			<string>Г</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>Січень</string>
			<string>Лютий</string>
			<string>Березень</string>
			<string>Квітень</string>
			<string>Травень</string>
			<string>Червень</string>
			<string>Липень</string>
			<string>Серпень</string>
			<string>Вересень</string>
			<string>Жовтень</string>
			<string>Листопад</string>
			<string>Грудень</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
