<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ur</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE، d MMMM، y</string>
		<key>dateFormats.long</key>
		<string>d MMMM، y</string>
		<key>dateFormats.medium</key>
		<string>d MMM، y</string>
		<key>dateFormats.short</key>
		<string>d/M/yy</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>قبل دوپہر</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>بعد دوپہر</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>اتوار</string>
			<string>سوموار</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>اتوار</string>
			<string>سوموار</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>اتوار</string>
			<string>سوموار</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>W</string>
			<string>T</string>
			<string>F</string>
			<string>S</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>اتوار</string>
			<string>سوموار</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>جنوری</string>
			<string>فروری</string>
			<string>مارچ</string>
			<string>اپریل</string>
			<string>مئی</string>
			<string>جون</string>
			<string>جولائی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>جنوری</string>
			<string>فروری</string>
			<string>مارچ</string>
			<string>اپریل</string>
			<string>مئی</string>
			<string>جون</string>
			<string>جولائی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>جنوری</string>
			<string>فروری</string>
			<string>مارچ</string>
			<string>اپریل</string>
			<string>مئی</string>
			<string>جون</string>
			<string>جولائی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>جنوری</string>
			<string>فروری</string>
			<string>مارچ</string>
			<string>اپریل</string>
			<string>مئی</string>
			<string>جون</string>
			<string>جولائی</string>
			<string>اگست</string>
			<string>ستمبر</string>
			<string>اکتوبر</string>
			<string>نومبر</string>
			<string>دسمبر</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
	<key>ur-IN</key>
	<dict>
		<key>days.format.abbreviated</key>
		<array>
			<string>اتوار</string>
			<string>پیر</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>اتوار</string>
			<string>پیر</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>اتوار</string>
			<string>پیر</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>اتوار</string>
			<string>پیر</string>
			<string>منگل</string>
			<string>بدھ</string>
			<string>جمعرات</string>
			<string>جمعہ</string>
			<string>ہفتہ</string>
		</array>
	</dict>
</dict>
</plist>
