<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vo</key>
	<dict>
		<key>dateFormats.full</key>
		<string>y MMMMa 'd'. d'id'</string>
		<key>dateFormats.long</key>
		<string>y MMMM d</string>
		<key>dateFormats.medium</key>
		<string>y MMM. d</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>posz.</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>büz.</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>su.</string>
			<string>mu.</string>
			<string>tu.</string>
			<string>ve.</string>
			<string>dö.</string>
			<string>fr.</string>
			<string>zä.</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>V</string>
			<string>D</string>
			<string>F</string>
			<string>Z</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>sudel</string>
			<string>mudel</string>
			<string>tudel</string>
			<string>vedel</string>
			<string>dödel</string>
			<string>fridel</string>
			<string>zädel</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Su</string>
			<string>Mu</string>
			<string>Tu</string>
			<string>Ve</string>
			<string>Dö</string>
			<string>Fr</string>
			<string>Zä</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>V</string>
			<string>D</string>
			<string>F</string>
			<string>Z</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>sudel</string>
			<string>mudel</string>
			<string>tudel</string>
			<string>vedel</string>
			<string>dödel</string>
			<string>fridel</string>
			<string>zädel</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mäz</string>
			<string>prl</string>
			<string>may</string>
			<string>yun</string>
			<string>yul</string>
			<string>gst</string>
			<string>set</string>
			<string>ton</string>
			<string>nov</string>
			<string>dek</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>P</string>
			<string>M</string>
			<string>Y</string>
			<string>Y</string>
			<string>G</string>
			<string>S</string>
			<string>T</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>janul</string>
			<string>febul</string>
			<string>mäzil</string>
			<string>prilul</string>
			<string>mayul</string>
			<string>yunul</string>
			<string>yulul</string>
			<string>gustul</string>
			<string>setul</string>
			<string>tobul</string>
			<string>novul</string>
			<string>dekul</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>jan</string>
			<string>feb</string>
			<string>mäz</string>
			<string>prl</string>
			<string>may</string>
			<string>yun</string>
			<string>yul</string>
			<string>gst</string>
			<string>set</string>
			<string>tob</string>
			<string>nov</string>
			<string>Dek</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>P</string>
			<string>M</string>
			<string>Y</string>
			<string>Y</string>
			<string>G</string>
			<string>S</string>
			<string>T</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>janul</string>
			<string>febul</string>
			<string>mäzil</string>
			<string>prilul</string>
			<string>mayul</string>
			<string>yunul</string>
			<string>yulul</string>
			<string>gustul</string>
			<string>setul</string>
			<string>tobul</string>
			<string>novul</string>
			<string>dekul</string>
		</array>
		<key>timeFormats.full</key>
		<string>HH:mm:ss zzzz</string>
		<key>timeFormats.long</key>
		<string>HH:mm:ss z</string>
		<key>timeFormats.medium</key>
		<string>HH:mm:ss</string>
		<key>timeFormats.short</key>
		<string>HH:mm</string>
	</dict>
</dict>
</plist>
