<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zu</key>
	<dict>
		<key>dateFormats.full</key>
		<string>EEEE dd MMMM y</string>
		<key>dateFormats.long</key>
		<string>d MMMM y</string>
		<key>dateFormats.medium</key>
		<string>d MMM y</string>
		<key>dateFormats.short</key>
		<string>y-MM-dd</string>
		<key>dayPeriods.format.abbreviated.am</key>
		<string>AM</string>
		<key>dayPeriods.format.abbreviated.pm</key>
		<string>PM</string>
		<key>days.format.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mso</string>
			<string>Bil</string>
			<string>Tha</string>
			<string>Sin</string>
			<string>Hla</string>
			<string>Mgq</string>
		</array>
		<key>days.format.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>T</string>
			<string>T</string>
			<string>S</string>
			<string>H</string>
			<string>M</string>
		</array>
		<key>days.format.wide</key>
		<array>
			<string>Sonto</string>
			<string>Msombuluko</string>
			<string>Lwesibili</string>
			<string>Lwesithathu</string>
			<string>Lwesine</string>
			<string>Lwesihlanu</string>
			<string>Mgqibelo</string>
		</array>
		<key>days.stand-alone.abbreviated</key>
		<array>
			<string>Son</string>
			<string>Mso</string>
			<string>Bil</string>
			<string>Tha</string>
			<string>Sin</string>
			<string>Hla</string>
			<string>Mgq</string>
		</array>
		<key>days.stand-alone.narrow</key>
		<array>
			<string>S</string>
			<string>M</string>
			<string>B</string>
			<string>T</string>
			<string>S</string>
			<string>H</string>
			<string>M</string>
		</array>
		<key>days.stand-alone.wide</key>
		<array>
			<string>Sonto</string>
			<string>Msombuluko</string>
			<string>Lwesibili</string>
			<string>Lwesithathu</string>
			<string>Lwesine</string>
			<string>Lwesihlanu</string>
			<string>Mgqibelo</string>
		</array>
		<key>months.format.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mas</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Aga</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dis</string>
		</array>
		<key>months.format.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.format.wide</key>
		<array>
			<string>Januwari</string>
			<string>Februwari</string>
			<string>Mashi</string>
			<string>Apreli</string>
			<string>Meyi</string>
			<string>Juni</string>
			<string>Julayi</string>
			<string>Agasti</string>
			<string>Septhemba</string>
			<string>Okthoba</string>
			<string>Novemba</string>
			<string>Disemba</string>
		</array>
		<key>months.stand-alone.abbreviated</key>
		<array>
			<string>Jan</string>
			<string>Feb</string>
			<string>Mas</string>
			<string>Apr</string>
			<string>Mey</string>
			<string>Jun</string>
			<string>Jul</string>
			<string>Aga</string>
			<string>Sep</string>
			<string>Okt</string>
			<string>Nov</string>
			<string>Dis</string>
		</array>
		<key>months.stand-alone.narrow</key>
		<array>
			<string>J</string>
			<string>F</string>
			<string>M</string>
			<string>A</string>
			<string>M</string>
			<string>J</string>
			<string>J</string>
			<string>A</string>
			<string>S</string>
			<string>O</string>
			<string>N</string>
			<string>D</string>
		</array>
		<key>months.stand-alone.wide</key>
		<array>
			<string>uJanuwari</string>
			<string>uFebruwari</string>
			<string>uMashi</string>
			<string>u-Apreli</string>
			<string>uMeyi</string>
			<string>uJuni</string>
			<string>uJulayi</string>
			<string>uAgasti</string>
			<string>uSepthemba</string>
			<string>u-Okthoba</string>
			<string>uNovemba</string>
			<string>uDisemba</string>
		</array>
		<key>timeFormats.full</key>
		<string>h:mm:ss a zzzz</string>
		<key>timeFormats.long</key>
		<string>h:mm:ss a z</string>
		<key>timeFormats.medium</key>
		<string>h:mm:ss a</string>
		<key>timeFormats.short</key>
		<string>h:mm a</string>
	</dict>
</dict>
</plist>
