<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cs</key>
	<dict>
		<key>ADP</key>
		<string>ADP</string>
		<key>AED</key>
		<string>AED</string>
		<key>AFA</key>
		<string>AFA</string>
		<key>AFN</key>
		<string>AFN</string>
		<key>ALL</key>
		<string>ALL</string>
		<key>AMD</key>
		<string>AMD</string>
		<key>ANG</key>
		<string>ANG</string>
		<key>AOA</key>
		<string>AOA</string>
		<key>AOK</key>
		<string>AOK</string>
		<key>AON</key>
		<string>AON</string>
		<key>AOR</key>
		<string>AOR</string>
		<key>ARA</key>
		<string>ARA</string>
		<key>ARL</key>
		<string>ARL</string>
		<key>ARM</key>
		<string>ARM</string>
		<key>ARP</key>
		<string>ARP</string>
		<key>ARS</key>
		<string>ARS</string>
		<key>ATS</key>
		<string>ATS</string>
		<key>AUD</key>
		<string>AU$</string>
		<key>AWG</key>
		<string>AWG</string>
		<key>AZM</key>
		<string>AZM</string>
		<key>AZN</key>
		<string>AZN</string>
		<key>BAD</key>
		<string>BAD</string>
		<key>BAM</key>
		<string>BAM</string>
		<key>BAN</key>
		<string>BAN</string>
		<key>BBD</key>
		<string>BBD</string>
		<key>BDT</key>
		<string>BDT</string>
		<key>BEC</key>
		<string>BEC</string>
		<key>BEF</key>
		<string>BEF</string>
		<key>BEL</key>
		<string>BEL</string>
		<key>BGL</key>
		<string>BGL</string>
		<key>BGM</key>
		<string>BGM</string>
		<key>BGN</key>
		<string>BGN</string>
		<key>BGO</key>
		<string>BGO</string>
		<key>BHD</key>
		<string>BHD</string>
		<key>BIF</key>
		<string>BIF</string>
		<key>BMD</key>
		<string>BMD</string>
		<key>BND</key>
		<string>BND</string>
		<key>BOB</key>
		<string>BOB</string>
		<key>BOL</key>
		<string>BOL</string>
		<key>BOP</key>
		<string>BOP</string>
		<key>BOV</key>
		<string>BOV</string>
		<key>BRB</key>
		<string>BRB</string>
		<key>BRC</key>
		<string>BRC</string>
		<key>BRE</key>
		<string>BRE</string>
		<key>BRL</key>
		<string>R$</string>
		<key>BRN</key>
		<string>BRN</string>
		<key>BRR</key>
		<string>BRR</string>
		<key>BRZ</key>
		<string>BRZ</string>
		<key>BSD</key>
		<string>BSD</string>
		<key>BTN</key>
		<string>BTN</string>
		<key>BUK</key>
		<string>BUK</string>
		<key>BWP</key>
		<string>BWP</string>
		<key>BYB</key>
		<string>BYB</string>
		<key>BYR</key>
		<string>BYR</string>
		<key>BZD</key>
		<string>BZD</string>
		<key>CAD</key>
		<string>CA$</string>
		<key>CDF</key>
		<string>CDF</string>
		<key>CHE</key>
		<string>CHE</string>
		<key>CHF</key>
		<string>CHF</string>
		<key>CHW</key>
		<string>CHW</string>
		<key>CLE</key>
		<string>CLE</string>
		<key>CLF</key>
		<string>CLF</string>
		<key>CLP</key>
		<string>CLP</string>
		<key>CNY</key>
		<string>CN¥</string>
		<key>COP</key>
		<string>COP</string>
		<key>COU</key>
		<string>COU</string>
		<key>CRC</key>
		<string>CRC</string>
		<key>CSD</key>
		<string>CSD</string>
		<key>CSK</key>
		<string>Kčs</string>
		<key>CUC</key>
		<string>CUC</string>
		<key>CUP</key>
		<string>CUP</string>
		<key>CVE</key>
		<string>CVE</string>
		<key>CYP</key>
		<string>CYP</string>
		<key>CZK</key>
		<string>Kč</string>
		<key>DDM</key>
		<string>DDM</string>
		<key>DEM</key>
		<string>DEM</string>
		<key>DJF</key>
		<string>DJF</string>
		<key>DKK</key>
		<string>DKK</string>
		<key>DOP</key>
		<string>DOP</string>
		<key>DZD</key>
		<string>DZD</string>
		<key>ECS</key>
		<string>ECS</string>
		<key>ECV</key>
		<string>ECV</string>
		<key>EEK</key>
		<string>EEK</string>
		<key>EGP</key>
		<string>EGP</string>
		<key>ERN</key>
		<string>ERN</string>
		<key>ESA</key>
		<string>ESA</string>
		<key>ESB</key>
		<string>ESB</string>
		<key>ESP</key>
		<string>ESP</string>
		<key>ETB</key>
		<string>ETB</string>
		<key>EUR</key>
		<string>€</string>
		<key>FIM</key>
		<string>FIM</string>
		<key>FJD</key>
		<string>FJD</string>
		<key>FKP</key>
		<string>FKP</string>
		<key>FRF</key>
		<string>FRF</string>
		<key>GBP</key>
		<string>£</string>
		<key>GEK</key>
		<string>GEK</string>
		<key>GEL</key>
		<string>GEL</string>
		<key>GHC</key>
		<string>GHC</string>
		<key>GHS</key>
		<string>GHS</string>
		<key>GIP</key>
		<string>GIP</string>
		<key>GMD</key>
		<string>GMD</string>
		<key>GNF</key>
		<string>GNF</string>
		<key>GNS</key>
		<string>GNS</string>
		<key>GQE</key>
		<string>GQE</string>
		<key>GRD</key>
		<string>GRD</string>
		<key>GTQ</key>
		<string>GTQ</string>
		<key>GWE</key>
		<string>GWE</string>
		<key>GWP</key>
		<string>GWP</string>
		<key>GYD</key>
		<string>GYD</string>
		<key>HKD</key>
		<string>HK$</string>
		<key>HNL</key>
		<string>HNL</string>
		<key>HRD</key>
		<string>HRD</string>
		<key>HRK</key>
		<string>HRK</string>
		<key>HTG</key>
		<string>HTG</string>
		<key>HUF</key>
		<string>HUF</string>
		<key>IDR</key>
		<string>IDR</string>
		<key>IEP</key>
		<string>IEP</string>
		<key>ILP</key>
		<string>ILP</string>
		<key>ILS</key>
		<string>₪</string>
		<key>INR</key>
		<string>INR</string>
		<key>IQD</key>
		<string>IQD</string>
		<key>IRR</key>
		<string>IRR</string>
		<key>ISK</key>
		<string>ISK</string>
		<key>ITL</key>
		<string>ITL</string>
		<key>JMD</key>
		<string>JMD</string>
		<key>JOD</key>
		<string>JOD</string>
		<key>JPY</key>
		<string>JP¥</string>
		<key>KES</key>
		<string>KES</string>
		<key>KGS</key>
		<string>KGS</string>
		<key>KHR</key>
		<string>KHR</string>
		<key>KMF</key>
		<string>KMF</string>
		<key>KPW</key>
		<string>KPW</string>
		<key>KRH</key>
		<string>KRH</string>
		<key>KRO</key>
		<string>KRO</string>
		<key>KRW</key>
		<string>₩</string>
		<key>KWD</key>
		<string>KWD</string>
		<key>KYD</key>
		<string>KYD</string>
		<key>KZT</key>
		<string>KZT</string>
		<key>LAK</key>
		<string>LAK</string>
		<key>LBP</key>
		<string>LBP</string>
		<key>LKR</key>
		<string>LKR</string>
		<key>LRD</key>
		<string>LRD</string>
		<key>LSL</key>
		<string>LSL</string>
		<key>LTL</key>
		<string>LTL</string>
		<key>LTT</key>
		<string>LTT</string>
		<key>LUC</key>
		<string>LUC</string>
		<key>LUF</key>
		<string>LUF</string>
		<key>LUL</key>
		<string>LUL</string>
		<key>LVL</key>
		<string>LVL</string>
		<key>LVR</key>
		<string>LVR</string>
		<key>LYD</key>
		<string>LYD</string>
		<key>MAD</key>
		<string>MAD</string>
		<key>MAF</key>
		<string>MAF</string>
		<key>MCF</key>
		<string>MCF</string>
		<key>MDC</key>
		<string>MDC</string>
		<key>MDL</key>
		<string>MDL</string>
		<key>MGA</key>
		<string>MGA</string>
		<key>MGF</key>
		<string>MGF</string>
		<key>MKD</key>
		<string>MKD</string>
		<key>MKN</key>
		<string>MKN</string>
		<key>MLF</key>
		<string>MLF</string>
		<key>MMK</key>
		<string>MMK</string>
		<key>MNT</key>
		<string>MNT</string>
		<key>MOP</key>
		<string>MOP</string>
		<key>MRO</key>
		<string>MRO</string>
		<key>MTL</key>
		<string>MTL</string>
		<key>MTP</key>
		<string>MTP</string>
		<key>MUR</key>
		<string>MUR</string>
		<key>MVR</key>
		<string>MVR</string>
		<key>MWK</key>
		<string>MWK</string>
		<key>MXN</key>
		<string>MX$</string>
		<key>MXP</key>
		<string>MXP</string>
		<key>MXV</key>
		<string>MXV</string>
		<key>MYR</key>
		<string>MYR</string>
		<key>MZE</key>
		<string>MZE</string>
		<key>MZM</key>
		<string>MZM</string>
		<key>MZN</key>
		<string>MZN</string>
		<key>NAD</key>
		<string>NAD</string>
		<key>NGN</key>
		<string>NGN</string>
		<key>NIC</key>
		<string>NIC</string>
		<key>NIO</key>
		<string>NIO</string>
		<key>NLG</key>
		<string>NLG</string>
		<key>NOK</key>
		<string>NOK</string>
		<key>NPR</key>
		<string>NPR</string>
		<key>NZD</key>
		<string>NZ$</string>
		<key>OMR</key>
		<string>OMR</string>
		<key>PAB</key>
		<string>PAB</string>
		<key>PEI</key>
		<string>PEI</string>
		<key>PEN</key>
		<string>PEN</string>
		<key>PES</key>
		<string>PES</string>
		<key>PGK</key>
		<string>PGK</string>
		<key>PHP</key>
		<string>PHP</string>
		<key>PKR</key>
		<string>PKR</string>
		<key>PLN</key>
		<string>PLN</string>
		<key>PLZ</key>
		<string>PLZ</string>
		<key>PTE</key>
		<string>PTE</string>
		<key>PYG</key>
		<string>PYG</string>
		<key>QAR</key>
		<string>QAR</string>
		<key>RHD</key>
		<string>RHD</string>
		<key>ROL</key>
		<string>ROL</string>
		<key>RON</key>
		<string>RON</string>
		<key>RSD</key>
		<string>RSD</string>
		<key>RUB</key>
		<string>RUB</string>
		<key>RUR</key>
		<string>RUR</string>
		<key>RWF</key>
		<string>RWF</string>
		<key>SAR</key>
		<string>SAR</string>
		<key>SBD</key>
		<string>SBD</string>
		<key>SCR</key>
		<string>SCR</string>
		<key>SDD</key>
		<string>SDD</string>
		<key>SDG</key>
		<string>SDG</string>
		<key>SDP</key>
		<string>SDP</string>
		<key>SEK</key>
		<string>SEK</string>
		<key>SGD</key>
		<string>SGD</string>
		<key>SHP</key>
		<string>SHP</string>
		<key>SIT</key>
		<string>SIT</string>
		<key>SKK</key>
		<string>SKK</string>
		<key>SLL</key>
		<string>SLL</string>
		<key>SOS</key>
		<string>SOS</string>
		<key>SRD</key>
		<string>SRD</string>
		<key>SRG</key>
		<string>SRG</string>
		<key>SSP</key>
		<string>SSP</string>
		<key>STD</key>
		<string>STD</string>
		<key>SUR</key>
		<string>SUR</string>
		<key>SVC</key>
		<string>SVC</string>
		<key>SYP</key>
		<string>SYP</string>
		<key>SZL</key>
		<string>SZL</string>
		<key>THB</key>
		<string>THB</string>
		<key>TJR</key>
		<string>TJR</string>
		<key>TJS</key>
		<string>TJS</string>
		<key>TMM</key>
		<string>TMM</string>
		<key>TMT</key>
		<string>TMT</string>
		<key>TND</key>
		<string>TND</string>
		<key>TOP</key>
		<string>TOP</string>
		<key>TPE</key>
		<string>TPE</string>
		<key>TRL</key>
		<string>TRL</string>
		<key>TRY</key>
		<string>TRY</string>
		<key>TTD</key>
		<string>TTD</string>
		<key>TWD</key>
		<string>NT$</string>
		<key>TZS</key>
		<string>TZS</string>
		<key>UAH</key>
		<string>UAH</string>
		<key>UAK</key>
		<string>UAK</string>
		<key>UGS</key>
		<string>UGS</string>
		<key>UGX</key>
		<string>UGX</string>
		<key>USD</key>
		<string>US$</string>
		<key>USN</key>
		<string>USN</string>
		<key>USS</key>
		<string>USS</string>
		<key>UYI</key>
		<string>UYI</string>
		<key>UYP</key>
		<string>UYP</string>
		<key>UYU</key>
		<string>UYU</string>
		<key>UZS</key>
		<string>UZS</string>
		<key>VEB</key>
		<string>VEB</string>
		<key>VEF</key>
		<string>VEF</string>
		<key>VND</key>
		<string>VND</string>
		<key>VNN</key>
		<string>VNN</string>
		<key>VUV</key>
		<string>VUV</string>
		<key>WST</key>
		<string>WST</string>
		<key>XAF</key>
		<string>FCFA</string>
		<key>XAG</key>
		<string>XAG</string>
		<key>XAU</key>
		<string>XAU</string>
		<key>XBA</key>
		<string>XBA</string>
		<key>XBB</key>
		<string>EMU</string>
		<key>XBC</key>
		<string>XBC</string>
		<key>XBD</key>
		<string>XBD</string>
		<key>XCD</key>
		<string>EC$</string>
		<key>XDR</key>
		<string>XDR</string>
		<key>XEU</key>
		<string>ECU</string>
		<key>XFO</key>
		<string>XFO</string>
		<key>XFU</key>
		<string>XFU</string>
		<key>XOF</key>
		<string>CFA</string>
		<key>XPD</key>
		<string>XPD</string>
		<key>XPF</key>
		<string>CFPF</string>
		<key>XPT</key>
		<string>XPT</string>
		<key>XRE</key>
		<string>XRE</string>
		<key>XSU</key>
		<string>XSU</string>
		<key>XTS</key>
		<string>XTS</string>
		<key>XUA</key>
		<string>XUA</string>
		<key>XXX</key>
		<string>XXX</string>
		<key>YDD</key>
		<string>YDD</string>
		<key>YER</key>
		<string>YER</string>
		<key>YUD</key>
		<string>YUD</string>
		<key>YUM</key>
		<string>YUM</string>
		<key>YUN</key>
		<string>YUN</string>
		<key>YUR</key>
		<string>YUR</string>
		<key>ZAL</key>
		<string>ZAL</string>
		<key>ZAR</key>
		<string>ZAR</string>
		<key>ZMK</key>
		<string>ZMK</string>
		<key>ZMW</key>
		<string>ZMW</string>
		<key>ZRN</key>
		<string>ZRN</string>
		<key>ZRZ</key>
		<string>ZRZ</string>
		<key>ZWD</key>
		<string>ZWD</string>
		<key>ZWL</key>
		<string>ZWL</string>
		<key>ZWR</key>
		<string>ZWR</string>
		<key>format-latn-currencyFormat</key>
		<string>#,##0.00 ¤</string>
		<key>format-latn-decimalFormat</key>
		<string>#,##0.###</string>
		<key>format-latn-percentFormat</key>
		<string>#,##0 %</string>
		<key>format-latn-scientificFormat</key>
		<string>#E0</string>
		<key>symbol-latn-decimal</key>
		<string>,</string>
		<key>symbol-latn-exponential</key>
		<string>E</string>
		<key>symbol-latn-group</key>
		<string> </string>
		<key>symbol-latn-infinity</key>
		<string>∞</string>
		<key>symbol-latn-list</key>
		<string>;</string>
		<key>symbol-latn-minusSign</key>
		<string>-</string>
		<key>symbol-latn-nan</key>
		<string>NaN</string>
		<key>symbol-latn-perMille</key>
		<string>‰</string>
		<key>symbol-latn-percentSign</key>
		<string>%</string>
		<key>symbol-latn-plusSign</key>
		<string>+</string>
		<key>symbol-latn-superscriptingExponent</key>
		<string>×</string>
	</dict>
</dict>
</plist>
