{
	Model = {};
	Grid = {
		"_LOCALIZABLE_" = {
			RowNames = (
				April,
				May,
				June,
				July,
				August,
				September,
				October,
				November,
				December,
			);
			ColumnNames = (
				"Region 1",
				"Region 1",
				"Region 1",
				"Region 2",
				"Region 2",
				"Region 3",
				"Region 3",
			);
		};
		Values = (
			(
				1,
				2,
				20,
				0,
				12,
				30,
				100,
			),
			(
				3,
				4,
				34,
				11,
				21,
				38,
				88,
			),
			(
				5,
				5,
				12,
				19,
				30,
				20,
				76,
			),
			(
				6,
				8,
				50,
				26,
				28,
				17,
				64,
			),
			(
				8,
				13,
				70,
				33,
				38,
				24,
				52,
			),
			(
				9,
				16,
				35,
				40,
				57,
				31,
				40,
			),
			(
				11,
				18,
				68,
				70,
				66,
				23,
				28,
			),
			(
				12,
				20,
				22,
				51,
				75,
				15,
				16,
			),
			(
				15,
				24,
				35,
				40,
				99,
				6,
				10,
			),
		);
		Direction = ByColumn;
	};
}