<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Sogou Skin File</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sogou.pinyin.ssf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac Sogou Skin File</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sogou.pinyin.mssf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SogouSkinFileQuickLook</string>
	<key>CFBundleIdentifier</key>
	<string>com.sogou.pinyin.SogouSkinFileQuickLook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SogouSkinFileQuickLook</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>81EF4DF1-35E4-4B60-8F94-A3D419BCB300</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>81EF4DF1-35E4-4B60-8F94-A3D419BCB300</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Sogou. All rights reserved.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<false/>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<integer>100</integer>
	<key>QLPreviewWidth</key>
	<integer>100</integer>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.sogou.pinyin.mssf</string>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mac Sogou Skin File</string>
			<key>UTTypeIconName</key>
			<string>generic</string>
			<key>UTTypeIdentifier</key>
			<string>com.sogou.pinyin.mssf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mssf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>dyn.ah62d4rv4ge81g65g</string>
				<string>com.sogou.pinyin.ssf</string>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sogou Skin File</string>
			<key>UTTypeIconName</key>
			<string>generic</string>
			<key>UTTypeIdentifier</key>
			<string>com.sogou.pinyin.ssf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ssf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
