<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.63306629657745361</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.0</real>
				<key>m</key>
				<real>0.35887694358825684</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.85497826337814331</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72594797611236572</real>
				<key>r</key>
				<real>0.58098727464675903</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.39371329545974731</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17248798906803131</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.82069122791290283</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60439461469650269</real>
				<key>r</key>
				<real>0.35771724581718445</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.055680170655250549</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.02859540656208992</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.56317996978759766</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.29892423748970032</real>
				<key>r</key>
				<real>0.083649955689907074</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.63306629657745361</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.0</real>
				<key>m</key>
				<real>0.35887694358825684</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.85497826337814331</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72594797611236572</real>
				<key>r</key>
				<real>0.58098727464675903</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.39371329545974731</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17248798906803131</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.82069122791290283</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60439461469650269</real>
				<key>r</key>
				<real>0.35771724581718445</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.055680170655250549</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.02859540656208992</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.56317996978759766</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.29892423748970032</real>
				<key>r</key>
				<real>0.083649955689907074</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.63306629657745361</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.0</real>
				<key>m</key>
				<real>0.35887694358825684</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.85497826337814331</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72594797611236572</real>
				<key>r</key>
				<real>0.58098727464675903</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.39371329545974731</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17248798906803131</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.82069122791290283</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60439461469650269</real>
				<key>r</key>
				<real>0.35771724581718445</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.055680170655250549</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.02859540656208992</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.56317996978759766</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.29892423748970032</real>
				<key>r</key>
				<real>0.083649955689907074</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.63306629657745361</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.0</real>
				<key>m</key>
				<real>0.35887694358825684</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.85497826337814331</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72594797611236572</real>
				<key>r</key>
				<real>0.58098727464675903</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.39371329545974731</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17248798906803131</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.82069122791290283</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60439461469650269</real>
				<key>r</key>
				<real>0.35771724581718445</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.055680170655250549</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.02859540656208992</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.56317996978759766</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.29892423748970032</real>
				<key>r</key>
				<real>0.083649955689907074</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
