<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.47045007348060608</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.19362345337867737</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1152353435754776</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.47045007348060608</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.19362345337867737</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1152353435754776</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.47045007348060608</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.19362345337867737</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1152353435754776</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.47045007348060608</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.19362345337867737</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1152353435754776</real>
			</dict>
		</dict>
		<key>SFC3DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.5502091646194458</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2230813056230545</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1310124397277832</real>
			</dict>
		</dict>
		<key>SFC3DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.5502091646194458</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2230813056230545</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1310124397277832</real>
			</dict>
		</dict>
		<key>SFC3DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.5502091646194458</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2230813056230545</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1310124397277832</real>
			</dict>
		</dict>
		<key>SFC3DLineFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.5502091646194458</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2230813056230545</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1310124397277832</real>
			</dict>
		</dict>
		<key>SFC3DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.0067370058968663216</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.44703614711761475</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.18578577041625977</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.67108273506164551</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35425379872322083</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.042398694902658463</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.015511888079345226</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.65762603282928467</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.37183383107185364</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.92075532674789429</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55502796173095703</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.14471021294593811</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.099644497036933899</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.35767251253128052</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.046867217868566513</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.89999997615814209</real>
				<key>b</key>
				<real>0.5502091646194458</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2230813056230545</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.1310124397277832</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
