<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>56e84578</string>
						<key>displayname</key>
						<string>Blue.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Blue.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151680</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>19a14b8e</string>
						<key>displayname</key>
						<string>5-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>123760</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>a964c72a</string>
						<key>displayname</key>
						<string>Yellow 2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Yellow 2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>117384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>29aec749</string>
						<key>displayname</key>
						<string>2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>141400</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>db915027</string>
						<key>displayname</key>
						<string>3-2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>3-2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151976</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>dfa3c680</string>
						<key>displayname</key>
						<string>6-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>124252</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>56e84578</string>
						<key>displayname</key>
						<string>Blue.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Blue.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151680</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>19a14b8e</string>
						<key>displayname</key>
						<string>5-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>123760</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>a964c72a</string>
						<key>displayname</key>
						<string>Yellow 2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Yellow 2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>117384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>29aec749</string>
						<key>displayname</key>
						<string>2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>141400</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>db915027</string>
						<key>displayname</key>
						<string>3-2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>3-2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151976</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>dfa3c680</string>
						<key>displayname</key>
						<string>6-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>124252</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>56e84578</string>
						<key>displayname</key>
						<string>Blue.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Blue.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151680</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>19a14b8e</string>
						<key>displayname</key>
						<string>5-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>123760</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>a964c72a</string>
						<key>displayname</key>
						<string>Yellow 2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Yellow 2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>117384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>29aec749</string>
						<key>displayname</key>
						<string>2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>141400</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>db915027</string>
						<key>displayname</key>
						<string>3-2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>3-2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151976</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>dfa3c680</string>
						<key>displayname</key>
						<string>6-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>124252</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>56e84578</string>
						<key>displayname</key>
						<string>Blue.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Blue.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151680</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>19a14b8e</string>
						<key>displayname</key>
						<string>5-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>123760</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>a964c72a</string>
						<key>displayname</key>
						<string>Yellow 2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Yellow 2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>117384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>29aec749</string>
						<key>displayname</key>
						<string>2-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>2-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>141400</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>db915027</string>
						<key>displayname</key>
						<string>3-2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>3-2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>151976</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>dfa3c680</string>
						<key>displayname</key>
						<string>6-1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>124252</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>256</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>256</real>
						<key>w</key>
						<real>256</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>256</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
