<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.11274891346693039</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.28162050247192383</real>
				<key>m</key>
				<real>0.32843518257141113</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.51143664121627808</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54660868644714355</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72036314010620117</real>
				<key>r</key>
				<real>0.78214693069458008</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.1111772432923317</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.16246280074119568</real>
				<key>r</key>
				<real>0.22883954644203186</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.35347524285316467</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55840390920639038</real>
				<key>r</key>
				<real>0.68302434682846069</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.050919357687234879</real>
				<key>r</key>
				<real>0.10771343857049942</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.13105973601341248</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.24769970774650574</real>
				<key>r</key>
				<real>0.43366140127182007</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.11274891346693039</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.28162050247192383</real>
				<key>m</key>
				<real>0.32843518257141113</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.51143664121627808</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54660868644714355</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72036314010620117</real>
				<key>r</key>
				<real>0.78214693069458008</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.1111772432923317</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.16246280074119568</real>
				<key>r</key>
				<real>0.22883954644203186</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.35347524285316467</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55840390920639038</real>
				<key>r</key>
				<real>0.68302434682846069</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.050919357687234879</real>
				<key>r</key>
				<real>0.10771343857049942</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.13105973601341248</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.24769970774650574</real>
				<key>r</key>
				<real>0.43366140127182007</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.11274891346693039</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.28162050247192383</real>
				<key>m</key>
				<real>0.32843518257141113</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.51143664121627808</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54660868644714355</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72036314010620117</real>
				<key>r</key>
				<real>0.78214693069458008</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.1111772432923317</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.16246280074119568</real>
				<key>r</key>
				<real>0.22883954644203186</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.35347524285316467</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55840390920639038</real>
				<key>r</key>
				<real>0.68302434682846069</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.050919357687234879</real>
				<key>r</key>
				<real>0.10771343857049942</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.13105973601341248</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.24769970774650574</real>
				<key>r</key>
				<real>0.43366140127182007</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.11274891346693039</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.28162050247192383</real>
				<key>m</key>
				<real>0.32843518257141113</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.51143664121627808</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54660868644714355</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72036314010620117</real>
				<key>r</key>
				<real>0.78214693069458008</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.1111772432923317</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.16246280074119568</real>
				<key>r</key>
				<real>0.22883954644203186</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.35347524285316467</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55840390920639038</real>
				<key>r</key>
				<real>0.68302434682846069</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.050919357687234879</real>
				<key>r</key>
				<real>0.10771343857049942</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.13105973601341248</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.24769970774650574</real>
				<key>r</key>
				<real>0.43366140127182007</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
