<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>0985a3d1</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39466</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4a20ee0f</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33766</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8ecd2535</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>13da1a06</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38034</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>8a499bb3</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42558</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6c27e663</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39262</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>0985a3d1</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39466</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4a20ee0f</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33766</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8ecd2535</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>13da1a06</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38034</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>8a499bb3</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42558</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6c27e663</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39262</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>0985a3d1</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39466</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4a20ee0f</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33766</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8ecd2535</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>13da1a06</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38034</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>8a499bb3</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42558</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6c27e663</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39262</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>0985a3d1</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_blue-lt.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39466</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4a20ee0f</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green-dk.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33766</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8ecd2535</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>13da1a06</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_burgundy.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38034</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>8a499bb3</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42558</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6c27e663</string>
						<key>displayname</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_corrugate_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39262</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>300</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>300</real>
						<key>w</key>
						<real>300</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>300</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
