<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lights</key>
	<array>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.40000000596046448</real>
			<key>name</key>
			<string>Fill Center</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>10</real>
			<key>yLocation</key>
			<real>15</real>
			<key>zLocation</key>
			<real>30</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.75</real>
			<key>name</key>
			<string>Directional Key</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>directional</string>
			<key>xDirection</key>
			<real>-0.25145727396011353</real>
			<key>yDirection</key>
			<real>-0.56923151016235352</real>
			<key>zDirection</key>
			<real>-0.78278011083602905</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.20000000298023224</real>
			<key>name</key>
			<string>Fill Right</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>100</real>
			<key>yLocation</key>
			<real>0.0</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.10000000149011612</real>
			<key>name</key>
			<string>Fill Left</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-100</real>
			<key>yLocation</key>
			<real>0.0</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>name</key>
	<string>Default</string>
</dict>
</plist>
