<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.26090130209922791</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.69864791631698608</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83980822563171387</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.099471621215343475</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.45291227102279663</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.6880919337272644</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.062891460955142975</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28635618090629578</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.43504971265792847</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.9100000262260437</real>
				<key>b</key>
				<real>0.22147305309772491</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26260709762573242</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.29019609093666077</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.016861883923411369</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2288842499256134</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.71186321973800659</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.0050927014090120792</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.13989286124706268</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.35813188552856445</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.26090130209922791</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.69864791631698608</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83980822563171387</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.099471621215343475</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.45291227102279663</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.6880919337272644</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.062891460955142975</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28635618090629578</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.43504971265792847</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.9100000262260437</real>
				<key>b</key>
				<real>0.22147305309772491</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26260709762573242</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.29019609093666077</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.016861883923411369</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2288842499256134</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.71186321973800659</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.0050927014090120792</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.13989286124706268</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.35813188552856445</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.26090130209922791</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.69864791631698608</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83980822563171387</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.099471621215343475</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.45291227102279663</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.6880919337272644</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.062891460955142975</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28635618090629578</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.43504971265792847</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.9100000262260437</real>
				<key>b</key>
				<real>0.22147305309772491</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26260709762573242</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.29019609093666077</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.016861883923411369</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2288842499256134</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.71186321973800659</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.0050927014090120792</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.13989286124706268</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.35813188552856445</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.26090130209922791</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.69864791631698608</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83980822563171387</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.099471621215343475</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.45291227102279663</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.6880919337272644</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.062891460955142975</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28635618090629578</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.43504971265792847</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.9100000262260437</real>
				<key>b</key>
				<real>0.22147305309772491</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26260709762573242</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.29019609093666077</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.75</real>
				<key>b</key>
				<real>0.016861883923411369</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2288842499256134</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.71186321973800659</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.0050927014090120792</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.13989286124706268</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.35813188552856445</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
