<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.5245136022567749</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.19710078835487366</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.87060350179672241</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.40041199326515198</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>1</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>1</real>
				<key>m</key>
				<real>1</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>1</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.74065768718719482</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.5245136022567749</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.19710078835487366</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.87060350179672241</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.40041199326515198</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>1</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>1</real>
				<key>m</key>
				<real>1</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>1</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.74065768718719482</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.5245136022567749</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.19710078835487366</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.87060350179672241</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.40041199326515198</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>1</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>1</real>
				<key>m</key>
				<real>1</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>1</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.74065768718719482</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.5245136022567749</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.19710078835487366</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.87060350179672241</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.40041199326515198</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>1</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>1</real>
				<key>m</key>
				<real>1</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>1</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>c</key>
				<real>0.0</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>device-cmyk</string>
				<key>k</key>
				<real>0.74065768718719482</real>
				<key>m</key>
				<real>0.0</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>6c808d4c</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>54500</integer>
					<key>version</key>
					<string>1</string>
				</dict>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
