<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.17132829129695892</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.39205005764961243</real>
				<key>r</key>
				<real>0.19475089013576508</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.46315708756446838</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72413212060928345</real>
				<key>r</key>
				<real>0.57402914762496948</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.084672309458255768</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17836271226406097</real>
				<key>r</key>
				<real>0.067933164536952972</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.26503396034240723</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60943007469177246</real>
				<key>r</key>
				<real>0.366201251745224</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.016708629205822945</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.044159609824419022</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.093980312347412109</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26717022061347961</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.17132829129695892</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.39205005764961243</real>
				<key>r</key>
				<real>0.19475089013576508</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.46315708756446838</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72413212060928345</real>
				<key>r</key>
				<real>0.57402914762496948</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.084672309458255768</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17836271226406097</real>
				<key>r</key>
				<real>0.067933164536952972</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.26503396034240723</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60943007469177246</real>
				<key>r</key>
				<real>0.366201251745224</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.016708629205822945</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.044159609824419022</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.093980312347412109</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26717022061347961</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.17132829129695892</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.39205005764961243</real>
				<key>r</key>
				<real>0.19475089013576508</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.46315708756446838</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72413212060928345</real>
				<key>r</key>
				<real>0.57402914762496948</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.084672309458255768</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17836271226406097</real>
				<key>r</key>
				<real>0.067933164536952972</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.26503396034240723</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60943007469177246</real>
				<key>r</key>
				<real>0.366201251745224</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.016708629205822945</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.044159609824419022</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.093980312347412109</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26717022061347961</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.17132829129695892</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.39205005764961243</real>
				<key>r</key>
				<real>0.19475089013576508</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.46315708756446838</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.72413212060928345</real>
				<key>r</key>
				<real>0.57402914762496948</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.084672309458255768</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.17836271226406097</real>
				<key>r</key>
				<real>0.067933164536952972</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.26503396034240723</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.60943007469177246</real>
				<key>r</key>
				<real>0.366201251745224</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.016708629205822945</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.044159609824419022</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.093980312347412109</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.26717022061347961</real>
				<key>r</key>
				<real>0.0</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
