<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultPageNumberFormats</key>
	<dict>
		<key>ar</key>
		<string>arabic-indic</string>
	</dict>
	<key>validFormatNames</key>
	<array>
		<string>decimal</string>
		<string>upper-roman</string>
		<string>lower-roman</string>
		<string>upper-alpha-symbolic</string>
		<string>lower-alpha-symbolic</string>
		<string>arabic-indic</string>
		<string>cjk-decimal</string>
		<string>devanagari</string>
		<string>thai</string>
	</array>
	<key>formatTypeInfo</key>
	<dict>
		<key>decimal</key>
		<dict>
			<key>oldTypeID</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>1, 2, 3</string>
			<key>system</key>
			<string>numeric</string>
			<key>digitChars</key>
			<string>0123456789</string>
			<key>locales</key>
			<array/>
		</dict>
		<key>upper-roman</key>
		<dict>
			<key>oldTypeID</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>I, II, III</string>
			<key>system</key>
			<string>additive</string>
			<key>limitsAndSymbols</key>
			<array>
				<integer>1000</integer>
				<string>M</string>
				<integer>900</integer>
				<string>CM</string>
				<integer>500</integer>
				<string>D</string>
				<integer>400</integer>
				<string>CD</string>
				<integer>100</integer>
				<string>C</string>
				<integer>90</integer>
				<string>XC</string>
				<integer>50</integer>
				<string>L</string>
				<integer>40</integer>
				<string>XL</string>
				<integer>10</integer>
				<string>X</string>
				<integer>9</integer>
				<string>IX</string>
				<integer>5</integer>
				<string>V</string>
				<integer>4</integer>
				<string>IV</string>
				<integer>1</integer>
				<string>I</string>
			</array>
			<key>lowerBound</key>
			<integer>1</integer>
			<key>upperBound</key>
			<integer>3999</integer>
			<key>locales</key>
			<array/>
		</dict>
		<key>lower-roman</key>
		<dict>
			<key>oldTypeID</key>
			<integer>2</integer>
			<key>displayName</key>
			<string>i, ii, iii</string>
			<key>system</key>
			<string>additive</string>
			<key>limitsAndSymbols</key>
			<array>
				<integer>1000</integer>
				<string>m</string>
				<integer>900</integer>
				<string>cm</string>
				<integer>500</integer>
				<string>d</string>
				<integer>400</integer>
				<string>cd</string>
				<integer>100</integer>
				<string>c</string>
				<integer>90</integer>
				<string>xc</string>
				<integer>50</integer>
				<string>l</string>
				<integer>40</integer>
				<string>xl</string>
				<integer>10</integer>
				<string>x</string>
				<integer>9</integer>
				<string>ix</string>
				<integer>5</integer>
				<string>v</string>
				<integer>4</integer>
				<string>iv</string>
				<integer>1</integer>
				<string>i</string>
			</array>
			<key>lowerBound</key>
			<integer>1</integer>
			<key>upperBound</key>
			<integer>3999</integer>
			<key>locales</key>
			<array/>
		</dict>
		<key>upper-alpha-symbolic</key>
		<dict>
			<key>oldTypeID</key>
			<integer>3</integer>
			<key>displayName</key>
			<string>A, B, C</string>
			<key>system</key>
			<string>symbolic</string>
			<key>symbols</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
			<key>lowerBound</key>
			<integer>1</integer>
			<key>locales</key>
			<array/>
		</dict>
		<key>lower-alpha-symbolic</key>
		<dict>
			<key>oldTypeID</key>
			<integer>4</integer>
			<key>displayName</key>
			<string>a, b, c</string>
			<key>system</key>
			<string>symbolic</string>
			<key>symbols</key>
			<string>abcdefghijklmnopqrstuvwxyz</string>
			<key>lowerBound</key>
			<integer>1</integer>
			<key>locales</key>
			<array/>
		</dict>
		<key>arabic-indic</key>
		<dict>
			<key>oldTypeID</key>
			<integer>5</integer>
			<key>displayName</key>
			<string>‏١، ٢، ٣</string>
			<key>system</key>
			<string>numeric</string>
			<key>digitChars</key>
			<string>٠١٢٣٤٥٦٧٨٩</string>
			<key>locales</key>
			<array>
				<string>ar</string>
			</array>
		</dict>
		<key>cjk-decimal</key>
		<dict>
			<key>oldTypeID</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>一、　二、　三</string>
			<key>system</key>
			<string>numeric</string>
			<key>digitChars</key>
			<string>〇一二三四五六七八九</string>
			<key>locales</key>
			<array>
				<string>zh</string>
			</array>
		</dict>
		<key>devanagari</key>
		<dict>
			<key>oldTypeID</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>१, २, ३</string>
			<key>system</key>
			<string>numeric</string>
			<key>digitChars</key>
			<string>०१२३४५६७८९</string>
			<key>locales</key>
			<array>
				<string>hi</string>
			</array>
		</dict>
		<key>thai</key>
		<dict>
			<key>oldTypeID</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>๑, ๒, ๓</string>
			<key>system</key>
			<string>numeric</string>
			<key>digitChars</key>
			<string>๐๑๒๓๔๕๖๗๘๙</string>
			<key>locales</key>
			<array>
				<string>th</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
