<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>12ff606f</string>
						<key>displayname</key>
						<string>tile_bluepurple.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_bluepurple.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36065</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>dd4a6fa2</string>
						<key>displayname</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37471</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>29e2c789</string>
						<key>displayname</key>
						<string>harmony_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37269</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>8d1294b3</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray-1.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34211</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70dd55ce</string>
						<key>displayname</key>
						<string>harmony_tile_blue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_blue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37040</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>7af9ae2f</string>
						<key>displayname</key>
						<string>tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34193</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>12ff606f</string>
						<key>displayname</key>
						<string>tile_bluepurple.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_bluepurple.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36065</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>dd4a6fa2</string>
						<key>displayname</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37471</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>29e2c789</string>
						<key>displayname</key>
						<string>harmony_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37269</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>8d1294b3</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray-1.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34211</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70dd55ce</string>
						<key>displayname</key>
						<string>harmony_tile_blue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_blue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37040</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>7af9ae2f</string>
						<key>displayname</key>
						<string>tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34193</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>12ff606f</string>
						<key>displayname</key>
						<string>tile_bluepurple.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_bluepurple.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36065</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>dd4a6fa2</string>
						<key>displayname</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37471</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>29e2c789</string>
						<key>displayname</key>
						<string>harmony_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37269</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>8d1294b3</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray-1.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34211</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70dd55ce</string>
						<key>displayname</key>
						<string>harmony_tile_blue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_blue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37040</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>7af9ae2f</string>
						<key>displayname</key>
						<string>tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34193</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>12ff606f</string>
						<key>displayname</key>
						<string>tile_bluepurple.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_bluepurple.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36065</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>dd4a6fa2</string>
						<key>displayname</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_ltbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37471</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>29e2c789</string>
						<key>displayname</key>
						<string>harmony_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37269</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>8d1294b3</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray-1.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34211</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70dd55ce</string>
						<key>displayname</key>
						<string>harmony_tile_blue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>harmony_tile_blue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37040</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>7af9ae2f</string>
						<key>displayname</key>
						<string>tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>34193</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
