<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lights</key>
	<array>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.30000001192092896</real>
			<key>name</key>
			<string>Fill Center</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-12</real>
			<key>yLocation</key>
			<real>12</real>
			<key>zLocation</key>
			<real>30</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>cutOffAngle</key>
			<real>3.2000000476837158</real>
			<key>dropOffRate</key>
			<real>0.0</real>
			<key>intensity</key>
			<real>0.89999997615814209</real>
			<key>name</key>
			<string>Directional Key</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>spot</string>
			<key>xDirection</key>
			<real>0.387422114610672</real>
			<key>xLocation</key>
			<real>30.000490188598633</real>
			<key>yDirection</key>
			<real>-0.57873761653900146</real>
			<key>yLocation</key>
			<real>40.000553131103516</real>
			<key>zDirection</key>
			<real>-0.71761196851730347</real>
			<key>zLocation</key>
			<real>30.000465393066406</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>0.9998779296875</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>0.89866483211517334</real>
			<key>colorSpecularBlue</key>
			<real>0.9998779296875</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>0.89866483211517334</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.20000000298023224</real>
			<key>name</key>
			<string>Edge Right</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>50</real>
			<key>yLocation</key>
			<real>20</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>0.9998779296875</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>0.89866483211517334</real>
			<key>colorSpecularBlue</key>
			<real>0.9998779296875</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>0.89866483211517334</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.20000000298023224</real>
			<key>name</key>
			<string>Edge Left</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-50</real>
			<key>yLocation</key>
			<real>20</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>name</key>
	<string>Medium Center</string>
</dict>
</plist>
