<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lights</key>
	<array>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>0.82351416349411011</real>
			<key>colorDiffuseRed</key>
			<real>0.82351416349411011</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>0.82351416349411011</real>
			<key>colorSpecularRed</key>
			<real>0.82351416349411011</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.10000000149011612</real>
			<key>name</key>
			<string>Top Light</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>12</real>
			<key>yLocation</key>
			<real>100</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>0.96967625617980957</real>
			<key>colorDiffuseRed</key>
			<real>0.95613718032836914</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>0.96967625617980957</real>
			<key>colorSpecularRed</key>
			<real>0.95613718032836914</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.89999997615814209</real>
			<key>name</key>
			<string>Fill Center High</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-50</real>
			<key>yLocation</key>
			<real>90</real>
			<key>zLocation</key>
			<real>100</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.20000000298023224</real>
			<key>name</key>
			<string>Fill Right</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>100</real>
			<key>yLocation</key>
			<real>0.0</real>
			<key>zLocation</key>
			<real>40</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.5</real>
			<key>name</key>
			<string>Fill Center Low</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-50</real>
			<key>yLocation</key>
			<real>-90</real>
			<key>zLocation</key>
			<real>100</real>
		</dict>
	</array>
	<key>name</key>
	<string>Medium Left</string>
</dict>
</plist>
