<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.02785123884677887</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55032920837402344</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.82834321260452271</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.022617025300860405</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28597733378410339</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83242088556289673</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.62000000476837158</real>
				<key>b</key>
				<real>0.22049514949321747</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28051993250846863</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.33207947015762329</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.83921563625335693</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58431375026702881</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.22352941334247589</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.016286395490169525</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.53532332181930542</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.52605134248733521</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.010913555510342121</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.05238073319196701</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.068190567195415497</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.02785123884677887</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55032920837402344</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.82834321260452271</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.022617025300860405</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28597733378410339</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83242088556289673</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.62000000476837158</real>
				<key>b</key>
				<real>0.22049514949321747</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28051993250846863</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.33207947015762329</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.83921563625335693</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58431375026702881</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.22352941334247589</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.016286395490169525</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.53532332181930542</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.52605134248733521</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.010913555510342121</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.05238073319196701</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.068190567195415497</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.02785123884677887</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55032920837402344</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.82834321260452271</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.022617025300860405</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28597733378410339</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83242088556289673</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.62000000476837158</real>
				<key>b</key>
				<real>0.22049514949321747</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28051993250846863</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.33207947015762329</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.83921563625335693</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58431375026702881</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.22352941334247589</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.016286395490169525</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.53532332181930542</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.52605134248733521</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.010913555510342121</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.05238073319196701</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.068190567195415497</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.02785123884677887</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.55032920837402344</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.82834321260452271</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>0.80000001192092896</real>
				<key>b</key>
				<real>0.022617025300860405</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28597733378410339</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.83242088556289673</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>0.62000000476837158</real>
				<key>b</key>
				<real>0.22049514949321747</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.28051993250846863</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.33207947015762329</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.83921563625335693</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58431375026702881</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.22352941334247589</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.016286395490169525</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.53532332181930542</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.52605134248733521</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>0.69999998807907104</real>
				<key>b</key>
				<real>0.010913555510342121</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.05238073319196701</real>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>f784f3fb</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>3144</integer>
				</dict>
				<key>r</key>
				<real>0.068190567195415497</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
