<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>8d3d1a9d</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>23144</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4648a482</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24335</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>0bbbb4af</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>20882</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>66462e43</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24105</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70bdca78</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24234</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>5d243eed</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>21974</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>8d3d1a9d</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>23144</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4648a482</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24335</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>0bbbb4af</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>20882</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>66462e43</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24105</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70bdca78</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24234</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>5d243eed</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>21974</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>8d3d1a9d</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>23144</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4648a482</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24335</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>0bbbb4af</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>20882</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>66462e43</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24105</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70bdca78</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24234</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>5d243eed</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>21974</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>8d3d1a9d</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-A.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>23144</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>4648a482</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-B.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24335</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>0bbbb4af</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-C.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>20882</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>66462e43</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-D.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24105</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>70bdca78</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-E.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>24234</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>5d243eed</string>
						<key>displayname</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_parchment-F.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>21974</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>200</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>200</real>
						<key>w</key>
						<real>200</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>200</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
