<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>2b5edf11</string>
						<key>displayname</key>
						<string>tile_portfolio_red.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_red.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17830</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>eddf7f34</string>
						<key>displayname</key>
						<string>tile_portfolio_gray.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_gray.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17562</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>be9c8064</string>
						<key>displayname</key>
						<string>tile_portfolio_brown.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_brown.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18090</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>e210f2b9</string>
						<key>displayname</key>
						<string>tile_portfolio_green.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_green.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18016</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3edb3967</string>
						<key>displayname</key>
						<string>tile_portfolio_blue.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_blue.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18070</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6b4eb023</string>
						<key>displayname</key>
						<string>tile_portfolio_purple.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_purple.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18448</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>2b5edf11</string>
						<key>displayname</key>
						<string>tile_portfolio_red.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_red.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17830</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>eddf7f34</string>
						<key>displayname</key>
						<string>tile_portfolio_gray.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_gray.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17562</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>be9c8064</string>
						<key>displayname</key>
						<string>tile_portfolio_brown.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_brown.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18090</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>e210f2b9</string>
						<key>displayname</key>
						<string>tile_portfolio_green.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_green.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18016</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3edb3967</string>
						<key>displayname</key>
						<string>tile_portfolio_blue.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_blue.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18070</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6b4eb023</string>
						<key>displayname</key>
						<string>tile_portfolio_purple.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_purple.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18448</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>2b5edf11</string>
						<key>displayname</key>
						<string>tile_portfolio_red.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_red.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17830</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>eddf7f34</string>
						<key>displayname</key>
						<string>tile_portfolio_gray.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_gray.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17562</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>be9c8064</string>
						<key>displayname</key>
						<string>tile_portfolio_brown.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_brown.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18090</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>e210f2b9</string>
						<key>displayname</key>
						<string>tile_portfolio_green.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_green.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18016</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3edb3967</string>
						<key>displayname</key>
						<string>tile_portfolio_blue.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_blue.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18070</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6b4eb023</string>
						<key>displayname</key>
						<string>tile_portfolio_purple.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_purple.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18448</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>2b5edf11</string>
						<key>displayname</key>
						<string>tile_portfolio_red.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_red.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17830</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>eddf7f34</string>
						<key>displayname</key>
						<string>tile_portfolio_gray.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_gray.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>17562</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>be9c8064</string>
						<key>displayname</key>
						<string>tile_portfolio_brown.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_brown.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18090</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>e210f2b9</string>
						<key>displayname</key>
						<string>tile_portfolio_green.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_green.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18016</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3edb3967</string>
						<key>displayname</key>
						<string>tile_portfolio_blue.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_blue.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18070</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>6b4eb023</string>
						<key>displayname</key>
						<string>tile_portfolio_purple.tiff</string>
						<key>hfs-type</key>
						<integer>0</integer>
						<key>path</key>
						<string>theme-files/tile_portfolio_purple.tiff</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>18448</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
