<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- App Updates -->
	<key>OSXUpdateInfo</key>
	<dict>
		<key>ApplicationVersion</key>
		<dict>
			<key>com.apple.iWork.Pages</key>
			<string>7.2</string>
			<key>com.apple.iWork.Keynote</key>
			<string>8.2</string>
			<key>com.apple.iWork.Numbers</key>
			<string>5.2</string>
		</dict>
		<key>MinimumOSVersion</key>
		<string>10.13.0</string>
		<key>UnsupportedModels</key>
		<array>
			<string>iMac7,1</string>
			<string>iMac8,1</string>
			<string>iMac9,1</string>
			<string>MacBook4,1</string>
			<string>MacBook5,1</string>
			<string>MacBook5,2</string>
			<string>MacBookAir2,1</string>
			<string>MacBookPro3,1</string>
			<string>MacBookPro4,1</string>
			<string>MacBookPro5,1</string>
			<string>MacBookPro5,2</string>
			<string>MacBookPro5,3</string>
			<string>MacBookPro5,4</string>
			<string>MacBookPro5,5</string>
			<string>Macmini3,1</string>
			<string>MacPro3,1</string>
			<string>MacPro4,1</string>
			<string>Xserve3,1</string>
		</array>
	</dict>
	<key>iOSUpdateInfo</key>
	<dict>
		<key>ApplicationVersion</key>
		<dict>
			<key>com.apple.Pages</key>
			<string>4.2</string>
			<key>com.apple.Keynote</key>
			<string>4.2</string>
			<key>com.apple.Numbers</key>
			<string>4.2</string>
		</dict>
		<key>MinimumOSVersion</key>
		<string>11.0.0</string>
		<key>UnsupportedDevices</key>
		<array>
			<string>iPad2,1</string>
			<string>iPad2,2</string>
			<string>iPad2,3</string>
			<string>iPad2,4</string>
			<string>iPad2,5</string>
			<string>iPad2,6</string>
			<string>iPad2,7</string>
			<string>iPad3,1</string>
			<string>iPad3,2</string>
			<string>iPad3,3</string>
			<string>iPad3,4</string>
			<string>iPad3,5</string>
			<string>iPad3,6</string>
			<string>iPhone3,1</string>
			<string>iPhone3,2</string>
			<string>iPhone3,3</string>
			<string>iPhone4,1</string>
			<string>iPhone5,1</string>
			<string>iPhone5,2</string>
			<string>iPhone5,3</string>
			<string>iPhone5,4</string>
			<string>iPod5,1</string>
		</array>
	</dict>

	<!-- Sharing -->
	<key>macOSCollaborationInfo</key>
	<dict>
		<key>MinimumApplicationVersionRequired.v2</key>
		<dict>
			<key>com.apple.iWork.Pages</key>
			<string>7.2</string>
			<key>com.apple.iWork.Keynote</key>
			<string>8.2</string>
			<key>com.apple.iWork.Numbers</key>
			<string>5.2</string>
		</dict>
		<key>MinimumApplicationVersionRequired</key>
		<dict>
			<key>com.apple.iWork.Pages</key>
			<string>6.3</string>
			<key>com.apple.iWork.Keynote</key>
			<string>7.3</string>
			<key>com.apple.iWork.Numbers</key>
			<string>4.3</string>
		</dict>
	</dict>
	<key>iOSCollaborationInfo</key>
	<dict>
		<key>MinimumApplicationVersionRequired.v2</key>
		<dict>
			<key>com.apple.Pages</key>
			<string>4.2</string>
			<key>com.apple.Keynote</key>
			<string>4.2</string>
			<key>com.apple.Numbers</key>
			<string>4.2</string>
		</dict>
		<key>MinimumApplicationVersionRequired</key>
		<dict>
			<key>com.apple.Pages</key>
			<string>3.3</string>
			<key>com.apple.Keynote</key>
			<string>3.3</string>
			<key>com.apple.Numbers</key>
			<string>3.3</string>
		</dict>
	</dict>

	<!-- iCloud -->
	<key>iCloudRegionInfo</key>
	<dict>
		<key>*.icloud.com</key>
		<dict>
			<key>AssetHost</key>
			<string>iwres.icloud.com</string>
			<key>Domain</key>
			<string>icloud.com</string>
			<key>DownloadableContentURL</key>
			<string>https://www.icloud.com/iwork/st/content</string>
			<key>URL</key>
			<string>https://www.icloud.com</string>
		</dict>
		<key>*.icloud.com.cn</key>
		<dict>
			<key>AssetHost</key>
			<string>iwres.icloud.com.cn</string>
			<key>Domain</key>
			<string>icloud.com.cn</string>
			<key>DownloadableContentURL</key>
			<string>https://www.icloud.com.cn/iwork/st/content</string>
			<key>URL</key>
			<string>https://www.icloud.com.cn</string>
		</dict>
	</dict>

	<!-- Old Content -->
	<key>DownloadableContentURL</key>
	<string>https://www.icloud.com/iwork/st/content</string>

	<!-- Old Sharing -->
	<key>SharingURLFormat</key>
	<string>https://www.icloud.com/%@/%@#%@</string>
	<key>TSUIsGilliganMigratedToICloudDrive</key>
	<string>YES</string>
	<key>TSUIsUnity15Available</key>
	<string>YES</string>
	<key>OSXSharingInfo</key>
	<dict>
		<key>MinimumApplicationVersionRequired</key>
		<dict>
			<key>com.apple.iWork.Pages</key>
			<string>5.6</string>
			<key>com.apple.iWork.Keynote</key>
			<string>6.6</string>
			<key>com.apple.iWork.Numbers</key>
			<string>3.6</string>
		</dict>
	</dict>
	<key>iOSSharingInfo</key>
	<dict>
		<key>MinimumApplicationVersionRequired</key>
		<dict>
			<key>com.apple.Pages</key>
			<string>2.6</string>
			<key>com.apple.Keynote</key>
			<string>2.6</string>
			<key>com.apple.Numbers</key>
			<string>2.6</string>
		</dict>
	</dict>
</dict>
</plist>
