<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.48888379335403442</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33810940384864807</real>
					<key>r</key>
					<real>0.0</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.52874034643173218</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63236439228057861</real>
					<key>r</key>
					<real>0.42012664675712585</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.23012131452560425</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.36664378643035889</real>
					<key>r</key>
					<real>0.44563972949981689</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31596857309341431</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63959717750549316</real>
					<key>r</key>
					<real>0.82142364978790283</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31245899200439453</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33014419674873352</real>
					<key>r</key>
					<real>0.27333486080169678</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.19792477786540985</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.35223925113677979</real>
					<key>r</key>
					<real>0.67376208305358887</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.48888379335403442</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33810940384864807</real>
					<key>r</key>
					<real>0.0</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.52874034643173218</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63236439228057861</real>
					<key>r</key>
					<real>0.42012664675712585</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.23012131452560425</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.36664378643035889</real>
					<key>r</key>
					<real>0.44563972949981689</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31596857309341431</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63959717750549316</real>
					<key>r</key>
					<real>0.82142364978790283</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31245899200439453</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33014419674873352</real>
					<key>r</key>
					<real>0.27333486080169678</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.19792477786540985</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.35223925113677979</real>
					<key>r</key>
					<real>0.67376208305358887</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.48888379335403442</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33810940384864807</real>
					<key>r</key>
					<real>0.0</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.52874034643173218</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63236439228057861</real>
					<key>r</key>
					<real>0.42012664675712585</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.23012131452560425</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.36664378643035889</real>
					<key>r</key>
					<real>0.44563972949981689</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31596857309341431</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63959717750549316</real>
					<key>r</key>
					<real>0.82142364978790283</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31245899200439453</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33014419674873352</real>
					<key>r</key>
					<real>0.27333486080169678</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.19792477786540985</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.35223925113677979</real>
					<key>r</key>
					<real>0.67376208305358887</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.48888379335403442</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33810940384864807</real>
					<key>r</key>
					<real>0.0</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.52874034643173218</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63236439228057861</real>
					<key>r</key>
					<real>0.42012664675712585</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.23012131452560425</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.36664378643035889</real>
					<key>r</key>
					<real>0.44563972949981689</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31596857309341431</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.63959717750549316</real>
					<key>r</key>
					<real>0.82142364978790283</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.31245899200439453</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.33014419674873352</real>
					<key>r</key>
					<real>0.27333486080169678</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>color</key>
				<dict>
					<key>a</key>
					<real>0.80000001192092896</real>
					<key>b</key>
					<real>0.19792477786540985</real>
					<key>class</key>
					<string>color</string>
					<key>color-type</key>
					<string>calibrated-rgb</string>
					<key>g</key>
					<real>0.35223925113677979</real>
					<key>r</key>
					<real>0.67376208305358887</real>
				</dict>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>3454af5e</string>
						<key>displayname</key>
						<string>jetset_tile.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>jetset_tile.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>92224</integer>
					</dict>
					<key>height</key>
					<real>128</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>128</real>
						<key>w</key>
						<real>128</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>128</real>
				</dict>
				<key>profile-data</key>
				<dict>
					<key>ID</key>
					<string>SFEData-0</string>
					<key>checksum</key>
					<string>2e3e56f6</string>
					<key>displayname</key>
					<string>color-profile</string>
					<key>hfs-type</key>
					<integer>1229144909</integer>
					<key>path</key>
					<string>color-profile</string>
					<key>sharable</key>
					<false/>
					<key>size</key>
					<integer>552</integer>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
