<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>906790b6</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36568</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>fc323436</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray5.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>f0a84479</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray6.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>40264</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>3f9d17ce</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37476</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>f2f224f8</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>b5b80d00</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42972</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>906790b6</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36568</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>fc323436</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray5.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>f0a84479</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray6.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>40264</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>3f9d17ce</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37476</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>f2f224f8</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>b5b80d00</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42972</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>906790b6</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36568</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>fc323436</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray5.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>f0a84479</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray6.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>40264</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>3f9d17ce</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37476</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>f2f224f8</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>b5b80d00</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42972</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>906790b6</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36568</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>fc323436</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray5.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray5-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35700</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>f0a84479</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray6.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray6-1.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>40264</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>3f9d17ce</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray4.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>37476</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>f2f224f8</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray2.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36384</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>b5b80d00</string>
						<key>displayname</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>hfs-type</key>
						<integer>1414088262</integer>
						<key>path</key>
						<string>Portfolio_tile_gray3.tif</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>42972</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
