<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lights</key>
	<array>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.80000001192092896</real>
			<key>name</key>
			<string>Key</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>directional</string>
			<key>xDirection</key>
			<real>0.68993711471557617</real>
			<key>yDirection</key>
			<real>-0.68664789199829102</real>
			<key>zDirection</key>
			<real>-0.2291320413351059</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.5</real>
			<key>name</key>
			<string>Center Fill</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>5</real>
			<key>yLocation</key>
			<real>10</real>
			<key>zLocation</key>
			<real>25</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.25</real>
			<key>name</key>
			<string>Right Fill</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>100</real>
			<key>yLocation</key>
			<real>0.0</real>
			<key>zLocation</key>
			<real>-100</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>0.625</real>
			<key>colorDiffuseGreen</key>
			<real>0.625</real>
			<key>colorDiffuseRed</key>
			<real>0.625</real>
			<key>colorSpecularBlue</key>
			<real>0.625</real>
			<key>colorSpecularGreen</key>
			<real>0.625</real>
			<key>colorSpecularRed</key>
			<real>0.625</real>
			<key>coordinateSpace</key>
			<string>world</string>
			<key>intensity</key>
			<real>0.60000002384185791</real>
			<key>name</key>
			<string>Bounce</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-10</real>
			<key>yLocation</key>
			<real>-10</real>
			<key>zLocation</key>
			<real>10</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.69999998807907104</real>
			<key>name</key>
			<string>Top</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>10</real>
			<key>yLocation</key>
			<real>50</real>
			<key>zLocation</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>attenuationConstant</key>
			<real>1</real>
			<key>attenuationLinear</key>
			<real>0.0</real>
			<key>attenuationQuadratic</key>
			<real>0.0</real>
			<key>colorAmbientBlue</key>
			<real>0.0</real>
			<key>colorAmbientGreen</key>
			<real>0.0</real>
			<key>colorAmbientRed</key>
			<real>0.0</real>
			<key>colorDiffuseBlue</key>
			<real>1</real>
			<key>colorDiffuseGreen</key>
			<real>1</real>
			<key>colorDiffuseRed</key>
			<real>1</real>
			<key>colorSpecularBlue</key>
			<real>1</real>
			<key>colorSpecularGreen</key>
			<real>1</real>
			<key>colorSpecularRed</key>
			<real>1</real>
			<key>coordinateSpace</key>
			<string>chart</string>
			<key>intensity</key>
			<real>0.15000000596046448</real>
			<key>name</key>
			<string>Left Fill</string>
			<key>on</key>
			<true/>
			<key>type</key>
			<string>point</string>
			<key>xLocation</key>
			<real>-100</real>
			<key>yLocation</key>
			<real>0.0</real>
			<key>zLocation</key>
			<real>-100</real>
		</dict>
	</array>
	<key>name</key>
	<string>Soft Fill</string>
</dict>
</plist>
