<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>c41a659b</string>
						<key>displayname</key>
						<string>tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>32551</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>e79aceb5</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38915</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8dfde5df</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39022</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>f86c66ac</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39601</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>4992f4af</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33479</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>e38be7ec</string>
						<key>displayname</key>
						<string>tile_ltblue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltblue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36528</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>c41a659b</string>
						<key>displayname</key>
						<string>tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>32551</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>e79aceb5</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38915</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8dfde5df</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39022</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>f86c66ac</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39601</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>4992f4af</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33479</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>e38be7ec</string>
						<key>displayname</key>
						<string>tile_ltblue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltblue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36528</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>c41a659b</string>
						<key>displayname</key>
						<string>tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>32551</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>e79aceb5</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38915</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8dfde5df</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39022</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>f86c66ac</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39601</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>4992f4af</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33479</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>e38be7ec</string>
						<key>displayname</key>
						<string>tile_ltblue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltblue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36528</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>c41a659b</string>
						<key>displayname</key>
						<string>tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>32551</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>e79aceb5</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_red.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38915</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>8dfde5df</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_orange.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39022</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>f86c66ac</string>
						<key>displayname</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>screenprint-brush_tile_yellow.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>39601</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>4992f4af</string>
						<key>displayname</key>
						<string>tile_ltgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>33479</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>e38be7ec</string>
						<key>displayname</key>
						<string>tile_ltblue.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>tile_ltblue.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>36528</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
