<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54717326164245605</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.34285497665405273</real>
				<key>r</key>
				<real>0.18199434876441956</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.28400090336799622</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58820480108261108</real>
				<key>r</key>
				<real>0.3651483952999115</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.2383916974067688</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.63062483072280884</real>
				<key>r</key>
				<real>0.90701150894165039</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.18820478022098541</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.1748531311750412</real>
				<key>r</key>
				<real>0.73832303285598755</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.47432669997215271</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2373540848493576</real>
				<key>r</key>
				<real>0.43558403849601746</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.49718472361564636</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.50022125244140625</real>
				<key>r</key>
				<real>0.48952469229698181</real>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54717326164245605</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.34285497665405273</real>
				<key>r</key>
				<real>0.18199434876441956</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.28400090336799622</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58820480108261108</real>
				<key>r</key>
				<real>0.3651483952999115</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.2383916974067688</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.63062483072280884</real>
				<key>r</key>
				<real>0.90701150894165039</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.18820478022098541</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.1748531311750412</real>
				<key>r</key>
				<real>0.73832303285598755</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.47432669997215271</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2373540848493576</real>
				<key>r</key>
				<real>0.43558403849601746</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.49718472361564636</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.50022125244140625</real>
				<key>r</key>
				<real>0.48952469229698181</real>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54717326164245605</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.34285497665405273</real>
				<key>r</key>
				<real>0.18199434876441956</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.28400090336799622</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58820480108261108</real>
				<key>r</key>
				<real>0.3651483952999115</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.2383916974067688</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.63062483072280884</real>
				<key>r</key>
				<real>0.90701150894165039</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.18820478022098541</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.1748531311750412</real>
				<key>r</key>
				<real>0.73832303285598755</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.47432669997215271</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2373540848493576</real>
				<key>r</key>
				<real>0.43558403849601746</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.49718472361564636</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.50022125244140625</real>
				<key>r</key>
				<real>0.48952469229698181</real>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.54717326164245605</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.34285497665405273</real>
				<key>r</key>
				<real>0.18199434876441956</real>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.28400090336799622</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.58820480108261108</real>
				<key>r</key>
				<real>0.3651483952999115</real>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.2383916974067688</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.63062483072280884</real>
				<key>r</key>
				<real>0.90701150894165039</real>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.18820478022098541</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.1748531311750412</real>
				<key>r</key>
				<real>0.73832303285598755</real>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.47432669997215271</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.2373540848493576</real>
				<key>r</key>
				<real>0.43558403849601746</real>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>a</key>
				<real>1</real>
				<key>b</key>
				<real>0.49718472361564636</real>
				<key>class</key>
				<string>color</string>
				<key>color-type</key>
				<string>calibrated-rgb</string>
				<key>g</key>
				<real>0.50022125244140625</real>
				<key>r</key>
				<real>0.48952469229698181</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
