<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fills</key>
	<dict>
		<key>SFC2DAreaFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>badd5817</string>
						<key>displayname</key>
						<string>drafting_tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35676</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>41b3a3de</string>
						<key>displayname</key>
						<string>drafting_tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35081</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>5513dc7f</string>
						<key>displayname</key>
						<string>drafting_tile_dkbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>41015</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>b97cbb98</string>
						<key>displayname</key>
						<string>drafting_tile_gray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35401</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>a65a7230</string>
						<key>displayname</key>
						<string>drafting_tile_dkgreen.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgreen.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35764</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>c907d038</string>
						<key>displayname</key>
						<string>drafting_tile_brown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_brown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38310</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DBarFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>5513dc7f</string>
						<key>displayname</key>
						<string>drafting_tile_dkbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>41015</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>41b3a3de</string>
						<key>displayname</key>
						<string>drafting_tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35081</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>badd5817</string>
						<key>displayname</key>
						<string>drafting_tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35676</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>c907d038</string>
						<key>displayname</key>
						<string>drafting_tile_brown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_brown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38310</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>a65a7230</string>
						<key>displayname</key>
						<string>drafting_tile_dkgreen.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgreen.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35764</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>b97cbb98</string>
						<key>displayname</key>
						<string>drafting_tile_gray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35401</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DColumnFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>badd5817</string>
						<key>displayname</key>
						<string>drafting_tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35676</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>41b3a3de</string>
						<key>displayname</key>
						<string>drafting_tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35081</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>5513dc7f</string>
						<key>displayname</key>
						<string>drafting_tile_dkbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>41015</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>b97cbb98</string>
						<key>displayname</key>
						<string>drafting_tile_gray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35401</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>a65a7230</string>
						<key>displayname</key>
						<string>drafting_tile_dkgreen.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgreen.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35764</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>c907d038</string>
						<key>displayname</key>
						<string>drafting_tile_brown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_brown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38310</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
		<key>SFC2DPieFillProperty</key>
		<dict>
			<key>Series_0</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-4</string>
						<key>checksum</key>
						<string>badd5817</string>
						<key>displayname</key>
						<string>drafting_tile_dkgray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35676</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_1</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-0</string>
						<key>checksum</key>
						<string>41b3a3de</string>
						<key>displayname</key>
						<string>drafting_tile_green.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_green.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35081</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_2</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-2</string>
						<key>checksum</key>
						<string>5513dc7f</string>
						<key>displayname</key>
						<string>drafting_tile_dkbrown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkbrown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>41015</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_3</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-5</string>
						<key>checksum</key>
						<string>b97cbb98</string>
						<key>displayname</key>
						<string>drafting_tile_gray.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_gray.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35401</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_4</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-1</string>
						<key>checksum</key>
						<string>a65a7230</string>
						<key>displayname</key>
						<string>drafting_tile_dkgreen.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_dkgreen.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>35764</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
			<key>Series_5</key>
			<dict>
				<key>class</key>
				<string>textured-fill</string>
				<key>filtered-image</key>
				<dict>
					<key>data</key>
					<dict>
						<key>ID</key>
						<string>SFEData-3</string>
						<key>checksum</key>
						<string>c907d038</string>
						<key>displayname</key>
						<string>drafting_tile_brown.jpg</string>
						<key>hfs-type</key>
						<integer>1246774599</integer>
						<key>path</key>
						<string>theme-files/drafting_tile_brown.jpg</string>
						<key>sharable</key>
						<false/>
						<key>size</key>
						<integer>38310</integer>
						<key>version</key>
						<string>1</string>
					</dict>
					<key>height</key>
					<real>100</real>
					<key>rect</key>
					<dict>
						<key>h</key>
						<real>100</real>
						<key>w</key>
						<real>100</real>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>0.0</real>
					</dict>
					<key>width</key>
					<real>100</real>
				</dict>
				<key>technique</key>
				<string>tile</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
