<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptedDateFormats</key>
	<array>
		<string>yy/M/d</string>
		<string>yy-M-d</string>
		<string>yy/M-d</string>
		<string>yy-M/d</string>
		<string>M/d</string>
		<string>M-d</string>
		<string>d-MMM</string>
		<string>d MMM</string>
		<string>MMM-d</string>
		<string>MMM d</string>
		<string>MMM-yy</string>
		<string>MMM yy</string>
		<string>M/yy</string>
		<string>M-yy</string>
		<string>d-MMM-yy</string>
		<string>d MMM yy</string>
		<string>MMM-d, yy</string>
		<string>MMM d, yy</string>
		<string>MMM, d, yy</string>
		<string>EEE, MMM d, yy</string>
		<string>EEE MMM d, yy</string>
		<string>yyyy-MM-dd</string>
	</array>
	<key>AcceptedTimeFormats</key>
	<array>
		<string>H:mm</string>
		<string>H:mm:ss</string>
		<string>h:mm</string>
		<string>h:mm:ss</string>
		<string>h:mm a</string>
		<string>h:mma</string>
		<string>h:mm:ss a</string>
		<string>h:mm:ssa</string>
		<string>h a</string>
		<string>HH:mm:ss</string>
	</array>
	<key>DisplayedDateFormats</key>
	<array>
		<string>EEEE, MMMM d, yyyy</string>
		<string>EEE, MMM d, yyyy</string>
		<string>EEEE dd MMMM yyyy</string>
		<string>MMMM d, yyyy</string>
		<string>MMM d, yyyy</string>
		<string>dd MMM yyyy</string>
		<string>dd MMMM yyyy</string>
		<string>dd MMMM</string>
		<string>yyyy MMMM</string>
		<string>MMMM</string>
		<string>yyyy</string>
		<string>yyyy/M/d</string>
		<string>yyyy/MM/dd</string>
		<string>yy/M/d</string>
		<string>yy/MM/dd</string>
		<string>yyyy-MM-dd</string>
	</array>
	<key>DisplayedTimeFormats</key>
	<array>
		<string>h a</string>
		<string>h:mm a</string>
		<string>h:mm:ss a</string>
		<string>H:mm</string>
		<string>H:mm:ss</string>
	</array>
	<key>FileName</key>
	<string>fallback-YMD.plist</string>
</dict>
</plist>
