<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptedDateFormats</key>
	<array>
		<string>d/M/yy</string>
		<string>d/M/''yy</string>
		<string>d-M-yy</string>
		<string>d-M-''yy</string>
		<string>d/M/yyyy</string>
		<string>d-M-yyyy</string>
		<string>d/M</string>
		<string>d-M</string>
		<string>d-MMM</string>
		<string>d MMM</string>
		<string>dd-MMM</string>
		<string>dd MMM</string>
		<string>d MMM yy</string>
		<string>d MMM ''yy</string>
		<string>d/MMM/yy</string>
		<string>d/MMM/''yy</string>
		<string>d MMM yyyy</string>
		<string>d-MMM-yyyy</string>
		<string>dd MMMM</string>
		<string>dd/MM/yyyy</string>
		<string>EEE d MMM yy</string>
		<string>EEE d MMM ''yy</string>
		<string>EEE d MMM yyyy</string>
		<string>MMMM yyyy</string>
		<string>MMM yy</string>
		<string>yyyy/M/d</string>
		<string>yyyy-M-d</string>
		<string>EEE d MMMM yyyy</string>
		<string>EEE d MMMM yy</string>
		<string>EEE d MMMM ''yy</string>
		<string>MMMM yy</string>
		<string>MMM ''yy</string>
		<string>MMMM ''yy</string>
		<string>MMMM</string>
	</array>
	<key>AcceptedTimeFormats</key>
	<array>
		<string>H:mm</string>
		<string>H:mm:ss</string>
		<string>h:mm</string>
		<string>h:mm:ss</string>
		<string>h:mm a</string>
		<string>h:mm:ss a</string>
		<string>h a</string>
		<string>HH:mm:ss</string>
		<string>H.mm</string>
		<string>h.mm</string>
	</array>
	<key>DisplayedDateFormats</key>
	<array>
		<string>EEEE d MMMM yyyy</string>
		<string>EEEE d MMMM yy</string>
		<string>EEEE d MMMM ''yy</string>
		<string>EEE d MMMM yyyy</string>
		<string>EEE d MMMM yy</string>
		<string>EEE d MMMM ''yy</string>
		<string>d MMMM yyyy</string>
		<string>d MMM yyyy</string>
		<string>d MMM yy</string>
		<string>d MMM ''yy</string>
		<string>d/M/yyyy</string>
		<string>dd/MM/yyyy</string>
		<string>d/M/yy</string>
		<string>d/M/''yy</string>
		<string>dd/MM/yy</string>
		<string>dd/MM/''yy</string>
		<string>d/M</string>
		<string>dd MMMM</string>
		<string>MMMM yy</string>
		<string>MMMM ''yy</string>
		<string>MMM yy</string>
		<string>MMM ''yy</string>
		<string>MMMM yyyy</string>
		<string>MMMM</string>
		<string>yyyy</string>
	</array>
	<key>DisplayedTimeFormats</key>
	<array>
		<string>h a</string>
		<string>h:mm a</string>
		<string>h:mm:ss a</string>
		<string>H:mm</string>
		<string>H:mm:ss</string>
		<string>H.mm</string>
		<string>h.mm</string>
	</array>
	<key>FileName</key>
	<string>generic-it-DMY.plist</string>
</dict>
</plist>
