<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptedDateFormats</key>
	<array>
		<string>dd/MM/yy</string>
		<string>d-M-yy</string>
		<string>dd-MM-yy</string>
		<string>d/M/yy</string>
		<string>dd-MM-yyyy</string>
		<string>dd/MM/yyyy</string>
		<string>d.M.yy</string>
		<string>dd.MM.yy</string>
		<string>d.M.yyyy</string>
		<string>d/M</string>
		<string>d-M</string>
		<string>dd/MM</string>
		<string>dd-MM</string>
		<string>MM-yy</string>
		<string>MM-yyyy</string>
		<string>MM/yy</string>
		<string>d-M-yyyy</string>
		<string>yy年/MM月/dd日</string>
		<string>yy年-M月-d日</string>
		<string>yy年-MM月-dd日</string>
		<string>yyyy年-MM月-dd日</string>
		<string>M月/d日</string>
		<string>MM月/dd日</string>
		<string>MM月-dd日</string>
		<string>yy年-MM月</string>
		<string>yyyy年-MM月</string>
		<string>yy年/MM月</string>
		<string>yyyy年-MM月-dd日</string>
		<string>yyyy年M月</string>
		<string>yyyy年</string>
		<string>MMMM月</string>
		<string>d日MMMM月</string>
		<string>yyyy年M月d日EEEE</string>
		<string>yyyy年M月d日EEE</string>
		<string>y年M月d日EEE</string>
		<string>yy年M月d日EEE</string>
		<string>y年d日EEEE</string>
		<string>yy年d日EEEE</string>
		<string>yyyy年d日EEEE</string>
		<string>M月d日</string>
		<string>MM月dd日</string>
		<string>MMMd日</string>
		<string>yy年MM月dd日EEE</string>
		<string>yyyy年MM月dd日EEE</string>
		<string>y年MMMd日EEE</string>
		<string>yy年MMMd日EEE</string>
		<string>yyyy年MMMd日EEE</string>
		<string>y年M月d日EEEE</string>
		<string>yy年M月d日EEEE</string>
		<string>yy年MM月dd日EEEE</string>
		<string>yyyy年MM月dd日EEEE</string>
		<string>y年MMMd日EEEE</string>
		<string>yy年MMMd日EEEE</string>
		<string>yyyy年MMMd日EEEE</string>
		<string>yyyy年M月d日</string>
		<string>M月d日EEEE</string>
		<string>M月d日EEE</string>
		<string>M月</string>
		<string>d日</string>
		<string>yyyy/M/d</string>
		<string>MM.dd</string>
		<string>M.d</string>
	</array>
	<key>AcceptedTimeFormats</key>
	<array>
		<string>H:mm</string>
		<string>HH:mm</string>
		<string>H:mm:ss</string>
		<string>HH:mm:ss</string>
		<string>ah:mm</string>
		<string>ahh:mm</string>
		<string>ah:mm:ss</string>
		<string>H时</string>
		<string>H时mm分</string>
		<string>H时mm分ss秒</string>
		<string>ah时</string>
		<string>ah时mm分</string>
		<string>ah时mm分ss秒</string>
	</array>
	<key>DisplayedDateFormats</key>
	<array>
		<string>yyyy年M月d日EEEE</string>
		<string>yyyy年M月d日EEE</string>
		<string>yyyy年M月d日</string>
		<string>yyyy年M月</string>
		<string>yyyy年</string>
		<string>yyyy</string>
		<string>M月d日EEEE</string>
		<string>M月d日EEE</string>
		<string>M月d日</string>
		<string>M月</string>
		<string>d日</string>
		<string>d-M-yyyy</string>
		<string>dd-MM-yyyy</string>
		<string>d-M-yy</string>
		<string>dd-MM-yy</string>
		<string>d-M</string>
		<string>d/M/yyyy</string>
		<string>dd/MM/yyyy</string>
		<string>d/M/yy</string>
		<string>dd/MM/yy</string>
		<string>d/M</string>
		<string>d.M.yyyy</string>
		<string>dd.MM.yy</string>
		<string>d.M.yy</string>
		<string>dd.MM</string>
		<string>d.M</string>
	</array>
	<key>DisplayedTimeFormats</key>
	<array>
		<string>ah时mm分ss秒</string>
		<string>ah时mm分</string>
		<string>ah时</string>
		<string>ah:mm:ss</string>
		<string>ah:mm</string>
		<string>H时mm分ss秒</string>
		<string>H时mm分</string>
		<string>H时</string>
		<string>H:mm:ss</string>
		<string>H:mm</string>
	</array>
	<key>FileName</key>
	<string>generic-zh-DMY.plist</string>
</dict>
</plist>
