<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptedDateFormats</key>
	<array>
		<string>d MMM</string>
		<string>d MMMM</string>
		<string>MMMM yyyy</string>
		<string>MMM -yy</string>
		<string>MMM yy</string>
		<string>M -yy</string>
		<string>d MMM -yy</string>
		<string>d MMM yy</string>
		<string>d MMM yyyy</string>
		<string>d MMMM yyyy</string>
		<string>d MMMM -yy</string>
		<string>MMM yyyy</string>
		<string>EEEE d MMMM yyyy</string>
		<string>EEEE d MMMM</string>
		<string>EEE d MMM yyyy</string>
		<string>EEE d MMM</string>
		<string>EEEE d MMM yyyy</string>
		<string>EEEE d MMM</string>
		<string>EEE d MMMM yyyy</string>
		<string>EEE d MMMM</string>
		<string>yyyy-M-d</string>
		<string>yyyy-MM-dd</string>
		<string>yy-MM-dd</string>
		<string>yy-M-d</string>
		<string>MMMM yyyy</string>
		<string>MMMM</string>
		<string>d/M</string>
		<string>d/M yyyy</string>
		<string>d/M -yy</string>
	</array>
	<key>AcceptedTimeFormats</key>
	<array>
		<string>H:mm</string>
		<string>H.mm</string>
		<string>H:mm:ss</string>
		<string>H.mm.ss</string>
		<string>HH:mm</string>
		<string>HH.mm</string>
		<string>HH:mm:ss</string>
		<string>HH.mm.ss</string>
	</array>
	<key>DisplayedDateFormats</key>
	<array>
		<string>EEEE d MMMM yyyy</string>
		<string>EEEE d MMMM</string>
		<string>EEE d MMM yyyy</string>
		<string>EEE d MMM</string>
		<string>d MMMM yyyy</string>
		<string>d MMM yyyy</string>
		<string>d MMMM</string>
		<string>MMMM yyyy</string>
		<string>EEEE</string>
		<string>MMMM</string>
		<string>yyyy</string>
		<string>d/M</string>
		<string>d/M yyyy</string>
		<string>d/M -yy</string>
		<string>yyyy-MM-dd</string>
	</array>
	<key>DisplayedTimeFormats</key>
	<array>
		<string>H:mm</string>
		<string>HH:mm</string>
		<string>H:mm:ss</string>
		<string>HH:mm:ss</string>
	</array>
	<key>FileName</key>
	<string>generic-sv-YMD.plist</string>
</dict>
</plist>
